<table>
  <thead>
    <tr style="border-bottom: 2px solid black;">
      <th> <%= sortable "schools.name", params[:sort], title: 'School', direction: params[:direction] %></th>
      <th> Request </th>
      <th> <%= sortable "assigned_to", params[:sort], direction: params[:direction] %> </th>
      <th> <%= sortable "created_at", params[:sort], title: "Orig Date", direction: params[:direction] %> </th>
      <th> <%= sortable "due_date", params[:sort], direction: params[:direction] %> </th>
      <th> <%= sortable "must_date", params[:sort], title: "Must Del", direction: params[:direction] %> </th>
      <th> Age </th>
      <th> <%= sortable "status", params[:sort], direction: params[:direction] %> </th>
      <th> <%= sortable "project_type", params[:sort], direction: params[:direction], title: "Type" %> </th>
      <th> <%= sortable "id", params[:sort], direction: params[:direction], title: "ID" %> </th>
    </tr>
  </thead>

  <tbody>
    <% @dprojects.where(assigned_to: "Sydnee").where.not(status: "Completed").each do |dproject| %>
      <tr>
        <td width="18%" class="dotted"><%= dproject.school.dname[0,25] + "..." %></td>
        <td width="15%" class="dotted"><%= dproject.description[0, 20] + "..." %></td>
        <td width="8%" class="dotted"><%= dproject.assigned_to %></td>
        <td width="10%" class="dotted"><%= dproject.created_at.try(:strftime, '%b %e') %></td>
        <td width="10%" class="dotted"><%= dproject.due_date.try(:strftime, '%b %e') %></td>
        <td width="10%" class="dotted"><%= dproject.must_date.try(:strftime, '%b %e') %></td>
        <td width="5%" class="dotted"><%= ((Time.now - dproject.created_at)/86400).round %></td>
        <td width="10%" class="dotted"><%= dproject.status %></td>
        <td width="10%" class="dotted"><%= dproject.project_type %></td>
        <td width="5%" class="dotted"><%= dproject.id %></td>
        <td width="5%" style="text-align: right;"><%= link_to 'Edit', edit_dproject_path(dproject) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
