<%  bucket = AWS::S3::Bucket.new('shoobphoto') %>

<% s3object = AWS::S3::S3Object.new(bucket, "csvs/#{Export.last.file_path}") %>
      

<% @image_url = s3object.url_for(:read, :expires => 60.minutes, :use_ssl => true) %>

<%= link_to 'Generate the latest CSV File of Items', export_admin_items_path %><br /> 

<% if Export.last.file_path.nil? %>
<a href="#" download class="btn btn-disabled btn-primary">The CSV is still being processed. Please refresh in a few minutes.</a>
<% else %>
<a href="<%= @image_url %>" download class="btn btn-primary">Download <%= Export.last.file_path %></a>
<% end %>
      

<% @image_url = s3object.url_for(:read, :expires => 60.minutes, :use_ssl => true) %>

<div class="row">
	<%= link_to "Manage Categories", admin_categories_path, class: "btn btn-primary" %>
    <%= render 'categories' %>
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
      <div id="itemlist">
      <%= render 'items', :locals => {:items => @items} %>
    </div>
    </div>
</div>
<br/>
