<div class="modal-dialog" id="lesson_resources">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Student Awards List</h4>
      </div>
      <div class="modal-body centered">
        <div id="table">
        <table class="table">
          <thead>
            <th>Remove</th> 
              <th><%= sort_link @search, :student_id, "Student ID",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <th><%= sort_link @search, :first_name, "First Name",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <th><%= sort_link @search, :last_name, "Last Name",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <th><%= sort_link @search, :grade, "Grade",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <th><%= sort_link @search, :teacher, "Teacher",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <th>Award</th>
          </thead>
          <tbody>
            <div class="display">
              <%= render 'results', :students => @students %>
            </div>
          </tbody>
     </table>
   </div>


      <div class="form-actions">
      <div class="modal-footer">
        <%= link_to "Clear List", export_clear_students_path(:export_list => @export_list.id), remote: true, class: "btn btn-danger", data: {confirm: "Are you sure?"} %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Add More Students</button>
        <%= link_to "Finish", new_export_list_path(:school => @school, :export_list => params[:export_list]), remote: true, class: "btn btn-primary" %>
      </div>   
      </div>   

    </div>
  </div>

