<div class="row" id="batch_links">
<div class="col-sm-3">
	<%= link_to "Add New Student", export_new_path(@school.id, @image.id), remote: true, class: "btn btn-orange btn-centered" %>
</div>
<div class="col-sm-3">
	<%= link_to "Batch Print", export_batch_path(@school.id, :operation => 'print'), remote: true, class: "btn btn-custom btn-centered batchlink" %><br/>
</div>
<div class="col-sm-3">
<%= link_to "Batch Download", export_batch_path(@school.id, :operation => 'download'), remote: true, class: "btn btn-custom btn-centered batchlink" %><br/>
</div>
<% unless current_user.teacher? %>
<div class="col-sm-3">

<%= link_to "Email Awards List", export_batch_path(@school.id, :operation => 'awards'), remote: true, class: "btn btn-custom btn-centered batchlink" %><br/>
</div>
<% end %>

</div>

<script>
$(".batchlink").on("click", function() {

  $('#myModal').modal('show');
  $("#myModal").html("<%= escape_javascript(render partial: 'loading_submit') %>"); 
});
</script>