
<%= simple_form_for(@student, :url => export_create_path(@school.id, @image.id), remote: true, :html => {:multipart => true}) do |f| %>

<div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Student</h4>
      </div>
      <div class="modal-body centered">


		First name:
<%= f.input :first_name, label: false %>
Last name:
<%= f.input :last_name, label: false %>

Student ID:
<%= f.input :student_id, label: false %>

<%= f.association :school, :selected => @school.id %>


<%= file_field_tag :image %>
<br/>


      <div class="form-actions">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        <%= f.submit class: "btn btn-primary", id: "submit" %><br/>
        <div id="window"></div>

      </div>   
      </div>  
      
    </div>
  </div>
</div>

<% end %>

<script>
$("#submit").on("click", function() {
  $("#window").html("<%= escape_javascript(render partial: 'loading') %>"); 
});
</script>