
<%= simple_form_for(@student, :url => export_update_path(@student.id, @package.id), remote: true, :html => {:multipart => true}) do |f| %>

<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit Student</h4>
      </div>
      <div class="modal-body centered">

<div class="row">
	<div class="col-sm-3">
		<%= image_tag("#{@image.image}", class: "img-rounded img-med") unless @image.nil? %><br/><br/>
	</div>
	<div class="col-sm-9">
		First name:
<%= f.input :first_name, label: false %>
Last name:
<%= f.input :last_name, label: false %>
Student ID:

<%= f.input :student_id, label: false %>

<%= f.association :school %>


<%= file_field_tag :image %>
<br/>
</div>


</div>

      <div class="form-actions">
      <div class="modal-footer">
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= link_to "Download Image", export_download_path(@student.id, @package.id), class: "btn btn-custom"  unless @package.student_images.where(:student_id => @student.id).last.try(:image).nil? %>
        <% if @nodelete %>
        <button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-placement="top" data-content="This student has an associated order and cannot be deleted." data-original-title="" title="">Delete Student</button>
        <% else %>
        <%= link_to "Delete Student", export_delete_path(@student.id), class: "btn btn-danger", remote: true,method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
        <%= f.submit class: "btn btn-primary", id: "submit" %>
        <div id="window">
        </div>
      </div>   
      </div>   

    </div>
  </div>
</div>

<% end %>

<script>
$("#submit").on("click", function() {
  $("#window").html("<%= escape_javascript(render partial: 'loading') %>"); 
});

$('[data-toggle="popover"]').popover();

$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>