<% if (defined? student) == nil %> 
<% student = @student %>
<% end %>

<tr id="student_<%= student.id %>" >
		<td>
			<%= image_tag("#{@image.student_images.where(:student_id => student.id).last.index unless @image.student_images.where(:student_id => student.id).last.try(:index).nil?}", class: "img-rounded img-index") %>
		</td>
		<td>
			<%= student.student_id %>
		</td>
		<td>
			<%= student.first_name %> <%= student.last_name %>
		</td>
		<td>
			<%= student.teacher %>
		</td>
		<td>
			<%= student.grade %>
		</td>

		<td> 
			<%= link_to "Edit", export_show_path(student.id, :image => @image.id), remote: true, class: "btn btn-custom" %>
		</td>
		<td id="student_buy_<%= student.id %>">
			<% if student.yearbooks.any? %>
			<%= render 'yearbooks/bought' %>
			<% else %>
			<%= link_to "Buy", buy_yearbook_path(student.id), class: "btn btn-custom", remote: true %>
			<% end %>
		</td>
		<td>

			<% unless @image.student_images.where(:student_id => student.id).last.try(:image).nil? %>
		<%= link_to "Download", export_download_path(student.id, @image.id), class: "btn btn-custom"  %>
		<% else %>
		<button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-placement="top" data-content="This student is missing an image for an ID card. Please upload a portrait." data-original-title="" title="">Download</button>
		<% end %>
	</td>

		<td>
			<% if @image.student_images.where(:student_id => student.id).last.try(:image_file_name).nil? %>
			<button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-placement="top" data-content="This student is missing an image for an ID card. Please upload a portrait." data-original-title="" title="">Print</button>
			<% else %>
			<%= link_to "Print", export_types_path(student.id, @school.id, :image => @image.id), remote: true, class: "btn btn-custom" %>
			<% end %>
		</td>
		<td>
			<% unless @image.student_images.where(:student_id => student.id).last.try(:image_file_name).nil? %>
			<div id="student_<%= student.id %>_check" class="student_check">
			<% if current_user.students.exists?(student) %>
				<%= link_to export_remove_student_path(student.id), remote: true do %>
				    <span class="glyphicon glyphicon-check"></span>
				<% end %>
			<% else %>
				<%= link_to export_add_student_path(student.id), remote: true do %>
				    <span class="glyphicon glyphicon-unchecked"></span>
				<% end %>
			<% end %>
			</div>
			<% end %>
 		 </td>
	</tr>