<table class="table table">
	<thead>
		<th>
		</th>
		<th>
			Student ID
		</th>
		<th>
			Name
		</th>
		<th>
			Teacher/Class
		</th>
		<th>
			Grade
		</th>

		<th>
			Edit
		</th>
		<th>
			Buy
		</th>
		<th>
			Download
		</th>
		<th> 
			Print
		</th>

		<th> 
			<div id="select_all">
			<% if (@students.pluck(:id) - current_user.students.pluck(:id)).empty? %>
				<%= link_to export_deselect_all_path(:students => @students.pluck(:id)), remote: true do %>
					    <span class="glyphicon glyphicon-check"></span>
				<% end %>Deselect All
			<% else %>
				<%= link_to export_select_all_path(:students => @students.pluck(:id)), remote: true do %>
					    <span class="glyphicon glyphicon-unchecked"></span>
				<% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select All
			<% end %>
			</div>
		</th>
	</thead>
	<tbody>
		
	<tr id="newstudentlist"></tr>

<% @students.order(:last_name).each do |student| %>

<%= render 'student_list', :student => student %>

<% end %>

</tbody>

</table>

<%= will_paginate @students %>


<script>
$('[data-toggle="popover"]').popover();

$('body').on('click', function (e) {
    $('[data-toggle="popover"]').each(function () {
        //the 'is' for buttons that trigger popups
        //the 'has' for icons within a button that triggers a popup
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});


$(".btn-submit").on("click", function() {

  $('#myModal').modal('show');
  $("#myModal").html("<%= escape_javascript(render partial: 'loading_submit') %>"); 
});
</script>