<div class="row">
    <div class="col-sm-10">
        <h2><%= @school.name %></h2>
    </div>
    <div class="col-sm-2">
    </div> 
</div>
<hr />
<div class="searchform" id="wide">
<%= form_tag(export_awards_path, method: :get, :id => "students_search") do %>
<div class="row"> 
	<div class="col-sm-2" id="nospacefirst">
        First Name: <%= text_field_tag :first_name, nil, placeholder: "First Name", class: "form-control", id: "input_first_name", label: false, input_html: {value: "#{params[:first_name]}"} %>
    </div>
    <div class="col-sm-2" id="nospace">
        Last Name: <%= text_field_tag :last_name, nil, placeholder: "Last Name", class: "form-control", id: "input_last_name", input_html: {value: "#{params[:last_name]}"} %>
    </div>
    <div class="col-sm-2" id="nospace">
     ID: <%= text_field_tag :student_id, nil, label: false, placeholder: "ID", class: "form-control", id: "input_id", input_html: {value: "#{params[:student_id]}"} %>
    </div>    
    
    <div class="col-sm-2" id="nospace">
        Grade:
    <%= select_tag :grade, options_for_select( @school.students.where(:id_only => true).select(:grade).order(:grade).map(&:grade).uniq), class: "form-control", id: "input_student_grade", :prompt => "Grade" %>

    </div>
    <div class="col-sm-2" id="nospace">
        Teacher:
    <%= select_tag :teacher, options_for_select( @school.students.where(:id_only => true).select(:teacher).order(:teacher).map(&:teacher).uniq), class: "form-control", id: "input_student_teacher", :prompt => "Teacher" %>

    </div>
    

    <div class="col-sm-1" id="nospace"><br/><%= submit_tag "Go", class: "btn btn-orange" %></div>
    <div class="col-sm-1" id="nospace"><br/>

        <div class="dropdown">
            <a class="btn btn-menu dropdown-toggle dropdown-menu-left" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="glyphicon glyphicon-menu-hamburger pull-left"></span></a>
              <span class="icon-bars-button">
                <span class="icon-bar"></span>

              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
              <% unless current_user.teacher? %><li role="presentation"><%= link_to "Yearbook Management", yearbooks_path, role: "menuitem", tabindex: "-1" %></li><% end %>



            </ul>
          </div>

    </div>
</div>
<% end %>
<br/>

</div>

<%= render 'award_links' %>

 
	<% if current_user.try(:admin) %>
 

			<%= render 'sidebar' %><br/>
			<div id="students_list"><%= render 'award_students', :locals => {:students => @students, :image => @image} %></div>
	</div>
	<% else %>
	<div id="students_list"><%= render 'award_students', :locals => {:students => @students, :image => @image} %></div>

	<% end %>
