<%= simple_form_for [:admin, @banner] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :school_type %>
  </div>
  <%= f.input :image, as: :file %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
