<%= simple_form_for([@dproject, @invoice]) do |f| %>
    <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
     <!-- Basic header code -->
    <div class="row">
    
        <!-- Empty div for spacing -->
        <div class="col-xs-9">
        </div>
    
        <!-- Project number -->
        <div class="col-xs-3" style="text-align: right;">
            <b>Project #<%= @dproject.id %> </b>
        </div>
    
    </div>
    
    <div class="row">
    
        <!-- School name -->
        <div class="col-xs-3">
            <%= @dproject.school.name %>
        </div>
    
        <!-- Scode -->
        <div class="col-xs-1">
            <%= @dproject.school.scode %>
        </div>
    
        <!-- Requested by name -->
        <div class="col-xs-3">
            Requested by: <%= @dproject.requested_by %>
        </div>
    
        <!-- Address (CITY NAME NEEDS FIXING) -->
        <div class="col-xs-5">
            <%= @dproject.school.address %>, <%= @dproject.school.dcity %>, <%= @dproject.school.state %>, <%= @dproject.school.zip %>
        </div>
    
    </div>
    
    <hr></br>
    <!-- End of header -->
    
    <!-- Table code -->
    <table class="form-inputs">
    <table class="table">
    <thead>
      <tr style="border-bottom: 2px solid black;">
        <th> Item </th>
        <th> Unit Price </th>
        <th> Quantity </th>
        <th> Line Total </th>
      </tr>
    </thead>
    
        <!-- NEED DISPLAY OF ALL EXISTING LINEITEMS HERE -->
    
        <!-- Builder for a lineitem, renders the _lineitem_fields.html.erb partial -->
        <%= f.simple_fields_for :lineitems do |builder| %>
            
            <%= render 'lineitems_fields', f: builder %>
        </tbody>        

        <% end %>
        <!-- End of builder for lineitems -->
        
        
    </table>
    <!-- End of table -->
            <%= link_to_add_fields "Add Lineitems", f, :lineitems %>

    <!-- Button to add more lineitems -->
    
    <!-- Footer code for back and update buttons -->
    </br></br>
    <div class="form-actions">
    
        <!-- UPDATE BUTTON THAT NEEDS FIXING -->
        <div class="col-xs-1">
            <%= f.button :submit, "Update Invoice" %>
        
            
        </div>
    </div>
    <br></br>
    <br></br>
        <!-- Back button -->
        <div class="col-xs-1">
        <%= link_to 'Back', dproject_invoices_path %>
        </div>
    
    <% end %> 