<h4 style="text-align: center;">Confirms</h4>
<div class="row">
<div class="col-xs-12">
<table class ="noPrint">
      <thead>
      <tr style="border-bottom: 2px solid black;">
          <th></th>
          <th> Scode </th>
          <th> <%= sort_link(@q, :school_name, "School") %> </th>
          <th> <%= sort_link(@q, :JOB, "Job") %> </th>
          <th>Jobtype</th>
          <th> <%= sort_link(@q, :DATE, 'Date') %> </th>   
          <th>Start Time</th>
          <th>Trigs</th>
          <th>Pricelist</th> 
          <th>Conf Call</th>         
          <th> <%= sort_link(@q, :CONF, "Conf", default_order: :desc) %> </th>
          <th> Conf Y/N </th>
          <th>Reconf Call</th>
          <th> <%= sort_link(@q, :RECONF, "Reconf", default_order: :desc) %> </th>
          <th> ReConf Y/N </th>
        </tr>
      </thead>

      <tbody>
        <% @djobs.each do |djob| %>
          <tr>
            <td><%= link_to 'Edit', edit_djob_path(djob, q: params[:q], :type => "confirms") %></td>
            <td width="8%" class="dotted" ><%= djob.school.scode %></td>
            <td width="8%" class="dotted" ><%= djob.school.name %></td>
            <td width="8%" class="dotted" ><%= djob.JOB %></td>
            <td width="8%" class="dotted" ><%= djob.JOBTYPE %></td>
            <td width="8%" class="dotted" ><%= djob.DATE.try(:strftime, '%a, %b %e, %Y') %></td>
            <td width="8%" class="dotted" ><%= djob.STARTTIME %></td>
            <td width="8%" class="dotted" ><%= djob.TRIGS %></td>
            <td width="8%" class="dotted" ><%= djob.PRICELIST %></td>
            <td width="8%" class="dotted" ><%= djob.CONF_CALL %></td>
            <td width="8%" class="dotted" ><%= djob.CONF %></td>
            <td width="8%" class="dotted" ><%= djob.CONF_YN %></td>
            <td width="8%" class="dotted" ><%= djob.RECONFIRM_CALL %></td>
            <td width="8%" class="dotted" ><%= djob.RECONF %></td>
            <td width="8%" class="dotted" ><%= djob.RECONFYN %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<table class = "printThis">
 <thead>      
      <tr style="border-bottom: 2px solid black;">
          <th>Scode</th>
          <th>School</th>
          <th>Job</th>
          <th>Jobtype</th>
          <th>Date</th>   
          <th>Start Time</th>   
          <th>Trigs</th> 
          <th>Pricelist</th>         
          <th>Conf Call</th>
          <th>Conf</th>
          <th>Conf Y/N</th>
          <th>Reconf Call</th>
          <th>Reconf</th>
          <th>Reconf Y/N</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @djobs.each do |djob| %>
          <tr>
            <td width="8%" class="dotted" ><%= djob.school.scode %></td>
            <td width="8%" class="dotted" ><%= djob.school.name %></td>
            <td width="8%" class="dotted" ><%= djob.JOB %></td>
            <td width="8%" class="dotted" ><%= djob.JOBTYPE %></td>
            <td width="8%" class="dotted" ><%= djob.DATE.try(:strftime, '%a, %b %e, %Y') %></td>
            <td width="8%" class="dotted" ><%= djob.STARTTIME %></td>
            <td width="8%" class="dotted" ><%= djob.TRIGS %></td>
            <td width="8%" class="dotted" ><%= djob.PRICELIST %></td>
            <td width="8%" class="dotted" ><%= djob.CONF_CALL %></td>
            <td width="8%" class="dotted" ><%= djob.CONF %></td>
            <td width="8%" class="dotted" ><%= djob.CONF_YN %></td>
            <td width="8%" class="dotted" ><%= djob.RECONFIRM_CALL %></td>
            <td width="8%" class="dotted" ><%= djob.RECONF %></td>
            <td width="8%" class="dotted" ><%= djob.RECONFYN %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>