<%= simple_form_for(@djob) do |f| %>
    <%= f.error_notification %>
    <%= f.input :DATE_eq, as: :hidden, input_html: { value: params[:q][:DATE_eq] } if params[:q] && params[:q][:DATE_eq] %>
    <%= f.input :school_name_eq, as: :hidden, input_html: { value: params[:q][:school_name_eq] } if params[:q] && params[:q][:school_name_eq] %>
    <%= f.input :JOBTYPE_eq, as: :hidden, input_html: { value: params[:q][:JOBTYPE_eq] } if params[:q] && params[:q][:JOBTYPE_eq] %>
    <%= f.input :CONF_YN_eq, as: :hidden, input_html: { value: params[:q][:CONF_YN_eq] } if params[:q] && params[:q][:JOBTYPE_eq] %>
    <%= f.input :s, as: :hidden, input_html: { value: params[:q][:s] } if params[:q] && params[:q][:s] %>

<div class="form-inputs">
  <div class = "row">    
   <div class = "col-xs-4">
          School <br />
          <%= @djob.school.dname %>
   </div>
   <div class = "col-xs-2">
          Scode <br />
          <%= @djob.school.scode %>
   </div>
   <div class = "col-xs-3">
          District <br />
          <%= @djob.school.ddistrict %>
   </div>
   <div class = "col-xs-3">
          Address <br />
          <%= @djob.school.daddress %>
   </div> 
  </div> 
  <hr>
  <div class = "row">     
   <div class = "col-xs-3">
          Principal <br />
          <%= @djob.school.principal %>
   </div>    
   <div class = "col-xs-3">
          Principal Email <br />
          <%= @djob.school.prin_email %>
      </div>
    <div class = "col-xs-3">
      Secretary <br />
      <%= @djob.school.secretary %>
    </div>
    <div class = "col-xs-3">
      Secretary Email <br />
      <%= @djob.school.sec1_email %>
    </div>
  </div>
  <hr>
  <div class = "row">    
      <div class = "col-xs-3">
          City <br />
          <%= @djob.school.city %>
      </div>
      <div class = "col-xs-2">
          State <br />
          <%= @djob.school.state %>
      </div>
      <div class = "col-xs-2">
          ZIP Code <br />
          <%= @djob.school.zip %>
      </div>
      <div class= "col-xs-3">
          Phone <br />
          <%= @djob.school.phone %>
          </div>
      <div class = "col-xs-2">
          Route <br />
          <%= @djob.school.route %>
      </div>
  </div>
<hr>       
  
<% if current_user.admin? %>

  <div class = "row">
      <div class = "col-xs-2">  
      Job <br />
      <%= f.input :JOB, :label => false %>
    </div>
      <div class = "col-xs-2">
      Job Type <br />
      <%= f.input :JOBTYPE, :label => false %>
    </div>
      <div class = "col-xs-3">  
      Date <br />
      <%= f.date_field(:DATE, {:class => "form-control"}) %>
    </div>
      <div class = "col-xs-3"> 
      Start Time <br />       
      <%= f.input :STARTTIME, :label => false %>
    </div>
      <div class = "col-xs-2">
      Trigs <br />
      <%= f.input :TRIGS, :label => false %>    
    </div>
  </div>

<% else %>

<div class = "row">
    <div class = "col-xs-2">  
        Job <br />
        <%= @djob.JOB %>
    </div>
    <div class = "col-xs-2">
        Job Type <br />
        <%= @djob.JOBTYPE %>
    </div>
    <div class = "col-xs-3">  
        Date <br />
        <%= @djob.DATE.try(:strftime, '%a, %b %e, %Y') %>
    </div>
    <div class = "col-xs-3"> 
        Start Time <br />       
        <%= @djob.STARTTIME %>
    </div>
    <div class = "col-xs-2">
        Trigs <br />
        <%= @djob.TRIGS %>  
    </div>
</div>

<% end %>

  <hr>
  <div class = "row">
  <div class = "col-xs-3">
      Price List <br />
      <%= f.input :PRICELIST, :label => false %>
  </div>
  <div class = "col-xs-3">
      Confirm call <br />
      <%= f.input :CONF_CALL, :label => false %>
  </div>
  <div class = "col-xs-3">
      Confirmed by <br />
      <%= f.input :CONF, :label => false %>
  </div>
  <div class = "col-xs-3">
      Confirmed? <br />
      <%= f.select(:CONF_YN, ["","true","false"], {}, {:class => 'form-control'}) %>
  </div>
  </div>
  <hr>
  <div class = "row">
  <div class = "col-xs-4">
      Reconfirm call <br />
      <%= f.input :CONF_CALL, :label => false %>
  </div>
  <div class = "col-xs-4">
      ReConfirmed by <br />
      <%= f.input :RECONF, :label => false %>
  </div>
  <div class = "col-xs-4">
      ReConfirmed? <br />
      <%= f.select(:RECONFYN, ["","true","false"], {}, {:class => 'form-control'}) %>
  </div>
  </div>
  <div class = "row">
  <div class = "col-xs-6">
      Job Notes <br />
      <%= f.input :JOB_NOTES, :input_html => {:rows => 4}, :label => false %>
  </div>
  <div class = "col-xs-6">
      Lab Note <br />
      <%= f.input :LAB_NOTE, :input_html => {:rows => 4}, :label => false %>
  </div>
  </div>
  <hr>
  </br></br>
  
    <div class="form-actions">
      <%= f.button :submit, "Update Job" %>
    </div>
    <%= link_to("Previous Job", bysearch_djobs_path(q: @q, id: @djob.id, direction: -1)) if @djob.sequential_djob(@q, -1) %> |
    <%= link_to("Next Job", bysearch_djobs_path(q: @q, id: @djob.id, direction: 1)) if @djob.sequential_djob(@q, 1) %> 

<% end %>