<%= simple_form_for(@djob) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :SCODE %>
    <%= f.input :JOB %>
    <%= f.input :JOBTYPE %>
    <%= f.input :DATE %>
    <%= f.input :STARTTIME %>
    <%= f.input :TRIGS %>
    <%= f.input :PRICELIST %>
    <%= f.input :RIGS %>
    <%= f.input :PHOTOG1 %>
    <%= f.input :PHOTOG_NOTE %>
    <%= f.input :JOB_NOTES %>
    <%= f.input :LAB_NOTE %>
    <%= f.input :PACK_NOTES %>
    <%= f.input :LOCATION %>
    <%= f.input :PROJSALE %>
    <%= f.input :SALE %>
    <%= f.input :ESTSHOTS %>
    <%= f.input :FLYERS %>
    <%= f.input :NOTICES %>
    <%= f.input :POSTERS %>
    <%= f.input :NOTICE_NOTE %>
    <%= f.input :CONF_CALL %>
    <%= f.input :RECONFIRM_CALL %>
    <%= f.input :DATA_CALL %>
    <%= f.input :DATA_REC %>
    <%= f.input :DATA_SETUP %>
    <%= f.input :DATA2WEB %>
    <%= f.input :LAPTOPS %>
    <%= f.input :CROP_DATE %>
    <%= f.input :CROP_NOTE %>
    <%= f.input :TYPE_DATE %>
    <%= f.input :TYPED_BY %>
    <%= f.input :CORR_DATE %>
    <%= f.input :CORR_BY %>
    <%= f.input :DATA_CLEAN %>
    <%= f.input :IMG2WEB %>
    <%= f.input :PRINT_DATE %>
    <%= f.input :PRINT_BY %>
    <%= f.input :ID_SHIP %>
    <%= f.input :PKS_SHIP %>
    <%= f.input :PKS_NOTE %>
    <%= f.input :MUG_SHIP %>
    <%= f.input :CR_SHIP %>
    <%= f.input :PICS4TEA %>
    <%= f.input :CP_PROOF_PRINTED %>
    <%= f.input :CP_PROOF_SHIPPED %>
    <%= f.input :CP_NOTES %>
    <%= f.input :CP_PROOF_RET %>
    <%= f.input :CP_CORR %>
    <%= f.input :CP_PRINTED %>
    <%= f.input :CP_SHIP %>
    <%= f.input :ADMIN_CD %>
    <%= f.input :YB_UG_CD %>
    <%= f.input :YB_SENR_CD %>
    <%= f.input :PRIN_ALBUM %>
    <%= f.input :TSHOTS %>
    <%= f.input :TPKS %>
    <%= f.input :ZPKS %>
    <%= f.input :AVPK %>
    <%= f.input :CONF_YN %>
    <%= f.input :CONF %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
