<%= simple_form_for(@djob) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<div class = "row">    
 <div class = col-xs-4>
 School <br />
  <%= f.select(:school_id, @options, {}, {:class => 'form-control'}) %>
  </div>
    <div class = col-xs-1>  
    <%= f.input :JOB %>
</div>
    <div class = col-xs-1>
    <%= f.input :JOBTYPE %>
</div>
    <div class = col-xs-3>  
    Date <br />
    <%= f.date_field(:DATE, {:class => "form-control"}) %>
</div>
    <div class = col-xs-3>        
    <%= f.input :STARTTIME %>
</div>
<div class = "row">
    <div class = col-xs-1>
    <%= f.input :TRIGS %>    
</div>
</div>
<hr>
<div class = "row">
    <div class = col-xs-1>
    <%= f.input :PRICELIST %>
</div>
    <div class = col-xs-2>
    <%= f.input :RIGS %>
</div>
    <div class = col-xs-4>
    <%= f.input :PHOTOG1 %>
</div>
    <div class = col-xs-1>
    <%= f.input :PHOTOG_NOTE %>
</div>
    <div class = col-xs-4>
    <%= f.input :JOB_NOTES %>
</div>



  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
