<h4 style="text-align: center;">Production</h4>
<div class="row">
<div class="col-xs-12">
<table class ="noPrint">
      <thead>
      <tr style="border-bottom: 2px solid black;">
          <th></th>
          <th> Scode </th>
          <th> <%= sort_link(@q, :school_name, "School") %> </th>
          <th> <%= sort_link(@q, :JOB, "Job") %> </th>
          <th>Jobtype</th>
          <th> <%= sort_link(@q, :DATE, 'Date') %> </th>   
          <th>Trigs</th>
          <th>Pricelist</th> 
          <th>Photog Note</th>
          <th>Lab Note</th>
          <th>Data Call</th>
          <th>Data Rec</th>
          <th>Data Notes</th>
          <th>Notices</th>
          <th>Data Y/N</th>
          <th>Notices Y/N</th>
          <th>Laptops (loaded)</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @djobs.each do |djob| %>
          <tr>
            <td></td>
            <td width="8%" class="dotted" ><%= djob.school.scode %></td>
            <td width="8%" class="dotted" ><%= djob.school.name %></td>
            <td width="8%" class="dotted" ><%= djob.JOB %></td>
            <td width="8%" class="dotted" ><%= djob.JOBTYPE %></td>
            <td width="8%" class="dotted" ><%= djob.DATE.try(:strftime, '%a, %b %e, %Y') %></td>
            <td width="8%" class="dotted" ><%= djob.TRIGS %></td>
            <td width="8%" class="dotted" ><%= djob.PRICELIST %></td>
            <td width="8%" class="dotted" ><%= djob.PHOTOG_NOTE %></td>
            <td width="8%" class="dotted" ><%= djob.LAB_NOTE %></td>
            <td width="8%" class="dotted" ><%= djob.DATA_CALL %></td>
            <td width="8%" class="dotted" ><%= djob.DATA_REC %></td>
            <td width="8%" class="dotted" ><%= djob.DATA_NOTES %></td>
            <td width="8%" class="dotted" ><%= djob.NOTICES %></td>
            <td width="8%" class="dotted" ><%= djob.DATA_YN %></td>
            <td width="8%" class="dotted" ><%= djob.NOTICES_YN %></td>
            <td width="8%" class="dotted" ><%= djob.LAPTOPS %></td>
            <td><%= button_to 'Destroy', djob, method: :delete, data:{confirm: "Are you sure?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<table class = "printThis">
 <thead>      
      <tr style="border-bottom: 2px solid black;">
        <th> Scode </th>
        <th> <%= sort_link(@q, :school_name, "School") %> </th>
        <th> <%= sort_link(@q, :JOB, "Job") %> </th>
        <th>Jobtype</th>
        <th> <%= sort_link(@q, :DATE, 'Date') %> </th>   
        <th>Trigs</th>
        <th>Pricelist</th>
        <th>Photog Note</th>
        <th>Lab Note</th>
        <th>Data Call</th>
        <th>Data Rec</th>
        <th>Data Notes</th>
        <th>Notices</th>
        <th>Data Y/N</th>
        <th>Notices Y/N</th>
        <th>Laptops (loaded)</th>
      </tr>
      </thead>

      <tbody>
        <% @djobs.each do |djob| %>
          <tr>
            <td width="8%" class="dotted" ><%= djob.school.scode %></td>
            <td width="8%" class="dotted" ><%= djob.school.name %></td>
            <td width="8%" class="dotted" ><%= djob.JOB %></td>
            <td width="8%" class="dotted" ><%= djob.JOBTYPE %></td>
            <td width="8%" class="dotted" ><%= djob.DATE.try(:strftime, '%a, %b %e, %Y') %></td>
            <td width="8%" class="dotted" ><%= djob.TRIGS %></td>
            <td width="8%" class="dotted" ><%= djob.PRICELIST %></td>
            <td width="8%" class="dotted" ><%= djob.PHOTOG_NOTE %></td>
            <td width="8%" class="dotted" ><%= djob.LAB_NOTE %></td>
            <td width="8%" class="dotted" ><%= djob.DATA_CALL %></td>
            <td width="8%" class="dotted" ><%= djob.DATA_REC %></td>
            <td width="8%" class="dotted" ><%= djob.DATA_NOTES %></td>
            <td width="8%" class="dotted" ><%= djob.NOTICES %></td>
            <td width="8%" class="dotted" ><%= djob.DATA_YN %></td>
            <td width="8%" class="dotted" ><%= djob.NOTICES_YN %></td>
            <td width="8%" class="dotted" ><%= djob.LAPTOPS %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>