<style>

.dotted{
  border-bottom: 1px dotted black;
}

td, th{
  font-size: 16px;
}

button {
	border-radius: 5px;
	background-color: white;
	width: 15%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    width: 100% !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: center;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#photography {
  display: none;
}

#production {
  display: none;
}

#confirms {
  display: block;
}

#btnConfirms {
  color: white;
  background-color: black;
}

.printThis {
  display: none;
}

@media print {
    .noPrint { display: none; }
    .printThis { 
        display: block; 
    }
} 

</style>

<div class="row noPrint">
  <div class="col-xs-8">
    <h4>Jobs</h4>
    <br>
    <div class="col-xs-4">
      <%= link_to 'New djob', new_djob_path, class: "btn btn-primary" %>
      </div>
    <div class="col-xs-8">
      <button onclick="printPage()">Print</button>
    </div>
    </br></br>
    <button id="btnConfirms" onclick="toggleConfirms()">Confirms</button>
    <button id="btnPhotography" onclick="togglePhotography()">Photography</button>
    <button id="btnProduction" onclick="toggleProduction()">Production</button>
    </br></br>
    <%= search_form_for @q do |f| %>
    <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
      School:
      <%= f.select :school_name_eq, Djob.includes(:school).order('schools.name').all.map { |djob| djob.school.name }.uniq, selected: (params[:q] ? params[:q][:school_name_eq] : nil), include_blank: true %>
      <br />
      Job Type:
      <%= f.select :JOBTYPE_eq, Djob.all.order(:JOBTYPE).pluck(:JOBTYPE).uniq, selected: (params[:q] ? params[:q][:JOBTYPE_eq] : nil), include_blank: true %>
      <br />
      Confirmed?:
      <%= f.select :CONF_YN_eq, Djob.all.order(:CONF_YN).pluck(:CONF_YN).uniq, selected: (params[:q] ? params[:q][:CONF_YN_eq] : nil), include_blank: true %>
      <div class = "Date">
        <div class="col-xs-6">
          Date:
          <%= f.date_field :DATE_eq, class: 'form-control input-sm', 'datepicker' => true %>
        </div>
      </div>
      </br>
      <div class="col-xs-6">
        <%= f.submit %>
      </div>
      <br />
      <div class = "col-xs-2">
        <%= link_to 'Previous', bydate_djobs_path(q: params[:q], direction: -1)  %>
      </div>
        <div class = "col-xs-2"> 
          <%= link_to 'Next', bydate_djobs_path(q: params[:q], direction: 1)  %>
        </div>
        <br />
      </div>
      </br>
      </br>
  <h3>Import Jobs</h3>
  <%= form_tag import_djobs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Jobs" %>
  <br></br>
  <%= link_to("Generate CSV", djobs_path(params.merge(format: 'csv')), class: "btn btn-success",) %>
  <br />
</div>
</div>
<% end %>
</div>
</br></br>

<div id="confirms">
  <% if current_user.admin? %>
    <%= render 'confirms_admin' %>
  <% else %>
    <%= render 'confirms_nonadmin' %>
  <% end %>
</div>
</div>

<div id="photography">
  <% if current_user.admin? %>
    <%= render 'photography_admin' %>
  <% else %>
    <%= render 'photography_nonadmin' %>
  <% end %>
</div>
</div>

<div id="production">
  <% if current_user.admin? %>
    <%= render 'production_admin' %>
  <% else %>
    <%= render 'production_nonadmin' %>
  <% end %>
</div>
</div>

<% end %>

<script>

function toggleConfirms() {
    var x = document.getElementById("confirms");
    var y = document.getElementById("photography");
    var z = document.getElementById("production");
    var btnx = document.getElementById("btnConfirms");
    var btny = document.getElementById("btnPhotography");
    var btnz = document.getElementById("btnProduction");
    if (x.style.display == "none") {
        x.style.display = "block";
        btnx.style.color = "white";
        btnx.style.backgroundColor = "black";
    } else {
        x.style.display = "none";
        btnx.style.color = "black";
        btnx.style.backgroundColor = "white";
    }
}

function togglePhotography() {
    var x = document.getElementById("confirms");
    var y = document.getElementById("photography");
    var z = document.getElementById("production");
    var btnx = document.getElementById("btnConfirms");
    var btny = document.getElementById("btnPhotography");
    var btnz = document.getElementById("btnProduction");
    if (y.style.display == "none") {
        y.style.display = "block";
        btny.style.color = "white";
        btny.style.backgroundColor = "black";
    } else {
        y.style.display = "none";
        btny.style.color = "black";
        btny.style.backgroundColor = "white";
    }
}

function toggleProduction() {
    var x = document.getElementById("confirms");
    var y = document.getElementById("photography");
    var z = document.getElementById("production");
    var btnx = document.getElementById("btnConfirms");
    var btny = document.getElementById("btnPhotography");
    var btnz = document.getElementById("btnProduction");
    if (z.style.display == "none") {
        z.style.display = "block";
        btnz.style.color = "white";
        btnz.style.backgroundColor = "black";
    } else {
        z.style.display = "none";
        btnz.style.color = "black";
        btnz.style.backgroundColor = "white";
    }
}

function printPage() {
    window.print();
}

</script>

