<style>

.dotted{
  border-bottom: 1px dotted black;
}

td, th{
  font-size: 16px;
}

button {
	border-radius: 5px;
	background-color: white;
	width: 15%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    width: 100% !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: center;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#all {
  display: none;
}

#filtered {
  display: block;
}

.printThis {
  display: none;
}

@media print {
    .noPrint { display: none; }
    .printThis { 
        display: block; 
    }
} 

</style>

<h1>Jobs</h1>
<br>
<div class="row noPrint">
  <div class="col-xs-2">
    <%= link_to 'New djob', new_djob_path, class: "btn btn-primary" %> 
  </div>
  <div class="col-xs-10">
    <button onclick="printPage()">Print Report</button>
  </div>
</div>
<%= search_form_for @q do |f| %>
   <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
  School:
   <%= f.select :school_name_eq, Djob.includes(:school).order('schools.name').all.map { |djob| djob.school.name }.uniq, selected: (params[:q] ? params[:q][:school_name_eq] : nil), include_blank: true %>
 <br />
  Job Type:
  <%= f.select :JOBTYPE_eq, Djob.all.order(:JOBTYPE).pluck(:JOBTYPE).uniq, selected: (params[:q] ? params[:q][:JOBTYPE_eq] : nil), include_blank: true %>
<br />
  Confirmed?:
  <%= f.select :CONF_YN_eq, Djob.all.order(:CONF_YN).pluck(:CONF_YN).uniq, selected: (params[:q] ? params[:q][:CONF_YN_eq] : nil), include_blank: true %>
  <div class = "Date">
  <div class="col-md-2">
  Date:
  <%= f.date_field :DATE_eq, class: 'form-control input-sm', 'datepicker' => true %>
  </div>

<br />

  <%= f.submit %>

  <br />
<div class = "row noPrint">
<div class = col-xs-1>
  <%= link_to 'Previous', bydate_djobs_path(q: params[:q], direction: -1)  %>
  </div>
 <div class = col-xs-1> 
  <%= link_to 'Next', bydate_djobs_path(q: params[:q], direction: 1)  %>
  </div>
<br />

<h3>Import Jobs</h3>
<%= form_tag import_djobs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Jobs" %>
<br></br>
<%= link_to("Generate CSV", djobs_path(params.merge(format: 'csv')), class: "btn btn-success",) %>
<br />
<div></div>
<% end %>

  

<table class ="noPrint">
      <thead>
      <tr style="border-bottom: 2px solid black;">
          <th></th>
          <th> <%= sort_link(@q, :school_name, "School") %> </th>
          <th> <%= sort_link(@q, :DATE, 'Date') %> </th>   
          <th>Start Time </th>
          <th> <%= sort_link(@q, :JOB, "Job") %> </th>
          <th>Jobtype</th>
          <th>Location</th>
          <th>Trigs</th>          
          <th>Rigs</th>
          <th> <%= sort_link(@q, :CONF, "Confirm", default_order: :desc) %> </th>
          <th> Confirmed Y/N </th>
          <th>Reconfirm call</th>
          <th>Job notes</th>
          <th></th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @djobs.where.not('"CONF" like ?', "%Conf.downcase%").each do |djob| %>
          <tr>
            <td><%= link_to 'Edit', edit_djob_path(djob, q: params[:q]) %></td>
            <td width="8%" class="dotted" ><%= djob.school.name %></td>
            <td width="8%" class="dotted" ><%= djob.DATE.try(:strftime, '%b %e, %Y') %></td>
            <td width="8%" class="dotted" ><%= djob.STARTTIME %></td>
            <td width="8%" class="dotted" ><%= djob.JOB %></td>
            <td width="8%" class="dotted" ><%= djob.JOBTYPE %></td>
            <td width="8%" class="dotted" ><%= djob.LOCATION %></td>
            <td width="8%" class="dotted" ><%= djob.TRIGS %></td>
            <td width="8%" class="dotted" ><%= djob.RIGS %></td>
            <td width="8%" class="dotted" ><%= djob.CONF %></td>
            <td width="8%" class="dotted" ><%= djob.CONF_YN %></td>
            <td width="8%" class="dotted" ><%= djob.RECONFIRM_CALL %></td>
            <td width="18%" class="dotted" ><%= djob.JOB_NOTES %></td>
            <td><%= button_to 'Destroy', djob, method: :delete, data:{confirm: "Are you sure?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

<table class = "printThis">
 <thead>      
      <tr style="border-bottom: 2px solid black;">
          <th></th>
          <th>School</th>
          <th>Date</th>   
          <th>Start Time</th>   
          <th>Job</th>
          <th>Jobtype</th>
          <th>Location</th>
          <th>Trigs</th>          
          <th>Rigs</th>
          <th>Confirmed</th>
          <th>Confirmed Y/N</th>
          <th>Reconfirm call</th>
          <th>Job notes</th>
          <th></th>

          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @djobs.each do |djob| %>
          <tr>
            <td width="8%" class="dotted" ><%= djob.school.name %></td>
            <td width="8%" class="dotted" ><%= djob.DATE.try(:strftime, '%b %e, %Y') %></td>
            <td width="8%" class="dotted" ><%= djob.STARTTIME %></td>
            <td width="8%" class="dotted" ><%= djob.JOB %></td>
            <td width="8%" class="dotted" ><%= djob.JOBTYPE %></td>
            <td width="8%" class="dotted" ><%= djob.LOCATION %></td>
            <td width="8%" class="dotted" ><%= djob.TRIGS %></td>
            <td width="8%" class="dotted" ><%= djob.RIGS %></td>
            <td width="8%" class="dotted" ><%= djob.CONF %></td>
            <td width="8%" class="dotted" ><%= djob.CONF_YN %></td>
            <td width="8%" class="dotted" ><%= djob.RECONFIRM_CALL %></td>
            <td width="18%" class="dotted" ><%= djob.JOB_NOTES %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
<% end %>

<script>

function printPage() {
    window.print();
}

</script>

