<h1>Jobs</h1>
<br>
<%= link_to 'New Djob', new_djob_path %>
<br>
<div class = "media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>School</th>
          <th>Date</th>
          <th>Starttime</th>        
          <th>Job</th>
          <th>Jobtype</th>
          <th>Location</th>
          <th>Trigs</th>          
          <th>Rigs</th>
          <th>Photog1</th>
          <th>Reconfirm call</th>
          <th>Job notes</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @djobs.each do |djob| %>
          <tr>
            <td width="8%" class="dotted" ><%= djob.scode%></td>
            <td width="8%" class="dotted" ><%= djob.DATE.try(:strftime, '%b %e') %></td>
            <td width="8%" class="dotted" ><%= djob.STARTTIME %></td>
            <td width="8%" class="dotted" ><%= djob.JOB %></td>
            <td width="8%" class="dotted" ><%= djob.JOBTYPE %></td>
            <td width="8%" class="dotted" ><%= djob.LOCATION %></td>
            <td width="8%" class="dotted" ><%= djob.TRIGS %></td>
            <td width="8%" class="dotted" ><%= djob.RIGS %></td>
            <td width="8%" class="dotted" ><%= djob.PHOTOG1 %></td>
            <td width="8%" class="dotted" ><%= djob.RECONFIRM_CALL %></td>
            <td width="18%" class="dotted" ><%= djob.JOB_NOTES %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>    
<br>


<h3>Import Jobs</h3>
<%= form_tag import_djobs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Jobs" %>
<%end%> 


