<p id="notice"><%= notice %></p>

<p>
  <strong>Scode:</strong>
  <%= @djob.SCODE %>
</p>

<p>
  <strong>Job:</strong>
  <%= @djob.JOB %>
</p>

<p>
  <strong>Jobtype:</strong>
  <%= @djob.JOBTYPE %>
</p>

<p>
  <strong>Date:</strong>
  <%= @djob.DATE %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @djob.STARTTIME %>
</p>

<p>
  <strong>Trigs:</strong>
  <%= @djob.TRIGS %>
</p>

<p>
  <strong>Pricelist:</strong>
  <%= @djob.PRICELIST %>
</p>

<p>
  <strong>Rigs:</strong>
  <%= @djob.RIGS %>
</p>

<p>
  <strong>Photog1:</strong>
  <%= @djob.PHOTOG1 %>
</p>

<p>
  <strong>Photog note:</strong>
  <%= @djob.PHOTOG_NOTE %>
</p>

<p>
  <strong>Job notes:</strong>
  <%= @djob.JOB_NOTES %>
</p>

<p>
  <strong>Lab note:</strong>
  <%= @djob.LAB_NOTE %>
</p>

<p>
  <strong>Pack notes:</strong>
  <%= @djob.PACK_NOTES %>
</p>

<p>
  <strong>Location:</strong>
  <%= @djob.LOCATION %>
</p>

<p>
  <strong>Projsale:</strong>
  <%= @djob.PROJSALE %>
</p>

<p>
  <strong>Sale:</strong>
  <%= @djob.SALE %>
</p>

<p>
  <strong>Estshots:</strong>
  <%= @djob.ESTSHOTS %>
</p>

<p>
  <strong>Flyers:</strong>
  <%= @djob.FLYERS %>
</p>

<p>
  <strong>Notices:</strong>
  <%= @djob.NOTICES %>
</p>

<p>
  <strong>Posters:</strong>
  <%= @djob.POSTERS %>
</p>

<p>
  <strong>Notice note:</strong>
  <%= @djob.NOTICE_NOTE %>
</p>

<p>
  <strong>Conf call:</strong>
  <%= @djob.CONF_CALL %>
</p>

<p>
  <strong>Reconfirm call:</strong>
  <%= @djob.RECONFIRM_CALL %>
</p>

<p>
  <strong>Data call:</strong>
  <%= @djob.DATA_CALL %>
</p>

<p>
  <strong>Data rec:</strong>
  <%= @djob.DATA_REC %>
</p>

<p>
  <strong>Data setup:</strong>
  <%= @djob.DATA_SETUP %>
</p>

<p>
  <strong>Data2web:</strong>
  <%= @djob.DATA2WEB %>
</p>

<p>
  <strong>Laptops:</strong>
  <%= @djob.LAPTOPS %>
</p>

<p>
  <strong>Crop date:</strong>
  <%= @djob.CROP_DATE %>
</p>

<p>
  <strong>Crop note:</strong>
  <%= @djob.CROP_NOTE %>
</p>

<p>
  <strong>Type date:</strong>
  <%= @djob.TYPE_DATE %>
</p>

<p>
  <strong>Typed by:</strong>
  <%= @djob.TYPED_BY %>
</p>

<p>
  <strong>Corr date:</strong>
  <%= @djob.CORR_DATE %>
</p>

<p>
  <strong>Corr by:</strong>
  <%= @djob.CORR_BY %>
</p>

<p>
  <strong>Data clean:</strong>
  <%= @djob.DATA_CLEAN %>
</p>

<p>
  <strong>Img2web:</strong>
  <%= @djob.IMG2WEB %>
</p>

<p>
  <strong>Print date:</strong>
  <%= @djob.PRINT_DATE %>
</p>

<p>
  <strong>Print by:</strong>
  <%= @djob.PRINT_BY %>
</p>

<p>
  <strong>Id ship:</strong>
  <%= @djob.ID_SHIP %>
</p>

<p>
  <strong>Pks ship:</strong>
  <%= @djob.PKS_SHIP %>
</p>

<p>
  <strong>Pks note:</strong>
  <%= @djob.PKS_NOTE %>
</p>

<p>
  <strong>Mug ship:</strong>
  <%= @djob.MUG_SHIP %>
</p>

<p>
  <strong>Cr ship:</strong>
  <%= @djob.CR_SHIP %>
</p>

<p>
  <strong>Pics4tea:</strong>
  <%= @djob.PICS4TEA %>
</p>

<p>
  <strong>Cp proof printed:</strong>
  <%= @djob.CP_PROOF_PRINTED %>
</p>

<p>
  <strong>Cp proof shipped:</strong>
  <%= @djob.CP_PROOF_SHIPPED %>
</p>

<p>
  <strong>Cp notes:</strong>
  <%= @djob.CP_NOTES %>
</p>

<p>
  <strong>Cp proof ret:</strong>
  <%= @djob.CP_PROOF_RET %>
</p>

<p>
  <strong>Cp corr:</strong>
  <%= @djob.CP_CORR %>
</p>

<p>
  <strong>Cp printed:</strong>
  <%= @djob.CP_PRINTED %>
</p>

<p>
  <strong>Cp ship:</strong>
  <%= @djob.CP_SHIP %>
</p>

<p>
  <strong>Admin cd:</strong>
  <%= @djob.ADMIN_CD %>
</p>

<p>
  <strong>Yb ug cd:</strong>
  <%= @djob.YB_UG_CD %>
</p>

<p>
  <strong>Yb senr cd:</strong>
  <%= @djob.YB_SENR_CD %>
</p>

<p>
  <strong>Prin album:</strong>
  <%= @djob.PRIN_ALBUM %>
</p>

<p>
  <strong>Tshots:</strong>
  <%= @djob.TSHOTS %>
</p>

<p>
  <strong>Tpks:</strong>
  <%= @djob.TPKS %>
</p>

<p>
  <strong>Zpks:</strong>
  <%= @djob.ZPKS %>
</p>

<p>
  <strong>Avpk:</strong>
  <%= @djob.AVPK %>
</p>

<p>
  <strong>Conf yn:</strong>
  <%= @djob.CONF_YN %>
</p>

<p>
  <strong>Conf:</strong>
  <%= @djob.CONF %>
</p>

<%= link_to 'Edit', edit_djob_path(@djob) %> |
<%= link_to 'Back', djobs_path %>
