<fieldset>

<div class="row">
    <div class="col-sm-3">
        <%= f.input :afile, as: :file, :label => false %>
    </div>
    <div class="col-sm-3">
        <%= f.input :dcomment, :label => false %>
    </div>
    <div class="col-sm-4">
        <a href = <%= f.object.afile.url %> download = <%= f.object.afile_file_name %> > <%= f.object.afile_file_name %> </a>
    </div>
    <div class="col-sm-2">
        <%= f.check_box :_destroy %>
    </div>
</div>

</fieldset>