<%= simple_form_for(@dproject) do |f| %>
  <%= f.error_notification %>
  

<div class="form-inputs">

<div class="row">
  <div class="col-xs-3">
    School <br />
    <%= f.select(:school_id, @options, {}, {:class => 'form-control'}) %>
  </div>
  <div class="col-xs-1">
    Account <br />
    
  </div>
  <div class="col-xs-2">
    Requested by
    <%= f.input :requested_by, :label => false %>
  </div>
  <div class="col-xs-3">
    Contact Email
    <%= f.input :contact_email, :label => false %>
  </div>
  <div class="col-xs-3">
    Item Type<br />
    <div class="col-xs-12">
      <%= f.select(:project_type, ["Award", "Background", "Banner", "Bookmark", "Brochure", "Business Card", "Calendar", "Catalog", "Flyer", "ID Cards", "Large Poster", "Misc", "Notepads", "Pads", "Planner/Handbook", "Postcard", "Posters", "Pricelist", "Programs", "Stickers", "Ticket", "Yearbook"], {:prompt => "Select item"}, {:class => "form-control"}) %>
      </div>
  </div>
</div>


<hr>
<div class="row">
  <div class="col-xs-2">
    Due date <br />
    <%= f.date_field(:due_date, {:class => "form-control"}) %>
  </div>
  <div class="col-xs-2">
    Must deliver date <br />
    <%= f.date_field(:must_date, {:class => "form-control"}) %>
  </div>
  <div class="col-xs-3">
    Assigned to <br />
    <%= f.select(:assigned_to, ["Unassigned", "Katie", "Sydnee", "Kemoyah", "Ethan", "Grace", "Ashley", "Heather", "Zaira", "Sunshine", "Jordan", "Erinn", "Developer", "Print"], {}, {:class => "form-control"}) %>
  </div>
  <div class="col-xs-3">
    Assigned by <br />
    <%= f.select(:assigned_by, ["", "Katie", "Sydnee", "Kemoyah", "Alex", "Nick"], {}, {:class => "form-control"}) %>
  </div>
</div>
<br />
<hr>
<div class="row">
  <div class="col-xs-3">
    Delivery Method <br />
    <%= f.select(:delivery_type, ["Hand Deliver", "Ship", "Pick Up"], {}, {:class => "form-control"}) %>
  </div>
  <div class="col-xs-2">
    Route <br />
    
  </div>
  <div class="col-xs-7">
    Shipping instructions <br />
    <%= f.input :shipping_instructions, :label => false %>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    Delivered <br />
    <%= f.date_field(:delivery_date, {:class => "form-control"}) %>
  </div>
  <div class="col-xs-3">
    Tracking #<br />
    <%= f.input :tracking_number, :label => false %>
  </div>
  <div class="col-xs-3">
    Delivered by<br />
    <%= f.input :delivered_by, :label => false %>
  </div>
  <div class="col-xs-3">
    Recieved by<br />
    <%= f.input :recieved_by, :label => false %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    Project path <br />
    <%= f.input :project_path, :input_html => {:rows => 1}, :label => false %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Title <br />
    <%= f.input :title :input_html => {:rows => 1}, :label => false %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    Request <br />
    <%= f.input :description, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Changes <br />
    <%= f.input :project_changes, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Change Log <br />
    
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    Design Instructions <br />
    <%= f.input :design_instructions, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Printing Instructions <br />
    <%= f.input :printing_instructions, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Invoicing <br />
    <%= f.select(:invoice_status, ["", "Needs Invoice", "Has Invoice", "Invoice Paid"], {}, {:class => 'form-control'}) %>
    Invoice Notes <br />
    <%= f.input :invoice_notes, :input_html => {:rows => 2}, :label => false %>
  </div>
    <br />
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    Status <br />
    <%= f.select(:status, ["", "Started", "Ready to Proof", "Proof sent", "Changes", "New proof ready", "New proof sent", "Follow up sent", "Ready to print", "On Hold", "Printed", "Packaged", "In Transit", "Delivered"], {}, {:class => 'form-control'}) %>
  </div>
<br />

  <div class="form-actions">
    <%= f.error :base %>
    <%= f.button :submit, name: "stay", value: "Create" %>
    <%= f.button :submit, name: "stay", value: "Create & Edit" %>
  </div>
</div>

<br /><br />

<div class="row">
    <div class="col-sm-3">
        Attach
    </div>
    <div class="col-sm-3">
        Comment
    </div>
    <div class="col-sm-4">
        Download Link
    </div>
    <div class="col-sm-2">
        Delete?
    </div>
</div>

<%= f.simple_fields_for :dattachments do |builder| %>
  <%= render 'dattachment_fields', f: builder %>
<% end %>

<%= link_to_add_fields "Add Attachments", f, :dattachments %>

<br /><br />
<% end %>