<%= simple_form_for(@dproject) do |f| %>
  <%= f.error_notification %>
  <%= f.input :assigned_to_eq, as: :hidden, input_html: { value: params[:q][:assigned_to_eq] } if params[:q] && params[:q][:assigned_to_eq] %>
  <%= f.input :status_eq, as: :hidden, input_html: { value: params[:q][:status_eq] } if params[:q] && params[:q][:status_eq] %>
  <%= f.input :school_name_eq, as: :hidden, input_html: { value: params[:q][:school_name_eq] } if params[:q] && params[:q][:school_name_eq] %>
  <%= f.input :school_route_eq, as: :hidden, input_html: { value: params[:q][:school_route_eq] } if params[:q] && params[:q][:school_route_eq] %>

  <%= f.input :s, as: :hidden, input_html: { value: params[:q][:s] } if params[:q] && params[:q][:s] %>

<div class="form-inputs">
<div class="row">
  <div class=col-xs-3>
    School <br />
    <%= @dproject.school.dname %>
  </div>
  <div class=col-xs-1>
    Account <br />
    <%= @dproject.school.scode %>
  </div>
  <div class=col-xs-2>
    Requested by
    <%= f.input :requested_by, :label => false %>
  </div>
  <div class=col-xs-3>
    Contact Email
    <%= f.input :contact_email, :label => false %>
  </div>
  <div class="col-xs-3">
    Item Type<br />
      <div class="col-xs-12">
        <%= f.select(:project_type, ["Award", "Background", "Banner", "Brochure", "Calendar", "Catalog", "Flyer", "ID Cards", "Large Poster", "Misc", "Notepads", "Pads", "Planner/Handbook", "Postcard", "Posters", "Stickers", "Ticket", "Yearbook"], {:prompt => "Select item"}, {:class => "form-control"}) %>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class=col-xs-2>
    Date Originated <br />
    <%= @dproject.created_at.try(:strftime, '%b %e, %Y') %>
  </div>
  <div class=col-xs-2>
    Due date <br />
    <%= f.date_field(:due_date, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-2>
    Must deliver date <br />
    <%= f.date_field(:must_date, {:class => "form-control"}) %>
  </div>
  <div class="col-xs-3">
    Assigned to <br />
    <%= f.select(:assigned_to, ["", "Katie", "Sydnee", "Kemoyah", "Ethan", "Alex P", "Grace", "Lacey", "Ashley", "Print"], {}, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-3>
    Assigned by <br />
    <%= f.select(:assigned_by, ["", "Katie", "Sydnee", "Kemoyah", "Alex", "Nick"], {}, {:class => "form-control"}) %>
  </div>
</div>
<br />
<hr>
<div class="row">
  <div class=col-xs-3>
    Delivery Method <br />
    <%= f.select(:delivery_type, ["Hand Deliver", "Ship", "Pick Up"], {}, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-2>
    Route <br />
    <%= @dproject.school.route %>
  </div>
  <div class=col-xs-7>
    Shipping instructions <br />
    <%= f.input :shipping_instructions, :label => false %>
  </div>
</div>
<div class="row">
  <div class="col-xs-3">
    Delivered <br />
    <%= f.date_field(:delivery_date, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-3>
    Tracking #<br />
    <%= f.input :tracking_number, :label => false %>
  </div>
  <div class=col-xs-3>
    Delivered by<br />
    <%= f.input :delivered_by, :label => false %>
  </div>
  <div class=col-xs-3>
    Recieved by<br />
    <%= f.input :recieved_by, :label => false %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    Project path <br />
    <%= f.input :project_path, :input_html => {:rows => 1}, :label => false %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    Request <br />
    <%= f.input :description, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Changes <br />
    <%= f.input :project_changes, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Change Log <br />
    <%= @dproject.change_log %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    Design Instructions <br />
    <%= f.input :design_instructions, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Printing Instructions <br />
    <%= f.input :printing_instructions, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3" style="text-align: center;"">
    Invoicing <%= f.check_box :invoice_bool %><br />
    <%= f.input :invoice_notes, :input_html => {:rows => 5}, :label => false %>

    <br />
  </div>
</div>
<div class="row">
  <div class=col-xs-2>
    Status <br />
    <%= f.select(:status, ["", "Started", "Ready to Proof", "Proof sent", "Changes", "New proof ready", "New proof sent", "Follow up sent", "Ready to print", "On Hold", "Printed", "Packaged", "In Transit", "Delivered"], {}, {:class => 'form-control'}) %>
  </div>
  <div class=col-xs-2>
    Status Changed<br />
    <%= @dproject.status_date.try(:strftime, '%b %e, %Y') %>
  </div>
    <div class=col-xs-2>
    Attachment <br />
    <%= f.input :project_attachment, as: :file, :label => false %>
  </div>
  <br />
  <div class="form-actions col-xs-2">
    <%= f.button :submit, "Update Project" %>
  </div>
  <div class="form-actions col-xs-1">
  </div>
  <div class="form-actions col-xs-3" style="text-align: center;">
    <%= link_to 'Packing Slip', dproject_packingslip_path(@dproject.id), {class: 'form-control'} %>
  </div>
  <br /><br />
</div>
<%= link_to("Previous Project", @dproject.previous_dproject) if @dproject.previous_dproject %> |
<%= link_to("Next Project", @dproject.next_dproject) if @dproject.next_dproject %>
</div>
<% end %> 