<%= simple_form_for(@dproject) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

<div class="row">
  <div class=col-xs-3>
    School <br />
    <%= f.select(:school_id, @options, {}, {:class => 'form-control'}) %>
  </div>
  <div class=col-xs-1>
    Account <br />
    
  </div>
  <div class=col-xs-4>
    Requested by
    <%= f.input :requested_by, :label => false %>
  </div>
  <div class=col-xs-4>
    Contact Email
    <%= f.input :contact_email, :label => false %>
  </div>
</div>
<hr>
<div class="row">
  <div class=col-xs-2>
    Date Originated <br />

  </div>
  <div class=col-xs-2>
    Due date <br />
    <%= f.date_field(:due_date, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-2>
    Must deliver date <br />
    <%= f.date_field(:must_date, {:class => "form-control"}) %>
  </div>
  <div class="col-xs-1">
  </div>
  <div class=col-xs-3>
    Delivery Method <br />
    <%= f.select(:delivery_type, ["Hand Deliver", "Ship", "Pick Up"], {}, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-2>
    Route <br />
    <%= f.select(:route, ["North", "East", "South", "West", "UPS"], {}, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-2>
    Assigned to <br />
    <%= f.select(:assigned_to, ["Katie", "Sydnee", "Erin", "Kemoyah", "Ethan", "Print"], {}, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-2>
    Assigned by <br />
    <%= f.select(:assigned_by, ["Katie", "Sydnee", "Erin", "Kemoyah", "Alex"], {}, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-3>
  </div>
  <div class=col-xs-5>
    Shipping instructions <br />
    <%= f.input :shipping_instructions, :label => false %>
  </div>
  <div class="col-xs-7">
  </div>
  <div class="col-xs-3">
    Delivered/Shipped <br />
    <div class="col-xs-1">
      <%= f.check_box :delivered %>
    </div>
    <div class="col-xs-10">
      <%= f.date_field(:delivery_date, {:class => "form-control"}) %>
      </div>
  </div>
  <div class=col-xs-2>
    Tracking # / Address<br />
    <%= f.input :tracking_number, :label => false %>
  </div>
  <div class="col-xs-12">
    Project path <br />
    <%= f.input :project_path, :input_html => {:rows => 1}, :label => false %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    Request <br />
    <%= f.input :description, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Changes <br />
    <%= f.input :project_changes, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Item Type<br />
      <div class="col-xs-12">
        <%= f.select(:project_type, ["Award", "Background", "Banner", "Brochure", "Calendar", "Catalog", "Flyer", "ID Cards", "Large Poster", "Misc", "Notepads", "Pads", "Planner/Handbook", "Postcard", "Posters", "Stickers", "Ticket", "Yearbook"], {:prompt => "Select item"}, {:class => "form-control"}) %>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    Design Instructions <br />
    <%= f.input :design_instructions, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Printing Instructions <br />
    <%= f.input :printing_instructions, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3" style="text-align: center;"">
    Invoicing <br /><br />
    <%= f.button :submit, "Create Invoice", {:style => "background-color: lightblue; color: black;"} %>
    <br />
  </div>
</div>
<div class="row">
  <div class=col-xs-3>
    Status <br />
    <%= f.select(:status, ["", "Started", "Ready to Proof", "Proof sent", "Changes", "New proof ready", "New proof sent", "Follow up sent", "Ready to print", "On Hold", "Completed"], {}, {:class => 'form-control'}) %>
  </div>
  <div class=col-xs-3>
    Attachment <br />
    <%= f.input :project_attachment, as: :file, :label => false %>
  </div>
<br />

  <div class="form-actions">
    <%= f.button :submit, "Create Project" %>
  </div>
</div>
<% end %>