<%= simple_form_for(@dproject) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

<div class="row">
  <div class=col-xs-3>
    School <br />
    <%= f.select(:scode, @options, {}, {:class => 'form-control'}) %>
  </div>
  <div class=col-xs-1>
    Account <br />
    
  </div>
  <div class=col-xs-2>
    Assigned to <br />
    <%= f.select(:assigned_to, ["Katie", "Sydnee", "Erin", "Ethan"], {}, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-3>
    Requested by
    <%= f.input :requested_by, :label => false %>
  </div>
  <div class=col-xs-3>
    Contact Email
    <%= f.input :contact_email, :label => false %>
  </div>
</div>
<hr>
<div class="row">
  <div class=col-xs-2>
    Date Originated
    
  </div>
  <div class=col-xs-2>
    Due date <br />
    <%= f.datetime_local_field(:due_date, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-2>
    Must deliver date <br />
    <%= f.datetime_local_field(:must_date, {:class => "form-control"}) %>
  </div>
  <div class="col-xs-1">
  </div>
  <div class=col-xs-3>
    Delivery Method <br />
    <%= f.select(:delivery_method, ["Hand Deliver"], {}, {:class => "form-control"}) %>
  </div>
  <div class=col-xs-2>
    Route <br />
    <%= f.input :route, :label => false %>
  </div>
  <div class=col-xs-6>
    Shipping instructions <br />
    <%= f.input :shipping_instructions, :label => false %>
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-3">
    Delivered/Shipped <br />
    <div class="col-xs-1">
      <%= f.check_box :delivered %>
    </div>
    <div class="col-xs-10">
      <%= f.datetime_local_field(:delivery_date, {:class => "form-control"}) %>
      </div>
  </div>
  <div class=col-xs-2>
    Tracking #<br />
    <%= f.input :tracking_number, :label => false %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    Request <br />
    <%= f.input :description, :input_html => {:rows => 10}, :label => false %>
  </div>
  <div class="col-xs-6">
    Printing Instructions <br />
    <%= f.input :printing_instructions, :input_html => {:rows => 5}, :label => false %>
  </div>
  <div class="col-xs-3">
    Invoicing <%= f.check_box :invoicing %><br />
    <%= f.input :printing_instructions, :input_html => {:rows => 2}, :label => false %>
  </div>
  <div class="col-xs-3" style="text-align: center;"">
    <br />
    <%= f.button :submit, "Create Invoice", {:style => "background-color: lightblue; color: black;"} %>
    <br />
  </div>
</div>
  <div class=col-xs-3>
    Status <br />
    <%= f.select(:status, ["Ready to Proof", "Proof sent", "Changes", "New proof ready", "New proof sent", "Follow up sent", "Ready to print", "Completed"], {}, {:class => 'form-control'}) %>
  </div>
</div>
<br />

  <div class="form-actions">
    <%= f.button :submit, "Create Project" %>
  </div>
<% end %>