<%= simple_form_for(@dproject) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

<div class="row">
  <div class="col-xs-1">
  </div>
  <div class=col-xs-4>
  	School <br />
    <%= f.select :scode, @options, :class => "dropdown", :id => "dropdown" %>
  </div>
  <div class=col-xs-2>
    Assigned to <br />
    <%= f.select :assigned_to, ["Katie", "Sydnee", "Erin", "Ethan"], :class => "enjoy-css", :id => "dropdown" %>
  </div>
  <div class=col-xs-4>
    Requested by
    <%= f.input :requested_by, :label => false %>
  </div>
</div>
    Description <br />
    <%= f.input :description, :input_html => {:rows => 10}, :label => false %>
<div class="row">
  <div class="col-xs-1">
  </div>
  <div class=col-xs-3>
    Due date <br />
    <%= f.datetime_local_field :due_date %>
  </div>
  <div class=col-xs-3>
    Must deliver date <br />
    <%= f.datetime_local_field :must_date %>
  </div>
  <div class=col-xs-3>
    Status <br />
    <%= f.select :status, ["Ready to Proof", "Proof sent", "Changes", "New proof ready", "New proof sent", "Follow up sent", "Ready to print", "Completed"] %>
  </div>
</div>
<br />

  <div class="form-actions">
    <%= f.button :submit, "Update Project" %>
  </div>
<% end %>