<style>



</style>

<%= simple_form_for(@dproject) do |f| %>
  <%= f.error_notification %>

    <div class="row">
        <div class="col-xs-6">
            Project #<%= @dproject.id %>
        </div>
        <div class="col-xs-6">
        <%= form_for(@dproject, multipart: true) do |f| %>
            <div class="field">
              <%= f.label :sfile %>
              <%= f.file_field :sfile %>
            </div>
            <div class="actions">
              <%= f.submit 'Submit' %>
            </div>
          <% end %>
        </div>
     </div>

<% end %>