<%= simple_form_for(@dproject) do |f| %>
  <%= f.error_notification %>

<style>

.red {
	background-color: red;
	color: white;
}

</style>
<div class="row">
	<div class="col-xs-11">
	 <h2>Editing Project #<%= @dproject.id %></h2>
	</div>
	<div class="col-xs-1">
	<br /><br />
		<%= button_to 'Delete', @dproject, method: :delete, class: 'form-control red', data: { confirm: 'Are you sure?' } %>
	</div>
</div>
<br />

<%= render 'formEdit' %>

<!-- <%= link_to 'Show', @dproject %> | -->
<%= link_to 'Home', dprojects_path %>

<% end %>