<style>

.dotted{
  border-bottom: 1px dotted black;
}

td, th{
  font-size: 16px;
}

.filterDiv {
	display: none;
}

#notcompleted {
	display: block;
}

button {
	border-radius: 5px;
	background-color: lightgray;
	width: 15%;
}

</style>

<h4>Projects</h4>
<br />
<%= link_to 'New Project', new_dproject_path, class: "btn btn-primary"  %> 
<br /><br />
<button onclick="notcompletedFunction()">Not Completed</button> <button onclick="allFunction()">All</button> <button onclick="printFunction()">Print</button> 
<br /><br />
<button onclick="katieFunction()">Katie</button> <button onclick="erinFunction()">Erin</button> <button onclick="sydneeFunction()">Sydnee</button> <button onclick="kemoyahFunction()">Kemoyah</button>
<br /><br />

<div id="notcompleted" class="filterDiv NotCompleted">
	<%= render 'indexNotCompleted' %>
</div>
<div id="all" class="filterDiv indexAll">
	<%= render 'indexAll' %>
</div>
<div id="katie" class="filterDiv Katie">
	<%= render 'indexKatie' %>
</div>
<div id="sydnee" class="filterDiv Sydnee">
	<%= render 'indexSydnee' %>
</div>
<div id="erin" class="filterDiv Erin">
	<%= render 'indexErin' %>
</div>
<div id="kemoyah" class="filterDiv Kemoyah">
    <%= render 'indexKemoyah' %>
</div>
<div id="print" class="filterDiv Print">
    <%= render 'indexPrint' %>
</div>

<br>

<script>
function notcompletedFunction() {
    var x = document.getElementById("notcompleted");
    x.display == "none";
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
}

function allFunction() {
    var x = document.getElementById("all");
    x.display == "none";
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function katieFunction() {
    var x = document.getElementById("katie");
    x.display == "none";
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function erinFunction() {
    var x = document.getElementById("erin");
    x.display == "none";
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function sydneeFunction() {
    var x = document.getElementById("sydnee");
    x.display == "none";
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function kemoyahFunction() {
    var x = document.getElementById("kemoyah");
    x.display == "none";
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function printFunction() {
    var x = document.getElementById("print");
    x.display == "none";
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}
</script>