<style>

.dotted{
  border-bottom: 1px dotted black;
}

td, th{
  font-size: 16px;
}

button {
	border-radius: 5px;
	background-color: white;
	width: 15%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    width: 100% !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: center;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

#all {
  display: none;
}

#filtered {
  display: block;
}

.printThis {
  display: none;
}

@media print {
    .noPrint { display: none; }
    .printThis { 
        display: block; 
    }
} 

</style>

<h4>Projects</h4>
<br />

<div class="row noPrint">
  <div class="col-xs-2">
    <%= link_to 'New Project', new_dproject_path, class: "btn btn-primary" %> 
  </div>
  <div class="col-xs-10">
    <button onclick="printPage()">Print Report</button>
  </div>
</div>

<br />
<button id="btnAll" onclick="toggleAll()">Show All</button>
<br />

<%= search_form_for @q do |f| %>
  <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
  Assigned to:
  <%= f.select :assigned_to_eq, Dproject.all.order(:assigned_to).pluck(:assigned_to).uniq, selected: (params[:q] ? params[:q][:assigned_to_eq] : nil), include_blank: true %>
<br />

  Status:
  <%= f.select :status_eq, Dproject.all.order(:status).pluck(:status).uniq, selected: (params[:q] ? params[:q][:status_eq] : nil), include_blank: true %>
<br />

  School:
  <%= f.select :school_name_eq, Dproject.includes(:school).order('schools.name').all.map { |dproject| dproject.school.name }.uniq, selected: (params[:q] ? params[:q][:school_name_eq] : nil), include_blank: true %>
<br />

  Route:
  <%= f.select :school_route_eq, Dproject.includes(:school).order('schools.route').all.map { |dproject| dproject.school.route }.uniq, selected: (params[:q] ? params[:q][:school_route_eq] : nil), include_blank: true %>
<br />

 ID:
  <%= f.select :id_eq, Dproject.all.order(:id).pluck(:id).uniq, selected: (params[:q] ? params[:q][:id_eq] : nil), include_blank: true %>

<br />

  <%= f.submit %>
<% end %>

<br /><br />

<div id="filtered" class="filterDiv indexFiltered">
	<%= render 'index' %>
</div>

<div id="all" class="filterDiv indexAll">
	<%= render 'indexAll' %>
</div>

<script>

function toggleAll() {
    var x = document.getElementById("filtered");
    var y = document.getElementById("all");
    var btn = document.getElementById("btnAll");
    if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
        btn.innerHTML = "Show All";
        btn.style.color = "black";
        btn.style.backgroundColor = "white";
    } else {
        x.style.display = "none";
        y.style.display = "block";
        btn.innerHTML = "Show Filtered";
        btn.style.color = "white";
        btn.style.backgroundColor = "grey";
    }
}


function printPage() {
    window.print();
}

</script>