<style>

table th, td {
  /*border: 1px solid black;*/
}

</style>

<h2>Diglab Projects</h2>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Orig Date</th>
      <th>Description</th>
      <th>Assigned to</th>
      <th style="text-align: right;">Complete date</th>
    </tr>
  </thead>

  <tbody>
    <% @dprojects.each do |dproject| %>
      <tr style="border-bottom: 1px dotted black;">
        <td width="20%"><%= dproject.school.dname %></td>
        <td width="15%"><%= dproject.created_at.try(:to_formatted_s, :short) %></td>
        <td width="25%"><%= dproject.description[0, 30] + "..." %></td>
        <td width="15%"><%= dproject.assigned_to %></td>
        <td width="15%" style="text-align: right;"><%= dproject.completed_at.try(:to_formatted_s, :short) %></td>
        <td width="5%"> </td>
        <td width="5%" style="text-align: center;"><%= link_to 'Show', dproject %></td>
        <td width="2%"> </td>
        <td width="5%" style="text-align: center;"><%= link_to 'Edit', edit_dproject_path(dproject) %></td>
        <!-- <td style="text-align: right;"><%= link_to 'Destroy', dproject, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_dproject_path %>
