<style>

.dotted{
  border-bottom: 1px dotted black;
}

td, th{
  font-size: 16px;
}

.filterDiv {
	display: none;
}

#notcompleted {
	display: block;
}

button {
	border-radius: 5px;
	background-color: lightgray;
	width: 15%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    width: 100% !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: center;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>

<h4>Projects</h4>
<br />

<%= link_to 'New Project', new_dproject_path, class: "btn btn-primary" %> 

<br /><br />

<div class="dropdown">
    <button class="dropbtn">For...</button>
    <div class="dropdown-content">
        <a onclick="notcompletedFunction()">Not Completed</a>
        <a onclick="allFunction()">All</a>
        <a onclick="printFunction()">Print</a>
        <a onclick="katieFunction()">Katie</a>
        <a onclick="erinFunction()">Erin</a>
        <a onclick="sydneeFunction()">Sydnee</a>
        <a onclick="kemoyahFunction()">Kemoyah</a>
    </div>
</div>
<br /><br />

<div id="notcompleted" class="filterDiv NotCompleted">
	<%= render 'dprojects/indexes/indexNotCompleted' %>
</div>
<div id="all" class="filterDiv indexAll">
	<%= render 'dprojects/indexes/indexAll' %>
</div>
<div id="katie" class="filterDiv Katie">
	<%= render 'dprojects/indexes/indexKatie' %>
</div>
<div id="sydnee" class="filterDiv Sydnee">
	<%= render 'dprojects/indexes/indexSydnee' %>
</div>
<div id="erin" class="filterDiv Erin">
	<%= render 'dprojects/indexes/indexErin' %>
</div>
<div id="kemoyah" class="filterDiv Kemoyah">
    <%= render 'dprojects/indexes/indexKemoyah' %>
</div>
<div id="print" class="filterDiv Print">
    <%= render 'dprojects/indexes/indexPrint' %>
</div>

<div id="notcompletedS" class="filterDiv NotCompletedS">
    <%= render 'dprojects/indexes/indexNotCompletedSchool' %>
</div>
<div id="allS" class="filterDiv indexAllS">
    <%= render 'dprojects/indexes/indexAllSchool' %>
</div>
<div id="katieS" class="filterDiv KatieS">
    <%= render 'dprojects/indexes/indexKatieSchool' %>
</div>
<div id="sydneeS" class="filterDiv SydneeS">
    <%= render 'dprojects/indexes/indexSydneeSchool' %>
</div>
<div id="erinS" class="filterDiv ErinS">
    <%= render 'dprojects/indexes/indexErinSchool' %>
</div>
<div id="kemoyahS" class="filterDiv KemoyahS">
    <%= render 'dprojects/indexes/indexKemoyahSchool' %>
</div>
<div id="printS" class="filterDiv PrintS">
    <%= render 'dprojects/indexes/indexPrintSchool' %>
</div>
<br />

<script>

var schoolSort = 0

function schoolBool() {
    if (schoolSort == 0) {
        schoolSort = 1;
    } 
    else {
        schoolSort = 0;
    }
}

function schoolOff() {
    schoolSort = 0;
}

function notcompletedFunction() {
    var x = document.getElementById("notcompleted");
    var x2 = document.getElementById("notcompletedS");
    x.display == "none";
    x2.display == "none";
    if (x.style.display === "none" && schoolSort == 0) {
        x.style.display = "block";
    } else if (x.style.display === "none" && schoolSort == 1){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 0){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 1) {
        x.style.display = "none"
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    } 

    if (x2.style.display === "none" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "none" && schoolSort == 1){
        x2.style.display = "block";
    } else if (x2.style.display === "block" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "block" && schoolSort == 1) {
        x2.style.display = "none";
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
}

function allFunction() {
    var x = document.getElementById("all");
    var x2 = document.getElementById("allS");
    x.display == "none";
    x2.display == "none";
    if (x.style.display === "none" && schoolSort == 0) {
        x.style.display = "block";
    } else if (x.style.display === "none" && schoolSort == 1){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 0){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 1) {
        x.style.display = "none"
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    } 

    if (x2.style.display === "none" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "none" && schoolSort == 1){
        x2.style.display = "block";
    } else if (x2.style.display === "block" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "block" && schoolSort == 1) {
        x2.style.display = "none";
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    }
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function katieFunction() {
    var x = document.getElementById("katie");
    var x2 = document.getElementById("katieS");
    x.display == "none";
    x2.display == "none";
    if (x.style.display === "none" && schoolSort == 0) {
        x.style.display = "block";
    } else if (x.style.display === "none" && schoolSort == 1){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 0){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 1) {
        x.style.display = "none"
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    } 

    if (x2.style.display === "none" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "none" && schoolSort == 1){
        x2.style.display = "block";
    } else if (x2.style.display === "block" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "block" && schoolSort == 1) {
        x2.style.display = "none";
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function erinFunction() {
    var x = document.getElementById("erin");
    var x2 = document.getElementById("erinS");
    x.display == "none";
    x2.display == "none";
    if (x.style.display === "none" && schoolSort == 0) {
        x.style.display = "block";
    } else if (x.style.display === "none" && schoolSort == 1){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 0){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 1) {
        x.style.display = "none"
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    } 

    if (x2.style.display === "none" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "none" && schoolSort == 1){
        x2.style.display = "block";
    } else if (x2.style.display === "block" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "block" && schoolSort == 1) {
        x2.style.display = "none";
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function sydneeFunction() {
    var x = document.getElementById("sydnee");
    var x2 = document.getElementById("sydneeS");
    x.display == "none";
    x2.display == "none";
    if (x.style.display === "none" && schoolSort == 0) {
        x.style.display = "block";
    } else if (x.style.display === "none" && schoolSort == 1){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 0){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 1) {
        x.style.display = "none"
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    } 

    if (x2.style.display === "none" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "none" && schoolSort == 1){
        x2.style.display = "block";
    } else if (x2.style.display === "block" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "block" && schoolSort == 1) {
        x2.style.display = "none";
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function kemoyahFunction() {
    var x = document.getElementById("kemoyah");
    var x2 = document.getElementById("kemoyahS");
    x.display == "none";
    x2.display == "none";
    if (x.style.display === "none" && schoolSort == 0) {
        x.style.display = "block";
    } else if (x.style.display === "none" && schoolSort == 1){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 0){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 1) {
        x.style.display = "none"
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    } 

    if (x2.style.display === "none" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "none" && schoolSort == 1){
        x2.style.display = "block";
    } else if (x2.style.display === "block" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "block" && schoolSort == 1) {
        x2.style.display = "none";
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}

function printFunction() {
    var x = document.getElementById("print");
    var x2 = document.getElementById("printS");
    x.display == "none";
    x2.display == "none";
    if (x.style.display === "none" && schoolSort == 0) {
        x.style.display = "block";
    } else if (x.style.display === "none" && schoolSort == 1){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 0){
        x.style.display = "none";
    } else if (x.style.display === "block" && schoolSort == 1) {
        x.style.display = "none"
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    } 

    if (x2.style.display === "none" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "none" && schoolSort == 1){
        x2.style.display = "block";
    } else if (x2.style.display === "block" && schoolSort == 0){
        x2.style.display = "none";
    } else if (x2.style.display === "block" && schoolSort == 1) {
        x2.style.display = "none";
    } else {
        x.style.display = "none";
        x2.style.display = "none";
    }
    var y = document.getElementById("all");
        y.style.display = "none";
    var z = document.getElementById("notcompleted");
        z.style.display = "none";
}
</script>