<style>

.dotted{
  border-bottom: 1px dotted black;
}

td, th{
  font-size: 16px;
}

#notcompleted {
	display: block;
}

button {
	border-radius: 5px;
	background-color: lightgray;
	width: 15%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 7px;
    font-size: 16px;
    border: none;
    width: 100% !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    text-align: center;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>

<h4>Projects</h4>
<br />

<div class="row">
  <div class="col-xs-2">
    <%= link_to 'New Project', new_dproject_path, class: "btn btn-primary" %> 
  </div>
  <div class="col-xs-2">
    <div class="dropdown">
      <button class="dropbtn">Reports</button>
        <div class="dropdown-content">
          <!-- <a href="dprojects/shipreport">Shipping</a> -->
        </div>
    </div>
  </div>
</div>

<br /><br />

<%= search_form_for @q do |f| %>
  <%= f.hidden_field :s, value: params[:q].try(:[], :s) %>
  <%= f.label :assigned_to %>
  <%= f.select :assigned_to_eq, Dproject.all.order(:assigned_to).pluck(:assigned_to).uniq, selected: (params[:q] ? params[:q][:assigned_to_eq] : nil), include_blank: true %>

  <%= f.submit %>
<% end %>
<br /><br />

<div id="notCompleted" class="filterDiv indexNotCompleted">
	<%= render 'dprojects/indexes/indexNotCompleted' %>
</div>
