<style>

.dotted{
  border-bottom: 1px dotted black;
}

</style>

<h2>Diglab Projects</h2>

<table>
  <thead>
    <tr style="border-bottom: 2px solid black;">
      <th>School</th>
      <th>Orig Date</th>
      <th>Description</th>
      <th>Assigned to</th>
      <th style="text-align: right;">Complete date</th>
    </tr>
  </thead>

  <tbod>
    <% @dprojects.each do |dproject| %>
      <tr>
        <td width="35%" class="dotted"><%= dproject.school.dname %></td>
        <td width="15%" class="dotted"><%= dproject.created_at.try(:to_formatted_s, :short) %></td>
        <td width="25%" class="dotted"><%= dproject.description[0, 30] + "..." %></td>
        <td width="10%" class="dotted"><%= dproject.assigned_to %></td>
        <td width="15%" class="dotted" style="text-align: right;"><%= dproject.completed_at.try(:to_formatted_s, :short) %></td>
        <td width="5%"> </td>
        <td width="5%" style="text-align: center;"><%= link_to 'Show', dproject %></td>
        <td width="2%"> </td>
        <td width="5%" style="text-align: center;"><%= link_to 'Edit', edit_dproject_path(dproject) %></td>
        <!-- <td style="text-align: right;"><%= link_to 'Destroy', dproject, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_dproject_path %>
