<%= simple_form_for(@dproject) do |f| %>
  <%= f.error_notification %>

<div class="row">
	<div class="col-xs-10">
	</div>
	<div class="col-xs-2">
		<b>Invoice Number: <%= @dproject.id %></b>
	</div>
</div>
<div class="row">
	<div class="col-xs-10">
	</div>
	<div class="col-xs-2">
		<b> Date: <%= f.date_field(:invoice_date, {:class => "form-control"}) %> </b>
	</div>
</div>
<%= @dproject.school.dname %> <br />
<div class="row">
	<div class="col-xs-3">
		Attention: <%= f.input :invoice_addressee, :label => false %>
	</div>
</div>
<%= @dproject.school.address %> <br /><br />
<hr>

<table>
  <thead>
    <tr style="border-bottom: 2px solid black;">
      <th> Quantity </th>
      <th> Product </th>
      <th> Price </th>
      <th> Total Price </th>
    </tr>
  </thead>

  <tbody>
    <% #@dprojects.lineitems.where(dproject_id: 1).each do |lineitem| %>
      <tr>
        <td width="20%" class="dotted">4500</td>
        <td width="50%" class="dotted">Report to the Community - 16 pages - English</td>
        <td width="25%" class="dotted">$0.51</td>
        <td width="25%" class="dotted">$2295.00</td>
      </tr>
    <% #end %>
  </tbody>
</table>
<br />
<div class="row" style="text-align: right;">
	<div class="col-xs-10">
	</div>
	<div class="col-xs-2">
		<%= f.input :invoice_subtotal, :label => "Sub Total" %>
	</div>
	<div class="col-xs-10">
	</div>
	<div class="col-xs-2">
		<%= f.input :invoice_credit, :label => "Credit" %>
	</div>
	<div class="col-xs-10">
	</div>
	<div class="col-xs-2">
		<%= f.input :invoice_shipping, :label => "Shipping" %>
	</div>
	<div class="col-xs-10">
	</div>
	<div class="col-xs-2">
		<%= f.input :invoice_sales_tax, :label => "Sales Tax" %>
	</div>
	<div class="col-xs-10">
	</div>
	<div class="col-xs-2">
		<%= f.input :invoice_total, :label => "Total Due" %>
	</div><br />
</div>

<hr>

<%= f.button :submit, "Update Invoice" %>

<% end %>