<%= simple_form_for(@dproject) do |f| %>

<div class="row">
	<div class="col-xs-9">
	</div>
	<div class="col-xs-3" style="text-align: right;">
		<b>Project #<%= @dproject.id %></b>
	</div>
</div>

<div class="row">
	<div class="col-xs-3">
		<%= @dproject.school.dname %>
	</div>
	<div class="col-xs-3">
		Requested by: <%= @dproject.requested_by %>
	</div>
</div>
<hr></br>

<table>
	<th style="border-bottom: 2px solid black;" >Item</th>
	<th style="border-bottom: 2px solid black;" >Unit Price</th>
	<th style="border-bottom: 2px solid black;" >Quantity</th>
	<th style="border-bottom: 2px solid black;" >Line Total</th>
	<%= render 'lineitem_fields' %>
</table>

</br></br>
<div class="row">
	<div class="col-xs-1">
		<%= link_to 'Back', dprojects_path %>
	</div>
	<div class="col-xs-1">
		<%= f.button :submit, "Update Invoice" %>
	</div>
</div>

<% end %> 