<%= simple_form_for(@dproject) do |f| %>
  <%= f.error_notification %>
  <%= f.input :assigned_to_eq, as: :hidden, input_html: { value: params[:q][:assigned_to_eq] } if params[:q] && params[:q][:assigned_to_eq] %>
  <%= f.input :status_eq, as: :hidden, input_html: { value: params[:q][:status_eq] } if params[:q] && params[:q][:status_eq] %>
  <%= f.input :school_name_eq, as: :hidden, input_html: { value: params[:q][:school_name_eq] } if params[:q] && params[:q][:school_name_eq] %>
  <%= f.input :school_route_eq, as: :hidden, input_html: { value: params[:q][:school_route_eq] } if params[:q] && params[:q][:school_route_eq] %>

  <%= f.input :s, as: :hidden, input_html: { value: params[:q][:s] } if params[:q] && params[:q][:s] %>

<style>

.form-control {
	font-size: 40px !important;
}

.bigger-text {
	font-size: 50px !important;
}

</style>

<br/><br/>
<br/><br/>
<br/><br/>

<div class="row" style="font-size: 45px">
	<div class="col-xs-12">
		<b><%= @dproject.school.dname %></b>
	</div>
	<div class="col-xs-12">
		Project #<%= @dproject.id %>
	</div>
	<div class="col-xs-12">
		<%= @dproject.boxes %> boxes
	</div>
</div>
<div class="row">
	<br /><br />
	<div class="col-xs-12" style="font-size: 40px">
		<b>Request: </b><br />
		<%= f.input :description, :input_html => {:rows => 5}, :label => false %>
	</div>
</div>
<div class="row">
	<br /><br />
	<div class="col-xs-12" style="font-size: 40px">
		<b>Date Delivered: </b><br />
		<%= f.date_field(:delivery_date, {:class => "form-control", :style => "font-size: 40px"}) %>
	</div>
</div>
<div class="row">
	<br /><br />
	<div class="col-xs-12" style="font-size: 40px">
		<b>Recieved By: </b><br />
		<%= f.input :recieved_by, :input_html => {:rows => 2}, :label => false %>
	</div>
	<div class="col-xs-12" style="font-size: 40px">
		<b>Delivered By: </b><br />
		<%= f.input :delivered_by, :input_html => {:rows => 2}, :label => false %>
	</div>
	<div class="col-xs-12" style="font-size: 40px">
		<b>Note to lab: </b><br />
		<%= f.input :note_to_lab, :input_html => {:rows => 2}, :label => false %>
	</div>
	<div class="col-xs-12" style="font-size: 40px;">
		<b>Status: </b><br />
		<%= f.select(:status, ["Delivered", "Note to Lab"], {}, {:class => 'form-control bigger-text'}) %>
	</div>
	<div class="col-xs-12" style="font-size: 40px; display: none;">
		<b>Status Changed: </b><br />
		<%= f.date_field(:status_date, :value => Time.now.strftime('%Y-%m-%d'), :class => "form-control") %>
	</div>
</div>

<br /><br />
<%= f.button :submit, "Update Shipment", :style => 'font-size: 35px' %>

<% end %>