<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @dproject.scode %> | <%= @dproject.school.dname %>
</p>
<hr>
<div class="row">
	<div class="col-xs-4">
		<b>Created:</b>
		<%= @dproject.created_at.to_formatted_s(:short) %>
	</div>
	<div class="col-xs-4">
		<b>Requested by:</b>
		<%= @dproject.requested_by %>
	</div>
	<div class="col-xs-4">
		<b>Assigned to:</b>
		<%= @dproject.assigned_to %>
	</div>
</div>
<br />
<div class="row">
<p style="border: 1px solid black; border-radius: 5px; padding: 2px 4px 20% 4px">
  <strong>Description:</strong>
  <br />
  <%= @dproject.description %>
</p>
</div>
<p>
  <strong>Completed:</strong>
  <%= @dproject.completed_at.try(:to_formatted_s, :short) %>
</p>


<%= link_to 'Edit', edit_dproject_path(@dproject) %> |
<%= link_to 'Back', dprojects_path %> |
<%= link_to 'Delete', @dproject, method: :delete, data: { confirm: 'Are you sure?' } %>
