<span class="addons_header" style="font-size: 24px !important;">
    Select a Background
</span>
<hr />
<div class="row">
    <div class="col-xs-4">
        <a><img src="/assets/1_Blue_Index_wLabel.jpg"></a> <br />
        <%= link_to "Select", add_background_simple_path(@opackage.id, 1), class: "btn-4", remote: true %>
    </div>
    <div class="col-xs-4">
        <a><img src="/assets/2_Grey_Index_wIndex.jpg"></a> <br />
        <%= link_to "Select", add_background_simple_path(@opackage.id, 2), class: "btn-4", remote: true %>
    </div>
    <div class="col-xs-4">
        <a><img src="/assets/3_Brown_Index_wLabel.jpg"></a> <br />
        <%= link_to "Select", add_background_simple_path(@opackage.id, 3), class: "btn-4", remote: true %>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-4">
        <a><img src="/assets/4_Teal_Index_wLabel.jpg"></a> <br />
        <%= link_to "Select", add_background_simple_path(@opackage.id, 4), class: "btn-4", remote: true %>
    </div>
    <div class="col-xs-4">
        <a><img src="/assets/5_Pink_Index_wLabel.jpg"></a> <br />
        <%= link_to "Select", add_background_simple_path(@opackage.id, 5), class: "btn-4", remote: true %>
    </div>
    <div class="col-xs-4">
        <a><img src="/assets/6_Purple_Index_wLabel.jpg"></a> <br />
        <%= link_to "Select", add_background_simple_path(@opackage.id, 6), class: "btn-4", remote: true %>
    </div>
</div>