<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-title" id="myModalLabel">


      <div class="modal-body" id="margin-thin">
        <div class="row">
        	<div class="col-xs-6">
				<%= image_tag(@gift.image.url, class: "gift_image_preview", :data => {:dismiss => "modal"}) %>
			</div>
			<div class="col-xs-6">
				<p class="preview_gift_name"><%= @gift.name %></p>
				<p class="preview_gift_description"><%= number_to_currency(@gift.price, :unit => "$") %> - <%= @gift.description %></p>
				<br/><br/>
				<%= form_tag(add_gift_path(@cart.cart_id, @i, @gift.id, :download_image_id => params[:download_image_id], :image_id => params[:image_id]), method: :get, remote: true) do %>
				

				<% if @gift.name.downcase.include?("download") %>
					<%= hidden_field_tag :quantity, 1 %>
				<% else %>
				Choose quantity:
					<%= select_tag :quantity, options_for_select(Gift::Quantity), id: "gradedropdown"%>
				<% end %>
				<br/><br/>
				<div class="row">
				<div class="col-xs-6">
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn-red" data-dismiss="modal">Close</button>

				</div>
				<div class="col-xs-2">
					<%= submit_tag "Add to Cart", class: "btn-blue" %>
				</div>
			</div>
			<% end %>
			</div>
		</div>

 

    </div>
  </div>
</div>
</div>

<script>
$(document).ready(function() { 
    $("#gradedropdown").select2({
    theme: "bootstrap",
    width: '80%',
    minimumResultsForSearch: Infinity
  });
});

$('.select2-selection').css('border-radius','0px')
  $('.select2-selection').css('border','2px solid #9D9D9D')
  $('.select2-selection').css('font','normal 16px/normal "Trebuchet MS", Helvetica, sans-serif')
  $('.select2-selection').css('margin-bottom','20px') 
  $('.select2-selection').css('padding-top','9px')
  $('.select2-selection').css('height','44px')
  $('.select2-container').children().css('border-radius','0px')
</script>
