<div class="col-xs-7 animated fadeIn" id="senior_table">
	<% @opackage.options.each do |option| %>
		<h3>Create Your Package:</h3>
	
	Drag a pose from the sidebar (left) to each sheet <br/> to create your package.
	<hr style="z-index: 3">

		<% option.image_types.each do |image_type| %>
			<strong style="z-index: 3"><%= image_type.name %></strong>
			<div class="row">
				<% (ImageType.count(image_type.id)).times do |i| %>
					<div class="col-xs-3" id="<%= ImageType.classname(image_type.id) %>">
						<div class="<%= @opackage.id %> <%= image_type.id %> <%= i + 1 %> inner droppable <%= image_type.id %>_<%= i + 1 %>" id="<%= ImageType.classname(image_type.id) %>">
							<% if @opackage.sheets.where(:index => i + 1).where(:image_type_id => image_type.id).any? %>
							<%= render partial: 'image', :locals => { :type_class => ImageType.classname(image_type.id), :image => @opackage.sheets.where(:index => i + 1).where(:image_type_id => image_type.id).last.senior_image.watermark.url(:watermark) } %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		<hr  style="z-index: 3">
		<% end %>
		<strong style="z-index: 3">Yearbook Pose</strong>
		<div class="row">
					<div class="col-xs-3" id="elevenbyfourteen">
						<div class="yearbook <%= @opackage.id %> inner droppable" id="elevenbyfourteen">
							<% unless @opackage.try(:senior_image_id).nil? %>
							<%= render partial: 'image', :locals => { :type_class => "elevenbyfourteen", :image => SeniorImage.find(@opackage.senior_image_id).watermark.url(:watermark) } %>
							<% end %>
						</div>
					</div>
			</div>
		<hr  style="z-index: 3">

			<% Addon.all.each_with_index do |addon| %>
				<div class="row">
					<div class="col-xs-2" id="add_<%= addon.id %>">
						<%= link_to "Add", add_addon_path(@opackage.id, addon.id), class: "btn-custom4", remote: true %>
					</div>
					<div class="col-xs-2">
						<strong>
							<% if @opackage.options.pluck(:without).include? false %>
								<%= number_to_currency(addon.price_with, :unit => "$") %>
							<% else %>
								<%= number_to_currency(addon.price_without, :unit => "$") %>
							<% end %>
						</strong>
					</div>
					<div class="col-xs-7">
						<strong> <%= addon.name %></strong>
					</div>
				</div><br>
				<span id="<%= addon.id %>"></span>
			<% end %>

	<% end %>
	</div>

<script>
$(function() {

    $( ".droppable" ).droppable({
      drop: function( event, ui ) {
      	var classes = $(this).attr("class").split(/\s/);
      	if (classes[0] == 'yearbook') {
        	$.get('/students/yearbook/' + classes[1] + '?url=' + ui.draggable.attr("id")).success(function(data) { } )
        } else { 
		    
		    $.get('/students/<%= @cart.cart_id%>/update_senior_portraits/' + classes[1] + '/' + classes[2] + '/' + classes[0] + '?url=' + ui.draggable.attr("id")).success(function(data) { } )
		}
      }
    });
  });
</script>