<div class="senior_image_border nil <%= "image_container_draggable" if @image.extension.include?("jpg") %>" id="<%= @image.id %>" >
		<%= image_tag(@image.watermark.url, class: "img-proof") %>
</div>

<br/>

<% if @image.extension.include?("png") %>
	<div class="row">
		<div class="col-xs-1"></div>
		<% Background.all.each do |background| %>
		<div class="col-xs-2 nopaddingcol" align="center">
			<%= link_to image_tag(background.image.url, class: "img-backgrounds-small", id: "#{background.id}"), add_background_path(@opackage.id, @image.id, background.id), remote: true %><br/>
			<p class="background_text"><%= background.color %> </p>

		</div>
		<% end %>
		<div class="col-xs-1"></div>
	</div>

	<span align="center">Select a background, then drag the image with your selected background onto a desired image type.</span>
<% else %>
	<span align="center">Drag your selected image onto a desired image type.</span>
<% end %>


<script>
$(function() {

    $( ".image_container_draggable" ).draggable({helper : 'clone', revert: 'invalid',
    appendTo: 'body', start: function(event, ui) {
    $(ui.helper).css('width', "5%");
  }  });


   
  });


</script>
