<% unless defined? @student %>
<h3 align="center">We've had trouble finding the images for your student with <strong><%= @shoob_id.upcase %></strong>. Please try again <%= link_to "here", student_find_student_path %>.<br/> If trouble persists, please contact us. </h3>
<% else%>
<h3>Here is the images we've found for your purchase: </h3>
<hr> 

<div class="row">
	
		<div class="col-sm-3" align="center">
			<strong><%= @found_image.package.name %> <%= @found_image.year %></strong>
		<%= image_tag(@found_image.image.url, class: "img-rounded img-med") %>
		<br/><br/>
		
			<%= link_to "Download Image", student_push_image_path(@student.id, :url => @found_image.image.url), class: "btn btn-primary" %>
		</div>
</div>

<% unless @images.nil? %>
 	<h3>We've also found other images for your student, which are available for purchase (coming soon) </h3>
	<hr> 
	<div class="row">
		<% @images.each do |image| %>
			<div class="col-sm-3" align="center">
				<%= image.id %>
				<strong><%= image.package.name %> <%= image.year %></strong>
			<%= image_tag(image.image.url, class: "img-rounded img-med") %>

			</div>
		<% end %>
		
	</div>
<% end %>

<% end %> 

