<br/><br/>
<br/>


<% unless defined? @student %>
<h3 align="center">We've had trouble finding the images for your student with <strong><%= @shoob_id.upcase %></strong>. Please try again <%= link_to "here", student_find_student_path %>.<br/> If trouble persists, please contact us. </h3>
<% else%>
<div class="row">
	<div class="col-sm-4" align="center">
			<h3 class="blue">Click below to begin your <br/>image download.</h3>
			<%= link_to student_push_image_path(@student.id, :url => @found_image.image.url) do %>
				<%= image_tag(@found_image.image.url, class: "img-rounded img-med") %>
				<br/><strong class="image_text"><%= StudentImage.package_name(@found_image.id) %></strong><br/>
				
			<% end %>
	 
	</div> 

	<div class="col-sm-8">
		<% if @images.any? %>
	<div id="scrolltable"> 
		<div class="inner" align="center">
			<span class="blue">
			<strong>Download digital images from previous school years!</strong><br/>
			Click an image below to view pricing and packages.</span><br/><br/>

				
				<% @images.each_slice(3) do |images| %>
				<div class="row">
				<div class="col-sm-1"></div>
				<% images.each do |image| %>
				<% if image.watermark.exists? %>
					<div class="col-sm-3" align="center">
						

						<%= image_tag(image.watermark.url, class: "img-proof") %>

					<strong class="image_text"><%= StudentImage.package_name(image.id) %></strong><br/>
					<%= link_to "Select", purchase_from_download_path(@student.id, :cart_id => params[:cart_id], :image => image.id, :i => 0), class: "btn-custom2", remote: true %>
					</div>	
					<% end %>
				<% end %>
				<div class="col-sm-1"></div>
				</div><br/><br/>
				<% end %>
				
			
	</div>
	</div>
	<% end %>
</div>
</div>

<% end %>



