<h3>Cart:</h3>

<table class="table">
	<tr>
		<td>Student's name</td>
		<td>Package</td>
	</tr>
<% @cart.students.each do |student| %>
	<tr>
	<td>
	<%= student.first_name %> <%= student.last_name %>
	</td>
	<td>
	<% @cart.order_packages.where(:student_id => student.id).each do |o| %>
		<% o.options.each do |option| %>

			<%= number_to_currency(option.price(@cart.students[params[:i].to_i].school.id), :unit => "$") %>  - <strong><%= o.package.name %><%= ": Pose #{o.pose}" unless o.pose.nil? %> - <%= option.name %></strong>
			<% if o.package.id == 253 %>
			- <%= DownloadImage.package_name(o.download_image_id) %>
			<% end %>
			<br/>
			<div class="row">
				<div class="col-sm-1"></div> 
				<div class="col-sm-11">
					<% o.order_package_extras.where(:option_id => option.id).each do |e| %>
						<% extra = e.extra %>
						<%= number_to_currency(extra.prices.first.try(:price), :unit => "$") %> - <%= extra.name %> <br/>
					<% end %>
				</div>
			</div>

				<% if o.package.shippings.where(:school_id => @cart.students[params[:i].to_i].school.id).any? %>
					+ <%= number_to_currency(o.package.shippings.where(:school_id => @cart.students[params[:i].to_i].school.id).first.price, :unit => "$") %> shipping
					<% elsif o.package.shippings.where(:school_id => nil).any? %>
					+ <%= number_to_currency(o.package.shippings.where(:school_id => nil).first.price, :unit => "$") %> shipping
				<% end %>

				<% if o.try(:extra_poses) != 0 %>
				+ $<%= o.extra_poses*25 %>.00 (Extra Pose)
				<% end %>

				<% if o.sheets.any? %><br/><br/>
				<ul>

					<% ImageType.find(o.sheets.pluck(:image_type_id).uniq).each do |image_type| %>
					<% o.sheets.where(:image_type_id => image_type.id).each do |sheet| %>
					<li><%= image_type.name %>: <%= sheet.senior_image.url.downcase %></li>
					<% end %>
					<% end %>
				</ul>

				<% unless o.senior_image_id.nil? %>
					<ul>
						<li>Yearbook Pose: <%= SeniorImage.find(o.senior_image_id).url.downcase %></li>
					</ul>
				<% end %>
				<% end %>


			<hr>
		<% end %>
 	<% end %>
 	</td>
 	 </tr>
 <% end %>

<tr>
	<td>
	</td>
	<td>
	 <h3><%= number_to_currency(@cart.price, :unit => "$") %> </h3>
	 </td>
	 </tr>
 </table>
<div class="row">
<div class="col-sm-3" align="left">

		 <%= link_to "Add more students to your order", student_schools_path(:cart_id => @cart.cart_id, :i => @cart.students.count), class: "btn btn-primary" %>
 </div>
 <div class="col-sm-6">
 </div>
 <div class="col-sm-3" align="right">
 <%= link_to "Checkout", new_order_path(@cart.cart_id), class: "btn btn-primary" %>
 </div>
 </div>