<br/><br/><br/>

<div class="row animated fadeIn">
	<div class="col-xs-1"></div>
	<div class="col-xs-5">

	
				<% @cart.order_packages.where(:student_id => @student.id).each do |opackage| %>
					<% opackage.options.each do |option| %>
					<span class="<%= opackage.id %>_<%= option.id %>">
					<div class="row" id="outer_row">
						<div class="col-xs-3">
			
							<% image = @student.student_images.where(:package_id => opackage.package.id).where.not(folder: "fall2015").last %>
							<% unless @image.nil? %>
							<% if @cart.id_supplied? %>
								<%= image_tag(image.watermark.url(:watermark), class: "review_image") %>
							<% end %>
							<% else %>
								<%= image_tag(opackage.package.image.url, class: "review_image") %>
							<% end %>
						</div>

						<div class="col-xs-9 package_blue" %>
							<div class="row">
								<div class="col-xs-6 white_col" align="left">
									<strong><%= option.name %></strong>
								</div>
								<div class="col-xs-6 white_col" align="right">
									<%= number_to_currency(option.price, :show_zero => false) %>
								</div>
							</div>   

							<% if 2 >= option.package.options.map(&:id).index(option.id) %>
							<p class="yellow_text2">
							INCLUDES <strong>FREE</strong> DIGITAL IMAGE
							</p>
							<% end %>
							<% option.image_types.each_slice(2) do |slice| %>
							<div class="row">
								<% slice.each do |type| %>
									<div class="col-xs-6 image_type"><%= type.name %></div>
								<% end %>
							</div>
							<% end %>
						</div>

					</div>

					<% if opackage.extras.any? %>
					<div class="row">
						<div class="col-xs-3"></div>
						<div class="col-xs-9 package_orange">
							<div class="row">
								<div class="col-xs-6 white_col" align="left">
									<strong>Addons</strong>
								</div>
								<div class="col-xs-6 white_col" align="right">
									<% price = 0 %>
									<% opackage.extras.each do |extra| %>
									<% unless extra.prices.first.try(:price).nil? %>
        							<% price = price + extra.prices.first.try(:price) %>
       								<% end %>
									<% end %>
									<%= number_to_currency(price, :show_zero => false) %>
								</div>
							</div>  
							<% opackage.extras.each do |extra| %>
							<span class="image_type"><%= extra.name %></span><br/>
							<% end %>

						</div>
					</div><br/>
				</span>
					<% end %>
				<% end %>
			<% end %>
		
	</div>

	<div class="col-xs-6 space_left">
		<div class="row">
			<div class="col-xs-6 cart_title">
				Cart
			</div>
			<div class="col-xs-6 ">

			</div>
		</div>
		<div class="cart_box">
			<% @cart.students.each do |student| %>
			<strong>Student: <%= student.first_name %> <%= student.last_name %></strong>

			<% @cart.order_packages.where(:student_id => student.id).each do |opackage| %>
			<% opackage.options.each do |option| %>
			<span class="<%= opackage.id %>_<%= option.id %>">
			<div class="row gray_text_cart">
				<div class="col-xs-6">
					<%= opackage.package.name %>: <%= option.name %>
				</div>
				<div class="col-xs-6 gray_text_cart" align="right"><%= link_to "Remove", remove_option_path(opackage.id, option.id, @cart.students.count - 1), class: "btn-4", remote: true, data: { confirm: 'Are you sure?' } %> &nbsp; <%= number_to_currency(option.price, :show_zero => false) %></div>
			</div>
			<% opackage.extras.each do |extra| %>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-9 gray_text_cart">
					<%= extra.name %>
				</div>
				<div class="col-xs-2 gray_text_cart" align="right">
					<%= number_to_currency(extra.prices.first.try(:price), :show_zero => false) %>
				</div>
			</div>
			<% end %>
			<hr>
			</span>
			<% end %>
			<% end %>
			<% end %> 

			<% if @cart.order_packages.where.not(package_id: nil).first.package.shippings.any? %>
			<div class="row">
				<div class="col-xs-6 subtotal">
					SHIPPING
				</div>
				<div class="col-xs-6 subtotal" align="right">
					<%= number_to_currency(@cart.order_packages.where.not(package_id: nil).first.package.shippings.first.price, :show_zero => false) %>
				</div>
			</div>
			<% end %>

			<div class="row">
				<div class="col-xs-6 subtotal">
					<strong>Total</strong>
				</div>
				<div class="col-xs-6 subtotal" align="right">
					<%= number_to_currency(@cart.price, :show_zero => false) %>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-8">
				<%= link_to "Continue Shopping", student_packages_path(@cart.cart_id, @cart.students.count - 1), class: "btn-blue" %>
				<br/>
				<%= link_to "Add More Students to Your Order", student_search_path(:cart => @cart.cart_id, :i => @cart.students.count), class: "btn-blue" %>
			</div>
			<div class="col-xs-2" align="right">
				<%= link_to "Checkout", new_order_path(@cart.cart_id), class: "btn-blue" %>
			</div>
			<div class="col-xs-2"></div>
		</div>
	</div>
</div>