<br/><br/><br/>

<div class="row animated fadeIn"> 
	<div class="col-xs-1"></div>
	<div class="col-xs-5">

	
				<% @cart.order_packages.each do |opackage| %>
					<% opackage.gifts.each do |gift| %>
					<span class="<%= opackage.id %>_<%= gift.id %>">
					<div class="row" id="outer_row">
						<div class="col-xs-3">
						<% @image = opackage.download_image %>
						<% if @image.nil? %>
							<% @image = opackage.student_image %>
						<% end %>
						<% if @image.nil? || !@image.image.exists? %>
							<%= image_tag("missing_image.png", class: "gift-default") %>
							
						<% else %>
							<%= image_tag(@image.watermark.url(:watermark), class: "review_image") %>
			
						<% end %>

						</div>
 
						<div class="col-xs-9 package_blue" %>
							<div class="row">
						 		<div class="col-xs-6 white_col" align="left">
									<strong><%= gift.name %> (<%= opackage.quantity %>)</strong>
								</div>
								<div class="col-xs-6 white_col" align="right">
									<%= number_to_currency(gift.price, :show_zero => false) %>
								</div>
							</div>  
						</div>
					</div>
					</span>


					<% end %>
					<% opackage.options.each do |option| %>
					<span class="<%= opackage.id %>_<%= option.id %>">
					<div class="row" id="outer_row">
						<div class="col-xs-3">
						
						<% if opackage.package.name.include?("Download") %>
							<%= image_tag(opackage.download_image.watermark.url(:watermark), class: "review_image") %>
						<% else %>
							<% image = opackage.student.student_images.where(:package_id => opackage.package.id).where.not(folder: "fall2015").last %>
							<% unless image.nil? %>
							<% if @cart.id_supplied? %>
								<%= image_tag(image.watermark.url(:watermark), class: "review_image") %>
							<% end %>
							<% else %>
								<%= image_tag(opackage.package.image.url, class: "review_image") %>
							<% end %>
							<% end %>
						</div>
 
						<div class="col-xs-9 package_blue" %>
							<div class="row">
						 		<div class="col-xs-6 white_col" align="left">
									<strong><%= option.name %></strong>
								</div>
								<div class="col-xs-6 white_col" align="right">
									<%= number_to_currency(option.price(opackage.student.school.id), :show_zero => false) %>
								</div>
							</div>   

							<% if (option.id == 52 || option.id == 53 || option.id == 54) %>
							<p class="yellow_text2">
							INCLUDES <strong>FREE</strong> DIGITAL IMAGE
							</p>
							<% elsif option.package.id != 6 %> 
							<% if 2 >= option.package.options.map(&:id).index(option.id) %>
							<p class="yellow_text2">
							INCLUDES <strong>FREE</strong> DIGITAL IMAGE
							</p>
							<% end %>
							<% end %>
							<% option.image_types.each_slice(2) do |slice| %>
							<div class="row">
								<% slice.each do |type| %>
									<div class="col-xs-6 image_type"><%= type.name %></div>
								<% end %>
							</div>
							<% end %>
						</div>

					</div>

					<% if opackage.extras.any? %>
					<div class="row">
						<div class="col-xs-3"></div>
						<div class="col-xs-9 package_orange">
							<div class="row">
								<div class="col-xs-6 white_col" align="left">
									<strong>Addons</strong>
								</div>
								<div class="col-xs-6 white_col" align="right">
									<% price = 0 %>
									<% opackage.extras.each do |extra| %>
									<% unless extra.prices.first.try(:price).nil? %>
        							<% price = price + extra.prices.first.try(:price) %>
       								<% end %>
									<% end %>
									<%= number_to_currency(price, :show_zero => false) %>
								</div>
							</div>  
							<% opackage.extras.each do |extra| %>
							<span class="image_type"><%= extra.name %></span><br/>
							<% end %>

						</div>
					</div><br/>
					<% end %>
				</span>
					
				<% end %>
			<% end %>
		
	</div>

	<div class="col-xs-6 space_left">
		<div class="row">
			<div class="col-xs-6 cart_title">
				Cart
			</div>
			<div class="col-xs-6 ">

			</div>
		</div>
		<div class="cart_box">
			<% @cart.students.each do |student| %>
			<strong>Student: <%= student.first_name %> <%= student.last_name %></strong>

			<% @cart.order_packages.where(:student_id => student.id).each do |opackage| %>
			<% opackage.gifts.each do |gift| %>
			<span class="<%= opackage.id %>_<%= gift.id %>">
			<div class="row gray_text_cart">
				<div class="col-xs-6">
					<%= gift.name %>
				</div>
				<div class="col-xs-6 gray_text_cart" align="right"> <%= opackage.quantity %> x <%= number_to_currency(gift.price, :show_zero => false) %>
					
				
				</div>
			</div>
			</span>
			<% end %>
			<% opackage.options.each do |option| %>
			<span class="<%= opackage.id %>_<%= option.id %>">
			<div class="row gray_text_cart">
				<div class="col-xs-6">
					<%= opackage.package.name %>: <%= option.name %>
				</div>
				<div class="col-xs-6 gray_text_cart" align="right"><%= link_to "Remove", remove_option_path(opackage.id, option.id, @cart.students.count - 1), class: "btn-4", remote: true, data: { confirm: 'Are you sure?' } %> &nbsp; <%= number_to_currency(option.price(student.school.id), :show_zero => false) %>
					<% if opackage.try(:extra_poses) != 0 && opackage.try(:extra_poses) != nil%><br/>
				 + Extra Pose: $<%= opackage.try(:extra_poses)*25 %>.00
				<% end %>
				</div>
			</div>

				

				<% if opackage.sheets.any? %>
				<ul>

					<% ImageType.find(opackage.sheets.pluck(:image_type_id).uniq).each do |image_type| %>
					<% opackage.sheets.where(:image_type_id => image_type.id).each do |sheet| %>
					<li>(<%= ImageType.count_types(image_type.id) %>) <%= ImageType.name_out(image_type.id) %>: <strong><%= sheet.senior_image.url.downcase %></strong></li>
					<% end %>
					<% end %>
				</ul>

				<% unless opackage.senior_image_id.nil? %>
					<ul>
						<li>Yearbook Pose: <strong><%= SeniorImage.find(opackage.senior_image_id).url.downcase %></strong></li>
					</ul>
				<% end %> 
				<% end %>
				<ul>
				<% opackage.addon_sheets.each do |addon| %>
				<li>
					<% if option.without? %>
					<%= number_to_currency(addon.addon.price_without, :unit => "$") %>
					<% else %>
					<%= number_to_currency(addon.addon.price_with, :unit => "$") %> - 
					<% end %> 
					<%= addon.addon.name %>: <strong><%= addon.senior_image.url.downcase %></strong>
				</li>
				<% end %>
				</ul>

			<% opackage.extras.each do |extra| %>
			<div class="row">
				<div class="col-xs-1"></div>
				<div class="col-xs-9 gray_text_cart">
					<%= extra.name %>
				</div>
				<div class="col-xs-2 gray_text_cart" align="right">
					<%= number_to_currency(extra.prices.first.try(:price), :show_zero => false) %>
				</div>
			</div>
			<% end %>
			<hr>
			</span>
			<% end %>
			<% end %>
			<% end %> 
			<% unless @cart.order_packages.where.not(package_id: nil).first.nil? %>
			<% if @cart.order_packages.where.not(package_id: nil).first.package.shippings.any? %>
			<div class="row">
				<div class="col-xs-6 subtotal">
					SHIPPING
				</div>
				<div class="col-xs-6 subtotal" align="right">
					<%= number_to_currency(@cart.order_packages.where.not(package_id: nil).first.package.shippings.first.price, :show_zero => false) %>
				</div>
			</div>
			<% end %>
			<% end %>


			<div class="row">
				<div class="col-xs-6 subtotal">
					<strong>Total</strong>
				</div>
				<div class="col-xs-6 subtotal" align="right">
					<%= number_to_currency(@cart.price, :show_zero => false) %>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-8">
		
				<%= link_to "Add More Students to Your Order", student_search_path(:cart => @cart.cart_id, :i => @cart.students.count), class: "btn-blue" %>
			</div>
			<div class="col-xs-2" align="right">
				<%= link_to "Checkout", new_order_path(@cart.cart_id), class: "btn-blue" %><br/>
				<%= link_to "Back", student_packages_path(@cart.cart_id, @cart.students.count - 1), class: "btn-blue" %>
	

			</div>
			<div class="col-xs-2"></div>
		</div>

		<div class="row">
			<div class="col-xs-10"><br/>
				<div class="alert alert-danger" role="alert" align="center">
				  Do not use the back arrow on your browser
				</div>
			</div>
			<div class="col-xs-2"></div>
		</div>
	</div>
</div>