<div id="alert"></div>
<h3 align="center">Please select the type of portraits you wish to order.</h3>

<div class="row animated fadeInUp" id="row">
	
	<table id="package_list" align="center" class="table">
	<tr>
	<% @packages.each_with_index do |package, index| %>
		<td>
		<h3><%= package.try(:name) %></h3>
		<div id="<%= index %>" %>
		<% unless @cart.order_packages.where(:package_id => package.id).where(:student_id => @student.id).any? %>
			<img src='<%= @image_url[index] %>', class="img-rounded img-package"><br /><br /> 
					<%= link_to "Select", order_create_package_path(:cart_id => @cart.cart_id, :package => package.id, :url => @image_url[index], :index => index, :student => @student.id), class: "btn btn-custom", remote: true %> <br />
		<% else %>
			<img src='<%= @image_url[index] %>', class="img-rounded img-package-custom"><br /><br />
					<%= link_to "Remove", order_delete_package_path(:cart_id => @cart.cart_id, :package => package.id, :url => @image_url[index], :index => index, :student => @student.id), class: "btn btn-danger", remote: true %> <br />
		<% end %><br />
		</div>
		</td>
	<% end %>
	</tr>
 
	</table>

	<hr />

</div>
				

<div id="continue" class="animated fadeInUp">
	<%= render 'orders/continue' %>

</div>

<script>
$(".batchlink").on("click", function() {

  $('#myModal').modal('show');
  $("#myModal").html("<%= escape_javascript(render partial: 'loading') %>"); 
});
</script>
