<%= simple_form_for @cart, url: update_cart_path(@cart.cart_id) do |f| %>
<div class="animated fadeIn">
	<% @opackages.each_with_index do |opackage, index| %>
	<% package = opackage.package %>
	<% option = @cart.order_packages.where(:package_id => package.id).last.option %>
	<% op = @cart.order_packages.where(:option_id => option.id).last %>
		<div class="row">
			<div class="col-sm-4" align="center"> 
			<strong><%= package.name %></strong><br />
					<% if op.url.nil? %>
					<img src='<%= @image_url[index] %>', class="img-rounded img-package">
					<% else %>
					<%= image_tag(OrderPackage.image(op.url), class: "img-rounded img-package") %>
					<% end %>
					<br/>
					 <% if option.email_picture? %>
	  			<%= label_tag :email_picture, "Send a digital copy of this portrait to your email" %>
	  			<%= check_box_tag "order_package[#{op.id}][email_picture]", 1, :checked => true %>
	  			<% end %>
			</div>
			<div class="col-sm-2" id="review">
			
				<h3 class="text">
					
					<% if @cart.order_packages.where(:package_id => package.id).first.extras.any? %>
						<% price = option.price %>
						<% @cart.order_packages.where(:package_id => package.id).last.extras.each do |e| %>
							<% unless e.prices.first.try(:price).nil? %>
								<% price = price + e.prices.first.try(:price) %>
							<% end %>
						<% end %>
						<div id="price_<%= option.id %>" price="<%= price %>"><%= number_to_currency(price, :unit => "$") %></div>
					<% else %>
						<div id="price_<%= option.id %>" price="<%= option.price %>"><%= number_to_currency(option.price, :unit => "$") %></div>
					<% end %>
					<br />
					<% if package.shippings.where(:school_id => @cart.students[params[:i].to_i].school.id).any? %>
					+ <%= number_to_currency(package.shippings.where(:school_id => @cart.students[params[:i].to_i].school.id).first.price, :unit => "$") %> shipping
					<% end %>
				</h3>
			</div>

			<div class="col-sm-6 bubble" id="imgtag">
				 <strong><%= option.name %></strong>
				<ul>
					<% option.image_types.each do |image| %>
						<li><%= image.name %></li>
				 	<% end %>
				</ul>
			</div>
		</div>
		<% op = @cart.order_packages.where(:option_id => option.id).last %>
			
		<% unless option.extra_types.nil? %>
		<div class="row">
			<div class="col-sm-2">
				
			</div>

			<div id="form_<%= option.id %>" class="col-sm-10">
			    <% option.extra_types.each do |extra_type| %>
			    	
			        <h4 class=""><%= extra_type.name %></h4>
			      	<% if extra_type.multiple || extra_type.options.count == 1 %>
			        	<% extra_type.extras.each_slice(6) do |slice| %>
			        	<div class="row">
			        	<% slice.each do |extra| %>
			        	<div class="col-sm-2">
			          		<div class="check_box sixth">
			            	<label for="<%= "order_package_#{op.id}_extra_ids_#{extra_type.id}" %>">
			              	<%= image_tag extra.image.url(:thumb), :class => 'twelfth' if extra.image? %>
              				<%= extra.name %> - <%= number_to_currency(extra.prices.first.try(:price), :show_zero => false) %>
			            	</label> &nbsp;
			            	<%= check_box_tag "order_package[#{op.id}][extra_ids][#{extra_type.id}][]", extra.id %>
			          		</div>
			          		</div>
			          		<% end %>
			          		</div>
			        	<% end %>
					<% else %>
				        <% extra_type.extras.each_slice(4) do |slice| %>
				        <div class="row">
			        	<% slice.each do |extra| %>
			        	<div class="col-sm-3">
				          	<div class="check_box sixth">
				            <label for="<%= "order_package_#{op.id}_extra_ids_#{extra_type.id}_#{extra.id}" %>">
				            <%= image_tag extra.image.url(:thumb), :class => 'twelfth' if extra.image? %>
	              			<%= extra.name %> - <%= number_to_currency(extra.prices.first.try(:price), :show_zero => false) %>
				            </label> &nbsp;
					        <% if op.extras.pluck(:id).include?(extra.id) %>
					        <span class="<%= option.id %>" id="<%= option.price %>" price="<%= extra.prices.first.try(:price) %>">
					            <%= check_box_tag "order_package[#{op.id}][extra_ids][#{extra_type.id}][]", extra.id, {:checked=>true}  %>
					        </span>
					        	<% else %>
					        	<span class="<%= option.id %>" id="<%= option.price %>" price="<%= extra.prices.first.try(:price) %>">
					            <%= check_box_tag "order_package[#{op.id}][extra_ids][#{extra_type.id}][]", extra.id  %>
					            </span>
					        <% end %>
			          		</div>
			          		</div>
			        	<% end %>
			        	</div>
			        	<% end %>
			        <% end %>
			     
				<% end %>
			  </div>

	 	</div>
	 	<% end %>	
	 	
		
		<br />
	<% end %>
<br />

	<div class="row">
		<div class="col-sm-2" align="left">
		<%= link_to "Add additional images", student_packages_path(@cart.cart_id, @cart.students.count - 1), class: "btn btn-custom" %>

		</div>

		<div class="col-sm-6"></div><strong>
		<div class="col-sm-2" align="right"><strong>Total: 
		<span id="totalprice" price="<%= @cart.price %>"><%= number_to_currency(@cart.price, :unit => "$") %></span>
		</strong></div>
		<div class="col-sm-2">


		<%= f.submit "Finalize your order", class: "btn btn-primary" %>

		</div>
	</div>
</div>

<br />

<% end %>

<script>
$(document).ready(function(){
    $("input[type='checkbox']").on('change', function(){
        id = $(this).closest('span').attr('class');
        price = $(this).closest('span').attr('id');
        eprice = $(this).closest('span').attr('price');
        var form = '#form_' + id;
        overheadprice = $('#price_' + id).attr('price');
		var myTotal = 0;
     	$(form +  ' input[type="checkbox"]:checked').each(function() {
       		myTotal = +myTotal + +$(this).closest('span').attr('price');
    	});
		$('#price_' + id).html('$' + (+myTotal + +overheadprice).toFixed(2) );
        totalprice = $('#totalprice').attr('price');
        newtotal = 0;
        $('input[type="checkbox"]:checked').each(function() {
       		newtotal = +newtotal + +$(this).closest('span').attr('price');
    	});
    	$('#totalprice').html('$' + ((+newtotal + +totalprice).toFixed(2)));
    });
});
</script>


