<div class="row">
  <div class="col-sm-6 animated fadeInLeft"><br/><br/>
  <%= image_tag("image_left.jpg", class: "img-rounded img-large") %><br/><br/>
<p class="small-font">
  For security reasons, no preview is available unless the Student ID is entered.<br/>
Student ID can usually be found on ID cards and report cards.<br/>
Orders may be placed without Student ID but previews will not be shown.<br/>
Please call Shoob Photography at 209 567-0748 or email info@shoobphoto.com<br/>
if you have any questions.</p>
  </div>
  <div class="col-sm-6 animated fadeInRight">
  <h3 class="info"><%= @school.name %></h3><hr>
  <div class="info">Enter your student's information to purchase portraits.</div> <br />
	<%= form_tag(student_find_path(@school.id), method: :get, :name => 'new_search_form', :id => "new_search_form") do %>
        <div id="required">
        <div class="requiredtext">
        * required input
        </div>
        <div class="input-group"><span class="input-group-addon" id="sizing-addon3">*</span>
        <%= text_field_tag :first_name, nil, placeholder: "Student's First Name", class: "form-control", id: "input_first_name" %>
        </div><br/>
        <div class="input-group"><span class="input-group-addon" id="sizing-addon3">*</span>
        <%= text_field_tag :last_name, nil, placeholder: "Student's Last Name", class: "form-control", id: "input_last_name" %>
        </div><br />

        <div class="input-group"><span class="input-group-addon" id="sizing-addon3">*</span>
        <%= select_tag :grade, options_for_select(Student::Grades), class: "form-control", id: "input_student_grade" %>
        </div><br/>
       
        <% if @school.school_type.id == 3 %>
        

        <div class="input-group"><span class="input-group-addon" id="sizing-addon3">*</span>
        <%= text_field_tag :student_teacher, nil, placeholder: "Student's Teacher", class: "form-control", id: "input_student_teacher" %>
        </div><br />

        <% end %>

        <%= hidden_field_tag "cart", @cart %>
        <%= hidden_field_tag "i", @i %>
         <%= text_field_tag :student_id, nil, placeholder: "Student's ID Number", class: "form-control", id: "input_student_id" %>
        </div>
        
    <div class="submit" id="submit">
           <input class="btn btn-custom" name="commit" value="Continue" onclick="return validateForm()" readonly>
    </div>

	<% end %>
  </div>
</div>

<script>
function validateForm(){isValid = false;
  var isValid = true;

  var x = document.getElementById('input_first_name').value;
    if (x == null || x == "") {
        isValid = false;
    }
    var y = document.getElementById('input_last_name').value;
    if (y == null || y == "") {
        isValid = false;
    }

    <% if @school.school_type.id == 3 %>
      var y = document.getElementById('input_student_teacher').value;
    if (y == null || y == "") {
        isValid = false;
    }
    <% end %>

  if(isValid){
    document.getElementById('new_search_form').submit();
  }
  else {
    alert('Please fill all required fields');
  }
}
</script>