<div class="animated fadeIn">

	<%= form_for(@cart, url: student_update_path(@cart.cart_id, @cart.students.count - 1), :html => {class: "form-horizontal"}) do |f| %>
	<% @opackages.each_with_index do |opackage, index| %>
	<% package = opackage.package %>
	<% image = package.student_images.where(:student_id => @student.id).last %>

	<div class="row"> 
		<div class="col-sm-4" align="center">	 
			<strong><%= package.name %></strong>
			<% if package.multiple %>
				<% if @senior_url.try(:length) > 0 && opackage.package.id == 6 %>
					<% @senior_url.each_slice(2) do |slice| %>
					<div class="row">
						<% slice.each do |senior_url| %>
						<% i = @senior_url.index(senior_url) %>
						<% unless @senior_id[i] == "default" %>
						<div class="col-sm-6" id="senior_<%= @senior_url.index(senior_url) %>">
							<%= image_tag(senior_url, :class => 'img-rounded img-package') %><br/>

								<%= link_to orders_add_image_path(opackage.id, @senior_id[i], :pose => "#{i + 1}" , :index => "#{i}", :type => "senior"), remote: true do %>
								    <span id="check_senior_<%= i%>"><span class="glyphicon glyphicon-unchecked"></span></span> Pose <%= i + 1 %>
								<% end %>
						</div>
						<% end %> 
						<% end %>
					</div> 
					<% end %>
				<% elsif @grad_url.try(:length) > 0 && opackage.package.id == 5 %>
				<% @grad_url.each_slice(2) do |slice| %>
					<div class="row">
						<% slice.each do |grad_url| %>
						<% i = @grad_url.index(grad_url) %>
						<% unless @grad_id[i] == "default" %>
						<div class="col-sm-6" id="grad_<%= @grad_url.index(grad_url) %>"> 
							<%= image_tag(grad_url, :class => 'img-rounded img-package' )%><br/>

								<%= link_to orders_add_image_path(opackage.id, @grad_id[i], :pose => "#{i + 1}" , :index => "#{i}", :type => "grad"), remote: true do %>
								    <span id="check_grad_<%= i%>"><span class="glyphicon glyphicon-unchecked"></span></span> Pose <%= i + 1 %>
								<% end %>

						</div>
						<% end %>
						<% end %>
					</div>
					<% end %>
				<% else %><br/>
					<%= image_tag(opackage.package.image, class: "img-rounded img-package") %>
				<% end %>
			<% else %>
			<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
			<% unless image.nil? %>
			<%= image_tag(image.watermark.url(:watermark), class: "img-rounded img-package") %>
			<% else %>
			<%= image_tag(package.image.url, class: "img-rounded img-package") %>
			<% end %>
			</div>
			<div class="col-sm-4"></div>
			</div>
			<% end %>
		</div>
		<div class="col-sm-8">
			<% if (defined? @senior_url) %>
			<h3>Please select the <%= "pose and" if (@senior_url.try(:length) > 1 && package.id == 6) %> package you wish to purchase.</h3>
			<% else %>
			<h3>Please select the package you wish to purchase.</h3><hr>
			<% end %>
		<span id="package_<%= package.id %>">

	  		<div align="center">
	  		<%= image_tag(package.banner, class: "img-rounded img-cust") if package.banner? %>
	  		</div>

	  		<div class="row">
				<%= package.options.order(:name).each_slice(3) do |slice| %>
					<div class="row buff">
						<% slice.each do |option| %>
							<div class="col-sm-4 <%= 'selectedbackground' if opackage.options.include? option %>" id="option_<%= option.id %>">
								<strong><%= "#{option.name} - #{number_to_currency(option.price(@student.school), :unit => "$")}" %></strong>
								<ul class="options">
									<% option.image_types.each do |type| %>
										<li>
											<%= type.name %>
										</li>
									<% end %> 
								</ul>
							</div> 
						<% end %>
					</div>
					<div class="row buff">
					<% slice.each do |option| %>
					
						<div class="col-sm-4" id="button_<%= option.id %>" align="center">
							<% if opackage.options.include? option %>
								<%= link_to "Remove", remove_option_path(opackage.id, option.id, :i => @i), class: "btn btn-danger", remote: true %>
							<% else %>
								<%= link_to "Add to Cart", add_option_path(opackage.id, option.id, :i => @i), class: "btn btn-custom", remote: true %>
							<% end %>
						</div>
					<% end %>
					</div><br/>
					
				<% end %>
			</div>
		</span>
	  	</div>
	</div><br/>
	<hr>
	<% end %>

<div class="row">
	<div class="col-sm-2" align="left">


	</div>
	<div class="col-sm-8"></div>
	<div class="col-sm-2" align="right" id="continue">
		<% unless @bool.include? false %>
			<%= button_tag(type: 'submit', class: "btn btn-custom") do %>
  				Continue <span class="glyphicon glyphicon-chevron-right"></span> 
			<% end %>
		<% else %>
			  <button class="btn btn-default" disabled>Please select a package for <br/> each portrait before continuing</button>
		<% end %>

	</div>
</div>

<% end %>
<br />