



<% if @package.multiple? %>
<br/><br/>
	<% images = @package.student_images.where(:student_id => @student.id) %>

	<div class="row">
		<div class="col-sm-5" align="center"  id="senior_table">
			<% if @cart.id_supplied? && images.any? %>
			<% image = images.last %>
			<h3>Preview Your Poses: (click to enlarge)</h3>
			<% image.senior_images.each_slice(2) do |slice| %>
			<div class="row" align="center">
				<% slice.each do |senior_image| %>

				<% if senior_image.watermark.exists? %>
					<div class="col-sm-6">
						<span class="small_text_info"><%= senior_image.url.downcase %></span><br/><%= link_to image_tag(senior_image.watermark.url(:watermark), :class => "img img-package"), student_preview_image_path(:image => senior_image.watermark.url(:watermark)), remote: true %>
						</div>
					<% end %>
				<% end %>
			</div><br/>
			<% end %>
			<% end %>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-6"  id="senior_table">
			<h3>Choose Your Package</h3>
			<% @package.options.order(:name).each do |option| %>
			<div class="row">
				<div class="col-sm-3"><%= link_to "Select", student_select_path(@cart.cart_id, @cart.students.count - 1, :option => option.id, :package => @package.id), class: "btn-custom4 btn-loading" %></div>
				<div class="col-sm-9">

									<strong><%= option.name %> (<%= "#{option.poses} #{'Pose'.pluralize(option.poses)}"%>)</strong><br/><span class="currency"><%= "#{number_to_currency(option.price(@student.school), :unit => "$")}" %></span><br/>
										<% option.image_types.each do |type| %>
											
												<span class="listing"><%= type.name %></span>
											
										<% end %> 
				</div>
			</div><br/>
			<% end %>
		</div>
	</div>
	<% else %>

<div class="animated fadeIn" id="mobile_package_selection">
	
		<br/><br/><br/><br/><br/>
		<% unless @image.nil? %>
			<% if @cart.id_supplied? %>
				<%= image_tag(@image.watermark.url(:watermark), class: "select_package_image_mobile") %>
			<% else %>
				<%= image_tag(@package.image.url, class: "select_package_image_mobile") %>
			<% end %>
		<% else %>
			<%= image_tag(@package.image.url, class: "select_package_image_mobile") %>
		<% end %>
	
	
	<br/>
	<p class="mobile_package_text">Select your package below.</p>
	
	<% i = 0 %>
	<% @package.options.order(:name).each do |option| %>
	<%= link_to add_package_path(@cart.cart_id, @i, option.id) do %>
	<div class="mobile_package_select animated fadeInUp <%= i.even? ? 'even_blue' : 'odd_blue'%>">
			<div class="row">
				<div class="col-xs-3" align="center">
					<span class="mobile_package_short"><%= option.name[-1] %></span>
					<span class="mobile_package_price">$<%= option.price.floor %></span>
				</div>
				<div class="col-xs-1"></div>
				<div class="col-xs-8" align="left">
					<% if 2 >= i %>
					<span class="mobile_yellow_text">
					<strong>FREE</strong> DIGITAL IMAGE 
					</span>
					<% end %><br/>
					<span class="type_name_mobile"><%= option.image_types.map(&:name).join(", ") %></span>

				</div>
			</div>
		</div>
		<% end %>
	
					
						<br/><br/>
			

	<% i = i + 1 %>
	<% end %>
</div>
<% end %>

<script>
$('.btn-loading').button();

$(document).ready(function(){
  $('.btn-loading').click(function() {
    $(this).button('loading');
  });
});
</script>