<div class="animated fadeIn">



	<% if @opackages.pluck(:package_id).include? 6 %>
	<% package = Package.find(6) %>
	<% image = package.student_images.where(:student_id => @student.id).last %>
	<% opackage = @cart.order_packages.where(:package_id => 6).last %>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-4" align="center"  id="senior_table">
			<% if @cart.id_supplied? %>
			<h3>Preview Your Poses: (click to enlarge)</h3>
			<% image.senior_images.each_slice(2) do |slice| %>
			<div class="row" align="center">
				<% slice.each do |senior_image| %>
					<div class="col-sm-6">
						<span class="small_text_info"><%= senior_image.url.downcase %></span><%= link_to image_tag(senior_image.watermark.url(:watermark), :class => "img img-package"), student_preview_image_path(:image => senior_image.watermark.url(:watermark)), remote: true %>
						</div>
				<% end %>
			</div><br/>
			<% end %>
			<% end %>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-6"  id="senior_table">
			<h3>Choose Your Package</h3>
			<% package.options.order(:name).each do |option| %>
			<div class="row">
				<div class="col-sm-2"><%= link_to "Select", student_select_path(@cart.cart_id, @cart.students.count - 1, :option => option.id), class: "btn-custom4" %></div>
				<div class="col-sm-10">

									<strong><%= option.name %> (<%= "#{option.poses} #{'Pose'.pluralize(option.poses)}"%>)</strong><br/><span class="currency"><%= "#{number_to_currency(option.price(@student.school), :unit => "$")}" %></span><br/>
										<% option.image_types.each do |type| %>
											
												<span class="listing"><%= type.name %></span>
											
										<% end %> 
				</div>
			</div><br/>
			<% end %>
		</div>
	</div>
	<% else %>
	<%= form_for(@cart, url: student_update_path(@cart.cart_id, @cart.students.count - 1), :html => {class: "form-horizontal"}) do |f| %>
	<h3>Please select your packages:</h3><hr>

	<% @opackages.each_with_index do |opackage, index| %>
		<% package = opackage.package %>
		<% image = package.student_images.where(:student_id => @student.id).last %>
		<div class="row">
			<div class="col-sm-2" align="center">
				<strong><%= package.name %></strong><br/>
				<% unless image.nil? || (@senior_url.try(:length) > 0 && package.id == 6) %>
					<%= image_tag(image.watermark.url(:watermark), class: "img-rounded img-package") %>

				<% end %>

			</div>
			<div class="col-sm-10"><br/>
				<div id="package_<%= package.id %>" class="outer">
			  		<div align="center">
			  			<%= image_tag(package.banner, class: "img-rounded img-cust") if package.banner? %>
			  		</div>
			  	<div class="inner">
			  		<table>
			  			<tr>
							<% package.options.order(:name).each do |option| %>
								<td class="nowrap <%= 'selectedbackground' if opackage.options.include? option %>" id="option_<%= option.id %>">
									<strong><%= option.name %> <br/><%= "#{number_to_currency(option.price(@student.school), :unit => "$")}" %></strong>
									<ul class="options">
										<% option.image_types.each do |type| %>
											<li>
												<%= type.name %>
											</li>
										<% end %> 
									</ul>
								</td>
							<% end %>
						</tr>
						<tr>
							<% package.options.order(:name).each do |option| %>
								<td id="button_<%= option.id %>" align="center">
									<% if opackage.options.include? option %>
										<%= link_to "Remove", remove_option_path(opackage.id, option.id, :i => @i), class: "btn-custom3", remote: true %>
									<% else %>
										<%= link_to "Add to Cart", add_option_path(opackage.id, option.id, :i => @i), class: "btn-custom2", remote: true %>
									<% end %>
								</td>
							<% end %>
						</tr>
					</table>
				</div>
				</div>
			</div>
		</div><br/>



		<hr>
	<% end %>

	<div class="row">
		<div class="col-sm-2" align="left">

		</div>
		<div class="col-sm-8"></div>
		<div class="col-sm-2" align="right" id="continue">
			<% unless @bool.include? false %>
				<%= button_tag(type: 'submit', class: "btn-custom2") do %>
	  				Continue <span class="glyphicon glyphicon-chevron-right"></span> 
				<% end %>
			<% else %>
				  <button class="btn btn-default" disabled>Please select a package for <br/> each portrait before continuing</button>
			<% end %>

		</div>
	</div>
<% end %>
<% end %>


<style>
table {
  table-layout: fixed; 
  width: 100%;
  *margin-left: -100px;/*ie7*/
}
td, th {
  vertical-align: top;
  border-top: 1px solid #ccc;
  padding:10px;
  width:250px;
}
tr:hover td {
  background-color: transparent;
  }
th {
  position:absolute;
  *position: relative; /*ie7*/
  left:0; 
  width:100px;
}
.outer {position:relative}
.inner {
  overflow-x:scroll;
  overflow-y:visible;
  width:1000px; 
}
</style>