<div class="row">
	<div class="col-xs-5" id="senior_table">
		<h3>Your Package:</h3>

		<% option = @opackage.options.first %>
		<strong><%= option.name %> (<%= "#{option.poses} #{'Pose'.pluralize(option.poses)}"%>)</strong><br/><span class="currency"><%= "#{number_to_currency(option.price(@student.school), :unit => "$")}" %></span><br/>
										<% option.image_types.each do |type| %>
											
												<span class="listing"><%= type.name %></span>
											
										<% end %> 

		<h3>Your Poses: (click to enlarge)</h3>
		
		<% @image.senior_images.each_slice(2) do |slice| %>
		<div class="row">
			<% slice.each do |senior_image| %>
			<div class="col-xs-6" id="image_container">
				<span class="small_text"><%= senior_image.url.downcase %></span>
								<%= link_to image_tag(senior_image.watermark.url(:watermark), :class => "img-rounded img-package image_#{senior_image.id} draggable image_container", :id => "#{senior_image.id}"), student_preview_image_path(:image => senior_image.watermark.url(:watermark)), remote: true %>
								<br/>

								<p id="text" class="text_<%= senior_image.id %>"></p>

			</div>
			<% end %>
		</div>
		<% end %>
	</div>
	<div class="col-xs-7" id="senior_table">
	<% @opackage.options.each do |option| %>
	<h3>Create Your Package:</h3>
	Drag a pose from the sidebar (left) to each sheet <br/> to create your package.
	<hr style="z-index: 3">

		<% option.image_types.each do |image_type| %>
			<strong style="z-index: 3"><%= image_type.name %></strong>
			<div class="row">
				<% (ImageType.count(image_type.id)).times do |i| %>
					<div class="col-xs-2" id="<%= ImageType.classname(image_type.id) %>">
						<div class="<%= @opackage.id %> <%= image_type.id %> <%= i + 1 %> inner droppable <%= image_type.id %>_<%= i + 1 %>" id="<%= ImageType.classname(image_type.id) %>">
						</div>
					</div>
				<% end %>
			</div>
		<hr  style="z-index: 3">
		<% end %>
		<strong style="z-index: 3">Yearbook Pose</strong>
		<div class="row">
					<div class="col-xs-2" id="elevenbyfourteen">
						<div class="yearbook <%= @opackage.id %> inner droppable" id="elevenbyfourteen">
						</div>
					</div>
			</div>
		<hr  style="z-index: 3">

	<% end %>
	</div>
</div><br/>
<div class="row">
	<div class="col-xs-6" align="left">
		<%= link_to "Back", student_select_package_path(@cart.cart_id, @cart.students.count - 1), class: " btn-custom2" %>
	</div>
<div class="col-xs-6" align="right">
	<% if @images.any? && @cart.id_supplied? %>
     	<%= link_to "Add to Cart", previous_images_path(@cart.cart_id, @cart.students.count - 1), class: "btn-custom2" %>
    <% else %>
        <%= link_to "Add to Cart", student_final_path(@cart.cart_id, @cart.students.count - 1), class: "btn-custom2" %>
     <%  end %>
</div>
</div>


<script>


$(function() {
    $( ".draggable" ).draggable({helper : 'clone', revert: 'invalid',
    appendTo: 'body' });
    $( ".droppable" ).droppable({
      drop: function( event, ui ) {
      	var classes = $(this).attr("class").split(/\s/);
      	if (classes[0] == 'yearbook') {
        	$.get('/students/yearbook/' + classes[1] + '?url=' + ui.draggable.attr("id")).success(function(data) { } )
        } else { 
		    
		    $.get('/students/<%= @cart.cart_id%>/update_senior_portraits/' + classes[1] + '/' + classes[2] + '/' + classes[0] + '?url=' + ui.draggable.attr("id")).success(function(data) { } )
		}
      }
    });
  });
</script>

