<br/><br/><div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-5" id="senior_table">
		<h3>Your Package:</h3>

		<% option = @opackage.options.first %>
		<strong><%= option.name %> (<%= "#{option.poses} #{'Pose'.pluralize(option.poses)}"%>)</strong><br/><span class="currency"><%= "#{number_to_currency(option.price(@student.school), :unit => "$")}" %></span><br/>
										<% option.image_types.each do |type| %>
											
												<span class="listing"><%= type.name %></span>
											
										<% end %> 
		<h3>Your Poses: (click to enlarge)</h3>
		<% @s_image.senior_images.each_slice(2) do |slice| %>
		<div class="row">
			<% slice.each do |senior_image| %>
				<% if senior_image.watermark.exists? %>
				<div class="col-xs-6" id="image_container">
					<span class="small_text"><%= senior_image.url.downcase %></span>
						<%= link_to image_tag(senior_image.watermark.url(:watermark), :class => "img-rounded img-package image_#{senior_image.id} draggable image_container #{'img-package-custom' if @opackage.sheets.pluck(:senior_image_id).uniq.include?(senior_image.id)}", :id => "#{senior_image.id}"), student_preview_image_path(:image => senior_image.watermark.url(:watermark)), remote: true %><br/>

					<p id="text" class="text_<%= senior_image.id %>"><%= "Selected" if @opackage.sheets.pluck(:senior_image_id).uniq.include?(senior_image.id) %></p>
				</div>
				<% end %>
			<% end %>
		</div>
		<% end %>
	</div> 
	<span id="senior_images">
		<%= render 'senior_images' %>
	</span>
</div><br/>
<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-5" align="left">
		<%= link_to "Back", student_select_package_path(@cart.cart_id, @cart.students.count - 1, 6), class: " btn-custom4" %>
	</div>
	<div class="col-xs-5" align="right">
	<% if @ids.include?(true) && @cart.id_supplied? %> 
     	<%= link_to "Add to Cart", previous_images_path(@cart.cart_id, @cart.students.count - 1), class: "btn-custom4" %>
    <% else %>
        <%= link_to "Add to Cart", student_final_path(@cart.cart_id, @cart.students.count - 1), class: "btn-custom4" %>
     <%  end %>
     <div class="col-xs-1"></div>
</div>
</div>


<script>


$(function() {
    $( ".draggable" ).draggable({helper : 'clone', revert: 'invalid',
    appendTo: 'body' });
 
  });
</script>

