<table>
  <thead>
    <tr style="border-bottom: 2px solid black;">
      <th> <%= sort_link(@q, :school_name, 'School') %> </th>
      <th> Request </th>
      <th> <%= sort_link(@q, :assigned_to) %> </th>
      <th> <%= sort_link(@q, :created_at, 'Orig Date') %> </th>
      <th> <%= sort_link(@q, :due_date) %>  </th>
      <th> <%= sort_link(@q, :must_date, 'Must Del') %>  </th>
      <th> Age </th>

      <th> <%= sort_link(@q, :status) %>  </th>
      <th> <%= sort_link(@q, :project_type, 'Type') %> </th>
      <th> <%= sort_link(@q, :id, 'ID') %> </th>
    </tr>
  </thead>

  <tbody>
    <% @dprojects.each do |dproject| %>
      <tr>
        <td width="18%" class="dotted"><%= dproject.school.dname[0,25] + "..." %></td>
        <td width="15%" class="dotted"><%= dproject.description[0, 20] + "..." %></td>
        <td width="8%" class="dotted"><%= dproject.assigned_to %></td>
        <td width="10%" class="dotted"><%= dproject.created_at.try(:strftime, '%b %e') %></td>
        <td width="10%" class="dotted"><%= dproject.due_date.try(:strftime, '%b %e') %></td>
        <td width="10%" class="dotted"><%= dproject.must_date.try(:strftime, '%b %e') %></td>
        <td width="5%" class="dotted"><%= ((Time.now - dproject.created_at)/86400).round %></td>
        <td width="10%" class="dotted"><%= dproject.status %></td>
        <td width="10%" class="dotted"><%= dproject.project_type %></td>
        <td width="5%" class="dotted"><%= dproject.id %></td>
        <td width="5%" style="text-align: right;"><%= link_to 'Edit', edit_dproject_path(dproject) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
