<div class="row">
  <div class="col-sm-3">
  X
</div>
  <div class="col-sm-9">
<%= f.input :x, label: false, :input_html => {:class => "field_field"} %>
</div>
</div>
<div class="row">
  <div class="col-sm-3">
  Y
</div>
  <div class="col-sm-9">
<%= f.input :y, label: false, :input_html => {:class => "field_field"} %>
</div>
</div>

<div class="row">
  <div class="col-sm-3">
  Width
</div>
  <div class="col-sm-9">
<%= f.input :width, label: false, :input_html => {:class => "field_field"} %>
</div>
</div>

<div class="row">
  <div class="col-sm-3">
  Height
</div>
  <div class="col-sm-9">
<%= f.input :height, label: false, :input_html => {:class => "field_field"} %>
</div>
</div>

<div class="row">
  <div class="col-sm-3">
  Text size
</div>
  <div class="col-sm-9">
<%= f.input :text_size, label: false, :input_html => {:class => "field_field"} %>
</div>
</div>
<div class="row">
  <div class="col-sm-3">
  Spacing
</div>
  <div class="col-sm-9">
<%= f.input :spacing, label: false, :input_html => {:class => "field_field"} %>
</div>
</div>

<div class="row">
  <div class="col-sm-3">
  Color
</div>
  <div class="col-sm-9">
<%= f.input :color, label: false, as: :minicolors, input_html: {class: "field_field",data: {
          minicolors: {theme: :bootstrap, position: :right}}} %>
</div>
</div>


<div class="row">
  <div class="col-sm-3">
  Align
</div>
  <div class="col-sm-9">
<%= f.input :align, label: false, :collection => Field.align_options, :include_blank => false, :input_html => {:class => "field_field"}  %>
</div>
</div>

<div class="row">
  <div class="col-sm-3">
  Font
</div>
  <div class="col-sm-9">
<%= f.association :font, label: false, :include_blank => false, :input_html => {:class => "field_field"} %>
</div>
</div>


