<td>
  <%= f.input :x, label: false, :input_html => {:class => "field_field"} %>
</td>
<td>
<%= f.input :y, label: false, :input_html => {:class => "field_field"} %>
</td>
<td>
<%= f.input :width, label: false, :input_html => {:class => "field_field"} %>
</td>
<td>
<%= f.input :height, label: false, :input_html => {:class => "field_field"} %>
</td>
<td>
<%= f.input :text_size, label: false, :input_html => {:class => "field_field"} %>
</td>
<td>
<%= f.input :spacing, label: false, :input_html => {:class => "field_field"} %>
</td>
<td>
<%= f.input :color, label: false, as: :minicolors, input_html: {class: "field_field",data: {
          minicolors: {theme: :bootstrap, position: :right}}} %>
</td>
<td>
<%= f.input :align, label: false, :collection => Field.align_options, input_html: { class: 'select_drop'} %>
</td>
<td class="font_dropdown">
<%= f.association :font, label: false, input_html: { class: 'select_drop'} %>
</td>

<td>
<%= f.input :permanent, label: false, input_html: { class: 'field_field'} %>
</td>



<style>
select.select_drop{
max-width: 90px;
    min-width: 90px;
    width: 90px !important;  
}

div.form-group.select.optional.template_fields_align {
  max-width: 90px;
    min-width: 90px;
    width: 900px !important;  
}
</style>