<div class="row">
<% @pdf = @template.pdfs.create %>
<%= f.simple_fields_for :types, @pdf.types.new do |builder| %>
	  <%= render 'type_fields', f: builder %>
<% end %>

<div class="col-sm-2">
<%= f.input :file %>
</div>
<div class="col-xs-2"><br/>
<%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove PDF" %>
</div>
</div>
<hr>
		

<script>
$(".multiple_select").select2();
</script>