<div class="row">
<% if @pdf.types.any? %>
<%= f.simple_fields_for :types, @pdf.types.first do |builder| %>
	  <%= render 'type_fields', f: builder %>
<% end %>
<% else %>
<%= f.simple_fields_for :types, @pdf.types.create do |builder| %>
	  <%= render 'type_fields', f: builder %>
<% end %>
<% end %>
<div class="col-sm-2">
<%= f.input :file %>
</div>
<div class="col-xs-2"><br/>
<%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove PDF" %>
</div>
</div>
<hr>

		