<br/><br/><div class="template_container">
<%= simple_form_for(@template, :url => update_pdf_template_path(@template.id), :html => { :multipart => true }, :input_html => {:id => "template_form"} ) do |f| %>

<h3>Template</h3>
<%= f.input :name %>
<h3>Template PDFs</h3>
  <%= f.error_notification %>
  <% if @template.errors.any? %>
  <ul>
  <% @template.errors.each do |attr, message| %>
  <li><%= attr %>: <%= message %></li>
  <% end %>
</ul>

<% end %>
<% @template.pdfs.each do |pdf| %>
<% @pdf = pdf %>
<%= f.simple_fields_for :pdfs, pdf do |builder| %>
    <%= render 'pdf_pdf_fields', f: builder, template: @template, pdf: @pdf %>
  <% end %>
 <% end %>

  <%= link_to_add_fields "Add PDF", f, :pdfs %>

  <hr>
<%= f.submit "Continue", class: "btn-blue" %>

<% end %>

</div>


