<% if current_user.admin %>
<%= link_to "Admin: Select school", schools_yearbooks_path, class: "btn btn-custom", remote: true %><br/><br/>
<% end %>
<p><%= link_to "Download List (PDF)", yearbook_path(1, :yearbooks => @yearbooks.map(&:id), :students => @students.map(&:id), :school => @school, format: "pdf"), class: "btn btn-custom" %></p>
<h3>Yearbooks for <%= @school.name %></h3>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>Student</th>
      <th>Grade</th>
      <th>Teacher</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Payment Type</th>
      <th>Sold by</th>
    </tr>
  </thead>

  <tbody>

    <% unless @students.nil? %>
    <% @students.each do |student| %>
      <% student.carts.where(:purchased => true).each do |cart| %>
      <tr>
            <% cart.order_packages.where(:package_id => 7).where(:student_id => student.id).each do |o| %>
              <td><%= student.first_name %> <%= student.last_name %></td>
              <td><%= student.grade %></td>
              <td><%= student.teacher %></td>
              <td><%= cart.created_at.strftime("%B %d, %Y") %></td>
              <td>1</td>
              <td><%= number_to_currency(o.option.price(student.school), :unit => "$") %></td>
              <td>Shoob Online</td>
              <td></td>
            <% end %>
      </tr>
        <% end %>
        <% end %> 
        <% end %> 
        <% @yearbooks.each do |yearbook| %>
        <tr>
              <td><%= yearbook.student.first_name %> <%= yearbook.student.last_name %></td>
              <td><%= yearbook.student.grade %></td>
              <td><%= yearbook.student.teacher %></td>
              <td><%= yearbook.created_at.strftime("%B %d, %Y") %></td>
              <td><%= yearbook.quantity %></td>
              <td><%= number_to_currency(yearbook.amount, :unit => "$") %></td>
              <td><%= yearbook.payment_type %></td>
              <td><%= yearbook.user.try(:first_name) %> <%= yearbook.user.try(:last_name) %></td>

        </tr>
        <% unless yearbook.notes.nil? %>
        <tr>
          <td colspan="7">
          Notes: <%= yearbook.notes %>
        </td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
</table>

<br>


