<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :scode %>
    <%= f.input :account %>
    <%= f.input :date %>
    <%= f.input :job %>
    <%= f.input :jobtype %>
    <%= f.association :packages, as: :select %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
