<%= simple_form_for(@job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :school, :collection => School.all.where.not(school_type_id: nil).order(:name) %>
    <!-- Changed f.input to f.association which pulls assoc from school and create dropdown -->

    <%= f.input :jtype_id %>
    <%= f.input :job %>
    <%= f.input :jdate %>
    <%= f.input :location%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
