<p id="notice"><%= notice %></p>

<p>
  <strong>Scode:</strong>
  <%= @job.scode %>
</p>

<p>
  <strong>Account:</strong>
  <%= @job.account %>
</p>

<p>
  <strong>Date:</strong>
  <%= @job.date %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job.job %>
</p>

<p>
  <strong>Jobtype:</strong>
  <%= @job.jobtype %>
</p>

<p>
  <strong>Package:</strong>
  <%= @job.package_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
