<%= simple_form_for [:admin, @extra] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :extra_type, class: "form-control" %>

  </div>
  <%= f.input :quantity %>
  <%= f.input :image, as: :file %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
