<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Submitted</th>
      <th>Order ID</th>
      <th>School</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Student's First Name</th>
      <th>Student's Last Name</th>
      <th>Price</th>
      <th>Processed?</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <% order.cart.students.each do |student| %>
      <tr class=<%= order.processed? ? "success" : "danger" %> id="order_<%= order.id %>_<%= student.id %>" >
        <td><%= link_to "More info", order_show_path(order), remote: true, class: "btn btn-primary" %></td>
        <td><%= order.created_at %></td>
        <td><%= order.id %></td>
        <td><%= student.school.try(:name) %></td>
        <td><%= order.first_name %></td>
        <td><%= order.last_name %></td>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= number_to_currency(order.price, :unit => "$") %></td>
        <td id="button_<%= order.id %>_<%= student.id %>">
        <% if order.processed? %>
          <%= link_to "Processed", order_notprocessed_path(order.id, student.id), class: "btn btn-success", remote: true %>
        <% else %>
          <%= link_to "Not Processed", order_processed_path(order.id, student.id), remote: true, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
