<div class="modal-dialog" id="lesson_resources">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Order <%= @order.id %> Purchase Information</h4>
      </div>
      <div class="modal-body">
      <div id="table">
      <hr >


<% @order.cart.students.each_with_index do |student, index| %>

  <strong>Student: </strong><%= student.first_name %> <%= student.last_name %><br/>
  Grade: <%= student.grade %> <br/>
  Teacher: <%= student.try(:teacher) %>
 
  <% @order.cart.order_packages.where(:student_id => student.id).each do |o| %>
  <% o.gifts.each do |gift| %>
    <div class="row"> 
      <div class="col-sm-6">
      <strong>Gifts: </strong><br/>

      </div>
      <div class="col-sm-6">
        <strong>(<%= o.quantity %>) <%= gift.name %> - (<%= number_to_currency(gift.price*o.quantity, :unit => "$") %>)</strong>

      <hr>
          </div>
      </div>
  <% end %>
  <% o.options.each do |option| %>
  <div class="row">
      <div class="col-sm-6">
      <strong><%= o.package.name %> 
      <% if o.package.id == 253 %>
      - <%= DownloadImage.package_name(o.student_image_id) %>
      <% end %></strong><br />
      <% image = o.package.student_images.where(:student_id => student.id).last %>
      
      <% unless image.nil? %> 
      <%= image_tag(image.url, class: "img-rounded img-package") %>
      <% else %>
      <%= image_tag(o.package.image.url, class: "img-rounded img-package") %>
      <% end %>
      </div>
      <div class="col-sm-6">
        <strong><%= option.name %> - (<%= number_to_currency(option.price, :unit => "$") %>)</strong>
          <ul>
            <% option.image_types.each do |type| %>
              <li><%= type.name %>
              </li>
            <% end %>
          </ul>

      <% o.extras.each do |extra| %>
        <%= number_to_currency(extra.prices.first.try(:price), :unit => "$") %> - <%= extra.name %> <br/>
      <% end %>

      <% if o.sheets.any? %><br/><br/>
        <ul>

          <% ImageType.find(o.sheets.pluck(:image_type_id).uniq).each do |image_type| %>
          <% o.sheets.where(:image_type_id => image_type.id).each do |sheet| %>
          <li>(<%= ImageType.count_types(image_type.id) %>) <%= ImageType.name_out(image_type.id) %>: <strong><%= sheet.senior_image.try(:url) %></strong></li>
          <% end %>
          <% end %>
        </ul>

        <% unless o.senior_image_id.nil? %>
          <ul>
            <li>Yearbook Pose: <strong><%= SeniorImage.find(o.senior_image_id).url.downcase %></strong></li>
          </ul>
        <% end %> 
        <% end %>
      <hr>
          </div>
      </div>
      <% end %>


      
  <% end %>
 
 <% end %>

      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"><strong>Total: <%= number_to_currency(@order.price, :unit => "$") %>
        </strong>
        </div>
        </div>


      
      <hr >


      <div class="row">
        <div class="col-sm-6">
        <h3>Shipping Information</h3>
        <%= @order.first_name %> <%= @order.last_name %><br />
        <%= @order.shipping_address %><br />
        <%= @order.shipping_city %>, <%= @order.try(:shipping_state) %> <%= @order.shipping_zip %>

        </div>
        <div class="col-sm-6">
        <h3>Billing Information</h3>
        <%= @order.first_name %> <%= @order.last_name %><br />
        <%= @order.address %><br >
        <%= @order.city %>, <%= @order.state.upcase %> <%= @order.zip_code %><br />
        <%= @order.card_type.humanize %>, expires on <%= @order.card_expires_on %><br />
        IP Address: <%= @order.ip_address %>
        
        </div>

      </div>
      <hr >
      
      <h3>Contact</h3>
      


      <div class="row">
        <div class="col-sm-6">
        <strong>Phone:</strong> <%= @order.phone %>
        </div>
        <div class="col-sm-6">
        <strong>Email:</strong> <%= @order.email %>
        </div>

      </div><br/>
      Notes: <br/>
      <%= @order.notes %>
<br />
      </div>



<div class="dropdown">




      </div>
      <div class="form-actions">
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>   
      </div>   

    </div>
  </div>
</div>