<h3>Orders</h3>
<hr>


<p><%= link_to "Advanced Search", new_search_path %></p>

<div class="row">
<div class="col-sm-6">
<%= link_to 'Generate the latest CSV File of Orders', order_export_path(Order.first.id) %><br />

<% if Export.last.file_path.nil? %>
<a href="https://s3.amazonaws.com/shoobphoto/csvs/<%= Export.last.file_path %>" download class="btn btn-disabled btn-primary">The CSV is still being processed. Please refresh in a few minutes.</a>
<% else %>
<a href="https://s3.amazonaws.com/shoobphoto/csvs/<%= Export.last.file_path %>" download class="btn btn-primary">Download <%= Export.last.file_path %></a>
<% end %>
</div>
<div class="col-sm-6">
<%= form_tag('/orders/import/', multipart: true) do %>

  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>
</div>
<br />
<div id="orders">
  <%= render 'index', :locals => {:orders => @orders} %>
</div>
<%= will_paginate @orders %>


