<%= form_for @order, :url => {:action => "confirm", class: "form-control"} do |f| %>

<%= errors_for(@order) %>

<h3>Credit Card Information</h3>
<hr >
<div class="row">
<div class="col-sm-2">
<%= f.label(:first_name, "First Name")%>
</div>
<div class="col-sm-10">
      <%= f.text_field :first_name, class: "form-control" %>
</div>
</div>
<br />
<div class="row">
<div class="col-sm-2">
<%= f.label(:last_name, "Last Name")%>
</div>
<div class="col-sm-10">
      <%= f.text_field :last_name, class: "form-control" %>
</div>
</div>
<br />
<div class="row">
<div class="col-sm-2">
Phone number
</div>
<div class="col-sm-10">
      <%= f.text_field :phone, class: "form-control" %>
</div>
</div>

<br />
<div class="row">
<div class="col-sm-2">
Email
</div>
<div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
</div>
</div>
<br />
<div class="row">
<div class="col-sm-2">
Card number
</div>
<div class="col-sm-5">
      <%= f.text_field :card_number, class: "form-control" %>
</div>
<div class="col-sm-2">
Card Type
</div>
<div class="col-sm-3">
      <%= f.select :card_type, Order::CardTypes %>
      </div>
      </div>
 <br />
 <div class="row">
 <div class="col-sm-2">
 Expires on
 </div>
<div class="col-sm-3">
          <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>


</div>
<div class="col-sm-3">
Card Verification (number on back)
</div>
<div class="col-sm-4">
      <%= f.text_field :card_verification, class: "form-control" %>
      </div>
      </div>

<h3>Billing Address</h3>
<hr >

<div class="row">
<div class="col-sm-2">
Address
</div>
<div class="col-sm-10">
      <%= f.text_field :address, class: "form-control", id: "billingaddress" %>
</div>
</div>
<br />
<div class="row">
<div class="col-sm-2">
City
</div>
<div class="col-sm-3">
      <%= f.text_field :city, class: "form-control", id: "billingcity" %>
</div>
<div class="col-sm-1">
State
</div>
<div class="col-sm-2">
<%= f.text_field :state, class: "form-control", id: "billingstate" %>
</div>
<div class="col-sm-1">
Zip code
</div>
<div class="col-sm-3">
      <%= f.text_field :zip_code, class: "form-control", id: "billingzip" %>

</div>
</div>

<h3>Shipping Address    &nbsp; <label for="ship_to_billing_address"> <input type="checkbox" name="ship_to_billing_address" id="ship_to_billing_address" /> Check if the billing address is the same as your shipping address
        
    </label></h3>
<hr >

<div class="row">
<div class="col-sm-2">
Address
</div>
<div class="col-sm-10">
      <%= f.text_field :shipping_address, class: "form-control", id: "shippingaddress" %>
</div>
</div>
<br />
<div class="row">
<div class="col-sm-2">
City
</div>
<div class="col-sm-3">
      <%= f.text_field :shipping_city, class: "form-control", id: "shippingcity" %>
</div>
<div class="col-sm-1">
State
</div>
<div class="col-sm-2">
<%= f.text_field :shipping_state, class: "form-control", id: "shippingstate" %>
</div>
<div class="col-sm-1">
Zip code
</div>
<div class="col-sm-3">
      <%= f.text_field :shipping_zip, class: "form-control", id: "shippingzip" %>

</div>
</div><br />

<%= f.label :notes, "Extra notes" %>
<%= f.text_field :notes, class: "form-control", :rows => "100" %>
<br />

<div class="row">
<div class="col-sm-8">

</div>
<div class="col-sm-2">
  <strong>Total: <%= number_to_currency @order.price %></strong>
</div>
<div class="col-sm-2">
  <%= f.submit 'Confirm purchase', class: "btn btn-custom btn-loading" %>
  </div>
  </div>
<% end %>

<br />

<script type="text/javascript">


$("input#ship_to_billing_address").click(function(){ 
if ($("input#ship_to_billing_address").is(':checked')) 
{ 
    // Checked, hide shipping address 
   $("#shipping_address_form_part").hide(500);
} 
$('#shippingaddress').val($('#billingaddress').val()); 
$('#shippingzip').val($('#billingzip').val());
$('#shippingstate').val($('#billingstate').val());  
$('#shippingcity').val($('#billingcity').val()); 
});


$(".btn-loading").on("click", function() {
  $('#myModal').modal('show');
  $("#modal-window").html("<%= escape_javascript(render partial: 'loading') %>"); 
});
</script>
