<%= form_for @order, :url => {:action => "confirm", class: "form-control"} do |f| %>

<%= errors_for(@order) %>
<div class="row">
  <div class="col-xs-6">
    <span class="cart_title">Shipping Info: &nbsp;</span><span id="edit_shipping"></span><br/>
    <div id="shipping_info" class="animated fadeIn">
    
    <span class="label_header">First Name</span> <br/>
    <%= f.text_field :shipping_first_name, class: "enjoy-css", id: "shipping_first_name" %>
    <span class="label_header">Last Name</span> <br/>
    <%= f.text_field :shipping_last_name, class: "enjoy-css", id: "shipping_last_name" %>
    <span class="label_header">Address</span>
    <%= f.text_field :shipping_address, class: "enjoy-css", id: "shipping_address" %>
    <%= f.text_field :shipping_address2, class: "enjoy-css", id: "shipping_address2" %>

    <span class="label_header">City</span>

    <%= f.text_field :shipping_city, class: "enjoy-css", id: "shipping_city" %>
    <span class="label_header">State</span>
    <%= f.select :state, options_for_select(us_states),{}, id: "shipping_state" %>

    <span class="label_header">ZIP Code</span>
    <%= f.text_field :shipping_zip, class: "enjoy-css", id: "shipping_zip" %>
    <span class="label_header">Phone</span>
      <%= f.text_field :phone, class: "enjoy-css", id: "phone" %>
      <%= f.hidden_field :email, :value => "#{@cart.email}" %>
    </div>
    <div id="shipping_hidden"></div>
    <span class="cart_title billing_info_title" hidden>Billing Info: &nbsp;</span><span id="edit_billing"></span><br/>
    <div id="billing_info" hidden >
      
      <span class="label_header">First Name</span> <br/>
      <%= f.text_field :first_name, class: "enjoy-css", id: "billing_first_name" %>
      <span class="label_header">Last Name</span> <br/>
      <%= f.text_field :last_name, class: "enjoy-css", id: "billing_last_name" %>
      <span class="label_header">Card Number</span> <br/>
      <%= f.text_field :card_number, class: "enjoy-css", id: "card_number", :autocomplete => :off  %>
      <span class="label_header">Card Type</span> <br/>
      <%= f.select :card_type, Order::CardTypes, id: "card_types" %>
      <span class="label_header">Expiration Date</span> <br/>

      <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true, id: "expiration_date" %>


      <span class="label_header">Security Code (CVV)</span> <br/>
      <%= f.text_field :card_verification, class: "enjoy-css", id: "card_verification" %>
  
      <span class="label_header">Billing Address &nbsp; <label for="ship_to_billing_address"> <input type="checkbox" name="ship_to_billing_address" id="ship_to_billing_address" /> Check if the billing address is the same as your shipping address</span>
      <%= f.text_field :address, class: "enjoy-css", id: "billing_address" %>
      <%= f.text_field :address2, class: "enjoy-css", id: "billing_address2" %>

      <span class="label_header">City</span>

      <%= f.text_field :city, class: "enjoy-css", id: "billing_city" %>
      <span class="label_header">State</span>
      <%= f.select :state, options_for_select(us_states),{}, id: "billing_state" %>

      <span class="label_header">ZIP Code</span>
      <%= f.text_field :zip_code, class: "enjoy-css", id: "billing_zip" %>

      
    </div>

    <div id="billing_hidden"></div>
  </div>



<div class="col-xs-6 space_left">
    <div class="row">
      <div class="col-xs-6 cart_title">
        Cart
      </div>
      <div class="col-xs-6 subtotal">

      </div>
    </div>
    <div class="cart_box">
      <% @cart.students.each do |student| %>
      <strong>Student: <%= student.first_name %> <%= student.last_name %></strong>
      <% @cart.order_packages.each do |opackage| %>
      <% opackage.options.each do |option| %>
      <span class="<%= opackage.id %>_<%= option.id %>">
      <div class="row gray_text_cart">
        <div class="col-xs-9">
          <%= opackage.package.name %>: <%= option.name %>
        </div>
        <div class="col-xs-3 gray_text_cart" align="right"><%= number_to_currency(option.price, :show_zero => false) %></div>
      </div>
      <% opackage.extras.each do |extra| %>
        <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-8 gray_text_cart">
          <%= extra.name %>
        </div>
        <div class="col-xs-3 gray_text_cart" align="right">
          <%= number_to_currency(extra.prices.first.price, :show_zero => false) %>
        </div>
      </div>
      <% end %>
      <hr>
      </span>
      <% end %>
      <% end %>
      <% end %>

      <% if @cart.order_packages.first.package.shippings.any? %>
      <div class="row">
        <div class="col-xs-6 subtotal">
          SHIPPING
        </div>
        <div class="col-xs-6 subtotal" align="right">
          <%= number_to_currency(@cart.order_packages.first.package.shippings.first.price, :show_zero => false) %>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-xs-6 subtotal">
          <strong>Total</strong>
        </div>
        <div class="col-xs-6 subtotal" align="right">
          <%= number_to_currency(@cart.price, :show_zero => false) %>
        </div>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-xs-8"></div>
      <div class="col-xs-3" id="button_continue">
        <%= button_tag "Continue", type: 'button', onclick: "validateForm()", class: 'btn-blue' %>
      </div>
    </div>
  </div>
</div>


<% end %>

<br />

<script>


$("input#ship_to_billing_address").click(function(){ 
if ($("input#ship_to_billing_address").is(':checked')) 
{ 
$('#billing_address').val($('#shipping_address').val());
$('#billing_address2').val($('#shipping_address2').val()); 

$('#billing_zip').val($('#shipping_zip').val()); 
$('#billing_city').val($('#shipping_city').val()); 

$("#billing_state").select2("trigger", "select", {
    data: { id: $("#shipping_state").val() }
});
} 

});




$(document).ready(function() { 
  $("#shipping_state").select2({
    theme: "bootstrap",
    width: '104%',
  });

  $("#billing_state").select2({
    theme: "bootstrap",
    width: '104%',
  });

  $("#order_card_type").select2({
    theme: "bootstrap",
    width: '104%',
    minimumResultsForSearch: Infinity
  });

  $("#order_card_expires_on_1i").select2({
    theme: "bootstrap",
    width: '104%',
    minimumResultsForSearch: Infinity
  });

  $("#order_card_expires_on_2i").select2({
    theme: "bootstrap",
    width: '104%',
    minimumResultsForSearch: Infinity
  });


  $('.select2-selection').css('border-radius','0px')
  $('.select2-selection').css('border','2px solid #9D9D9D')
  $('.select2-selection').css('font','normal 16px/normal "Trebuchet MS", Helvetica, sans-serif')
  $('.select2-selection').css('margin-bottom','20px')
  $('.select2-selection').css('padding-top','9px')
  $('.select2-selection').css('height','44px')
  $('.select2-container').children().css('border-radius','0px')

 });

function validateForm(){isValid = false;
  var isValid = true;

  var x = document.getElementById('shipping_first_name').value;
    if (x == null || x == "") {
        isValid = false;
        var d = document.getElementById("shipping_first_name");
        d.className += " error_field";
      } else {

      document.getElementById("shipping_first_name").className = "";
      document.getElementById("shipping_first_name").className = "enjoy-css";
      }
    

    var z = document.getElementById('shipping_last_name').value;
    if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("shipping_last_name");
        d.className += " error_field";
        } else {

      document.getElementById("shipping_last_name").className = "";
      document.getElementById("shipping_last_name").className = "enjoy-css";
      }
    
    var z = document.getElementById('shipping_address').value;
    if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("shipping_address");
        d.className += " error_field";
        } else {

      document.getElementById("shipping_address").className = "";
      document.getElementById("shipping_address").className = "enjoy-css";
      }

      var z = document.getElementById('shipping_zip').value;
    if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("shipping_zip");
        d.className += " error_field";
        } else {

      document.getElementById("shipping_zip").className = "";
      document.getElementById("shipping_zip").className = "enjoy-css";
      }

      var z = document.getElementById('phone').value;
    if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("phone");
        d.className += " error_field";
        } else {

      document.getElementById("phone").className = "";
      document.getElementById("phone").className = "enjoy-css";
      }

      var z = document.getElementById('shipping_city').value;
      if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("shipping_city");
        d.className += " error_field";
        } else {

      document.getElementById("shipping_city").className = "";
      document.getElementById("shipping_city").className = "enjoy-css";
      }
    


  if(isValid){
    $('#shipping_info').hide();
    $('#edit_shipping').html("<%= escape_javascript(button_tag 'Edit', type: 'button', onclick: 'editShipping()', class: 'btn-4') %>");
    $('#shipping_hidden').html("<p class='shipping_info'>" + $('#shipping_first_name').val() + " " + $('#shipping_last_name').val() + "<br/>" + $('#shipping_address').val() + " " + $('#shipping_address2').val() + "<br/>" + $('#shipping_city').val() + ", " + $('#shipping_state').val() + " " + $('#shipping_zip').val() + "</p>");
    $('#billing_info').show();
    $('.billing_info_title').show();
    $('#billing_info').addClass('animated fadeIn');
    $("#button_continue").html("<%= escape_javascript(button_tag 'Continue', type: 'button', onclick: 'validateForm2()', class: 'btn-blue') %>");

  }

}

function editShipping(){
  $('#shipping_info').show();
  $('#shipping_hidden').hide();
  }

  function editBilling(){
  $('#billing_info').show();
  $('#billing_hidden').hide();
  }


function validateForm2(){isValid = false;
  var isValid = true;

  var x = document.getElementById('billing_first_name').value;
    if (x == null || x == "") {
        isValid = false;
        var d = document.getElementById("billing_first_name");
        d.className += " error_field";
      } else {

      document.getElementById("billing_first_name").className = "";
      document.getElementById("billing_first_name").className = "enjoy-css";
      }
    

    var z = document.getElementById('billing_last_name').value;
    if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("billing_last_name");
        d.className += " error_field";
        } else {

      document.getElementById("billing_last_name").className = "";
      document.getElementById("billing_last_name").className = "enjoy-css";
      }
    
    var z = document.getElementById('billing_address').value;
    if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("billing_address");
        d.className += " error_field";
        } else {

      document.getElementById("billing_address").className = "";
      document.getElementById("billing_address").className = "enjoy-css";
      }

      var z = document.getElementById('billing_zip').value;
    if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("billing_zip");
        d.className += " error_field";
        } else {

      document.getElementById("billing_zip").className = "";
      document.getElementById("billing_zip").className = "enjoy-css";
      }

      var z = document.getElementById('billing_city').value;
      if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("billing_city");
        d.className += " error_field";
        } else {

      document.getElementById("billing_city").className = "";
      document.getElementById("billing_city").className = "enjoy-css";
      }

      var z = document.getElementById('card_number').value;
      if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("card_number");
        d.className += " error_field";
        } else {

      document.getElementById("card_number").className = "";
      document.getElementById("card_number").className = "enjoy-css";
      }

      var z = document.getElementById('card_verification').value;
      if (z == null || z == "") {
        isValid = false;
        var d = document.getElementById("card_verification");
        d.className += " error_field";
        } else {

      document.getElementById("card_verification").className = "";
      document.getElementById("card_verification").className = "enjoy-css";
      }
    


  if(isValid){
    $('#billing_info').hide();
    $('#edit_billing').html("<%= escape_javascript(button_tag 'Edit', type: 'button', onclick: 'editBilling()', class: 'btn-4') %>");
    $('#billing_hidden').html("<p class='shipping_info'>" + $('#billing_first_name').val() + " " + $('#billing_last_name').val() + "<br/>" + "Paid with: " + $('#order_card_type').val() + "<br/>" + $('#billing_address').val() + " " + $('#billing_address2').val() + "<br/>" + $('#billing_city').val() + ", " + $('#billing_state').val() + " " + $('#shipping_zip').val() + "</p>");
    $("#button_continue").html("<%= escape_javascript(submit_tag 'Confirm purchase', class: 'btn-blue btn-loading') %>");
    $("#button_continue").addClass('loading');
  }

}
<% if @order.errors.any? %>
$('#billing_info').show();
$('.billing_info_title').show();
$("#button_continue").html("<%= escape_javascript(submit_tag 'Confirm purchase', class: 'btn-blue loading') %>");
<% end %>


</script>
