<div align="center"><%= image_tag('contact.jpg', class: "img img-rounded") %></div>

<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="input">
    <h3>I am a:</h3>

    <div class="row">

<div class="col-sm-10">
<div class="row">
  <div class="col-sm-4">
  <%= f.label :admin, class: 'checkbox' do %>
  <%= f.check_box :admin %>
  Administrator
<% end %>
</div>

  <div class="col-sm-4">
  <%= f.label :teacher, class: 'checkbox' do %>
  <%= f.check_box :teacher %>
  Teacher/Coach
<% end %>
</div>

  <div class="col-sm-4">
  <%= f.label :parent, class: 'checkbox' do %>
  <%= f.check_box :parent, :id => "parent" %>
  Parent of a child taking pictures
<% end %>
</div>
</div>

</div>
</div>
    
    <hr>

    <div class="row">
      Enter NA if not applicable
      <div class="col-sm-5">
        <%= f.input :name %>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <%= f.input :school %>
      </div>
    </div>
    <div id="student" class="row" hidden>
      <div class="col-sm-3">
        <%= f.input :student, :label => "Student/Player" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        <%= f.input :grade, :label => "Grade/Team" %>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">

    <%= f.input :teacher_name %>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-5">
        <%= f.input :address%>
      </div>
      <div class="col-sm-2"></div>
    <div class="col-sm-5">
        <%= f.input :city, :label => "City, State, Zip" %>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-5">
        <%= f.input :email%>
      </div>
      <div class="col-sm-2"></div>
    <div class="col-sm-5">
        <%= f.input :phone %>
      </div>
    </div>
    Message: <br/>
    <%= f.text_area :message, :input_html => {:cols => 1, :style => "min-width:100%;"}, as: :text  %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send" %>
  </div>
<% end %>

<script type="text/javascript">
$('#parent').click(function () {
    $('#student').show();
});

</script>
