<div align="center"><%= image_tag('contact.jpg', class: "img img-rounded") %></div>

<%= simple_form_for(@contact, html: {class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h3>I am a:</h3>
    
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <%= f.input :admin, :label => "Administrator" %>
      </div>
      <div class="col-sm-2">
      <%= f.input :teacher, :label => "Teacher" %>
      </div>
      <div class="col-sm-3">
      <%= f.input :parent, :label => "Parent of a child taking pictures", :label_html => {  :id => "parent" } %>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-5">
        <%= f.input :name %>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">
        <%= f.input :school %>
      </div>
    </div>
    <div id="student" class="row" hidden>
      <div class="col-sm-3">
        <%= f.input :student %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        <%= f.input :grade %>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-5">

    <%= f.input :teacher_name %>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-5">
        <%= f.input :address%>
      </div>
      <div class="col-sm-2"></div>
    <div class="col-sm-5">
        <%= f.input :city, :label => "City, State, Zip" %>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-5">
        <%= f.input :email%>
      </div>
      <div class="col-sm-2"></div>
    <div class="col-sm-5">
        <%= f.input :phone %>
      </div>
    </div>
    <%= f.input :message, :input_html => {:cols => 1, :style => "width:600px;"}  %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send" %>
  </div>
<% end %>

<script type="text/javascript">
$('#parent').click(function () {
    $('#student').show();
});

</script>
