<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @contact.school %>
</p>

<p>
  <strong>Student:</strong>
  <%= @contact.student %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @contact.grade %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @contact.teacher %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @contact.admin %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @contact.teacher %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @contact.parent %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
