<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-11"><span style="font-size:30px; color:#396599">ADD INFORMATION - <%= f.object.award.title %></span>
</div>
</div>
<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-6" >

				<div class="row">

				<div class="col-xs-6">
				<div class="form-group string optional export_list_award_infos_awarded_for">
            	<input type='text' placeholder="Ceremony Date (12/30/2016)" class="form-control awardform" id='datetimepicker<%= i %>' style="width: 80%;"/>
				<input hidden type='text' name='export_list[award_infos_attributes][<%= i %>][award_date]' id='value<%= i %>' value="<%= f.object.award_date %>" />
            	</div>
            	</div>
				<div class="col-xs-6">
				<div class="form-group string optional export_list_award_infos_awarded_for">
            	<input type='text' placeholder="Receive By (12/28/2016)" class="form-control awardform" id='datetimepicker<%= i %>_2' style="width: 80%;"/>
				<input hidden type='text' name='export_list[award_infos_attributes][<%= i %>][receive_by]' id='value<%= i %>_2' value="<%= f.object.receive_by %>" />
            	</div>
				</div>
				</div>

				<% if f.object.award.add_period? %>
				Time Period:
				<div class="time_period_<%= f.object.award.id %>">
					<%= f.select :time_period, Award::TimePeriods, {}, { :class => "date_dropdown" } %>
				</div>
				<% end %>
				
            	<% if f.object.award.add_awarded_for? %>
				<%= f.input :awarded_for, :label => false, placeholder: "Awarded For (Trustworthy)", :input_html => { :class => 'awardform' } %>
				<% end %>
				<% if f.object.award.add_definition? %>
				<%= f.input :definition, as: :string, :label => false, placeholder: "Definition (Being trustworhty means...)", :input_html => { :class => 'awardform' } %>
				<% end %>
				

	</div>

	<div class="col-xs-5"> 
	
	<%= image_tag(f.object.award.image.url, class: "award_preview") %> 


	</div>
</div>

<script>


$(".date_dropdown").select2({
    theme: "bootstrap",
    width: '100%',
    minimumResultsForSearch: Infinity
  });

  $('.select2-selection').css('border-radius','0px')
  $('.select2-selection').css('border','2px solid #9D9D9D')
  $('.select2-selection').css('font','normal 16px/normal "Trebuchet MS", Helvetica, sans-serif')
  $('.select2-selection').css('margin-bottom','20px') 
  $('.select2-selection').css('padding-top','9px')
  $('.select2-selection').css('height','44px')
  $('.select2-container').children().css('border-radius','0px')

</script>


