<style>

.award_header {	
  text-align: right;
}

</style>
 
<!-- The progress list at the top -->

<!-- The line with the school logo and school name -->

<div class="row">
	<div class="col-xs-2" align="right">
	<%= image_tag(current_user.school.logo, class: "school_logo") %>
	</div>
	<div class="col-xs-10" style="color:#396599; font-size:40px; padding-top:20px;">
  <%= current_user.school.name.upcase %> AWARDS
  </div>
</div>

<br/>

<!-- The 'Student Search' forms -->


<!-- The student select list -->


<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10">
		<span style="font-size:30px; color:#396599">REVIEW ALL LISTS TO BE SUBMITTED</span>
	</div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2 blue_text">AWARDS</div>
	<div class="col-xs-2 blue_text">DATE STARTED</div>
	<div class="col-xs-2 blue_text">RECEIVE BY</div>
	<div class="col-xs-4 blue_text">SEND CORRECTION</div>
</div>

	<% current_user.export_lists.where(:submitted => true).where(:hidden => false).order('created_at DESC').each do |export_list| %>
	<% if export_list.award_infos.any? %>
	<div class="row">
	<div class="col-xs-1">

	</div>
	<div class="col-xs-2 blue_text"><%= export_list.award_infos.order(:index).map {|a| a.award.abbreviation}.join(", ") %></div>
	<div class="col-xs-2 blue_text"><%= export_list.award_infos.first.created_at.strftime("%m/%d/%Y") unless export_list.award_infos.first.created_at.nil? %></div>
	<div class="col-xs-2 blue_text"><%= export_list.award_infos.first.receive_by.strftime("%m/%d/%Y") unless export_list.award_infos.first.receive_by.nil? %></div>

	<div class="col-xs-4 blue_text"><%= link_to "Add students to existing award", award_create_corrections_path(export_list.uniq_id), class: "btn-awards-next2" %></div>
</div>
	<% end %>
	<% end %>
<br/>

