<style>

.award_header {	
  text-align: right;
}

</style>

<!-- The progress list at the top -->

<div class="row">
<div class="col-xs-1">
</div>
	<div class="award_header">
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-sign" style="color:#FFBB00"></span></small><b style="font-size:14px; color:#FFBB00;"> SELECT AWARD</b>
	</div>
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-sign" style="color:#FFBB00"></span></small><b style="font-size:14px; color:#FFBB00;"> ADD INFORMATION</b>
	</div>
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-sign" style="color:#FFBB00"></span></small><b style="font-size:14px; color:#FFBB00;"> SELECT STUDENTS</b>
	</div>
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-sign" style="color:#FFBB00"></span></small><b style="font-size:14px; color:#FFBB00;"> REVIEW LISTS</b>
	</div>
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-circle" style="color:#396599"></span></small><b style="font-size:14px; color:#396599;"> SUBMIT LISTS</b>
	</div>
	</div>
<div class="col-xs-1">
</div>
</div>

<br/>

<!-- The line with the school logo and school name -->

<div class="row">
	<div class="col-xs-2" align="right">
	<%= image_tag(current_user.school.logo, class: "school_logo") %>
	</div>
	<div class="col-xs-10" style="color:#396599; font-size:40px; padding-top:20px;">
  <%= current_user.school.name.upcase %> AWARDS
  </div>
</div>

<br/>

<!-- The 'Student Search' forms -->


<!-- The student select list -->

<div class="row">
	<div class="col-xs-1">
	</div>
	<div class="col-xs-10">
		<span style="font-size:30px; color:#396599">REVIEW ALL LISTS TO BE SUBMITTED</span>
	</div>
</div>

<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-2 blue_text">AWARDS</div>
	<div class="col-xs-2 blue_text">DATE STARTED</div>
	<div class="col-xs-2 blue_text">RECEIVE BY</div>
	<div class="col-xs-2 blue_text">EDIT LIST</div>
	<div class="col-xs-2 blue_text">REMOVE AWARD</div>
</div>

	<% current_user.export_lists.where(:submitted => false).where(:hidden => false).each do |export_list| %>
	<% if export_list.award_infos.any? %>
	<div class="row">
	<div class="col-xs-1">

	</div>
	<div class="col-xs-2 blue_text"><%= export_list.award_infos.order(:index).map {|a| a.award.abbreviation}.join(", ") %></div>
	<div class="col-xs-2 blue_text"><%= export_list.award_infos.first.created_at.strftime("%m/%d/%Y") unless export_list.award_infos.first.created_at.nil? %></div>
	<div class="col-xs-2 blue_text"><%= export_list.award_infos.first.receive_by.strftime("%m/%d/%Y") unless export_list.award_infos.first.receive_by.nil? %></div>
	<% if export_list.multiple? %>
	<div class="col-xs-2 blue_text"><%= link_to "EDIT AWARD LIST", award_multiple_add_info_path(export_list.uniq_id), class: "btn-awards-next-small" %></div>
	<% else %>
	<div class="col-xs-2 blue_text"><%= link_to "EDIT AWARD LIST", award_add_info_path(export_list.uniq_id, export_list.award_infos.first.award.id, export_list.award_infos.first.id, :i => 0), class: "btn-awards-next-small" %></div>
	<% end %>
	<div class="col-xs-2 blue_text"><%= link_to "REMOVE AWARD LIST", award_remove_path(export_list.id), class: "btn-awards-next-small-danger", :data => {:confirm => "Are you sure? This will remove all progresson this award."} %></div>
</div>
	<% end %>
	<% end %>
<br/>

