<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />

<style>

.row {
	font-family: Lato !important;
}

.award_header {	
  text-align: right;
}

.someClass {}

.printThis {
	display: none;
}

@media print {
    .noPrint { display: none; }
    .printThis { 
    	display: block; 
    }
} 

th {
	background-color: white;
}

</style>

<script src="https://unpkg.com/sticky-table-headers"></script>

<script>

$(function() {
  $("table").stickyTableHeaders();
});

</script>

  <div id="id01" class="w3-modal noPrint">
    <div class="w3-modal-content noPrint">
      <div class="w3-container noPrint" style="text-align:center">
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright noPrint">&times;</span>
        </br>
        <p><b>Would you like to print a list of students receiving awards to keep for your records?</p>
        <p style="color:red">(This <i>cannot</i> be done later)</b></p></br>
        <div class="row">
        	<div class="col-xs-5">
        		<button class="noPrint btn-awards-next3" onclick="window.print();">Print List of Students</button>
        	</div>
        	<div class="col-xs-2"></div>
        	<div class="col-xs-5">
        		<button class="noPrint btn-awards-next"><%= link_to "Save and Continue", award_review_all_path(@export_list.uniq_id), class: "btn-awards-next"%></button>
        	</div>
        </div>
        </br>
      </div>
    </div>
  </div>

<!-- The progress list at the top -->
</br>
<div class="row noPrint">
<div class="col-xs-1">
</div>
	<div class="award_header">
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-sign" style="color:#FFBB00; font-size:14px;"></span></small><b style="font-size:14px; color:#FFBB00;"> SELECT AWARD</b>
	</div>
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-sign" style="color:#FFBB00; font-size:14px;"></span></small><b style="font-size:14px; color:#FFBB00;"> ADD INFORMATION</b>
	</div>
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-sign" style="color:#FFBB00; font-size:14px;"></span></small><b style="font-size:14px; color:#FFBB00;"> SELECT STUDENTS</b>
	</div>
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-sign" style="color:#FFBB00; font-size:14px;"></span></small><b style="font-size:14px; color:#FFBB00;"> REVIEW LISTS</b>
	</div>
	<div class="col-xs-2">
		<small><span class="glyphicon glyphicon-ok-circle" style="color:#396599; font-size:14px;"></span></small><b style="font-size:14px; color:#396599;"> SUBMIT LISTS</b>
	</div>
	</div>
<div class="col-xs-1">
</div>
</div>

<br/>

<!-- The line with the school logo and school name -->

<div class="row noPrint">
	<div class="col-xs-2" align="right">
	<%= image_tag(current_user.school.logo, class: "school_logo") %>
	</div>
	<div class="col-xs-10" style="color:#396599; font-size:40px; padding-top:20px;">
  <%= current_user.school.name.upcase %> AWARDS
  </div>
</div>

<br/>
<div class="row noPrint">
	<div class="col-xs-4" align="center">
		<button class="noPrint btn-awards-clear"><%= link_to "CLEAR LIST", award_multiple_clear_path(@export_list.id), class: "btn-awards-clear", data: {confirm: "Are you sure you want to clear all #{@export_list.award_infos.count} lists?"} %></button>
		</div>
	<div class="col-xs-4" align="center">
		<button class="noPrint btn-awards-next3"><%= link_to "ADD MORE STUDENTS", award_multiple_students_path(@export_list.uniq_id), class: "btn-awards-next3" %></button>
	</div>
	
	<div class="col-xs-4" align="center"><button onclick="document.getElementById('id01').style.display='block'" class="btn-awards-next">SAVE AND CONTINUE</button></div>

</div>
<br/>
<!-- The 'Student Search' forms -->

<div class="row noPrint">
	<div class="col-xs-3"></div>
	<div class="col-xs-3" align="center"><%= link_to "Sort by student name", award_multiple_review_path(@export_list.uniq_id, :sort => "student"), class: "btn-awards-next2"%></div>
	<div class="col-xs-3" align="center"><%= link_to "Sort by teacher", award_multiple_review_path(@export_list.uniq_id, :sort => "teacher"), class: "btn-awards-next2"%></div>
	<div class="col-xs-3"></div>
</div>

   </br>
<div class="row printThis">

	<div class="col-xs-3">
	AWARD: 
	</br>
	<%  @export_list.award_infos.each do |award| %>
		<%= award.award.title %>
	</br> 
	<% end %>
	</div>

	<div class="col-xs-3">
	AWARD DATE: 
	</br>
	<%  @export_list.award_infos.each do |award| %>
		<%= award.award_date %>
	</br> 
	<% end %>
	</div>

	<div class="col-xs-3">
	RECEIVE BY: 
	</br>
	<%  @export_list.award_infos.each do |award| %>
		<%= award.receive_by %>
	</br> 
	<% end %>
	</div>

	<div class="col-xs-3">
	AWARDED FOR:
	</br> 
	<%  @export_list.award_infos.each do |award| %>
		<%= award.awarded_for %>
	</br> 
	<% end %>
	
	</div>
</div>

<!-- The student select list -->

<br/>

        <table class="table">
          <thead class="noPrint">
            <th>Remove</th> 
              <th><%= sort_link @search, :student_id, "Student ID",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <th><%= sort_link @search, :first_name, "First Name",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <th><%= sort_link @search, :last_name, "Last Name",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <th><%= sort_link @search, :grade, "Grade",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <th><%= sort_link @search, :teacher, "Teacher",{}, { :remote => true, :method => :post }, class: "sorting" %></th>
              <%  @export_list.award_infos.each do |award| %>
				<th style="padding-right:0px" style="padding-left:0px" class="responsive-th select-all"> 
					<%= award.award.abbreviation %>
				</th>

				<% if award.award.trait_definition? %>
					<th style="padding-right:0px" style="padding-left:0px" class="responsive-th select-all"> 
						Trait
					</th>
				<% end %>

				<% end %>
          </thead>
          <tbody>
            <div class="display">
              <%= render 'multiple_results', :students => @students %>
            </div>
          </tbody>
     </table>
     </br></br></br></br></br></br>
