<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @award.title %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @award.abbreviation %>
</p>

<p>
  <strong>Awarded for:</strong>
  <%= @award.awarded_for %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @award.definition %>
</p>

<p>
  <strong>Time period:</strong>
  <%= @award.time_period %>
</p>

<p>
  <strong>Award date:</strong>
  <%= @award.award_date %>
</p>

<p>
  <strong>Export list:</strong>
  <%= @award.export_list_id %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
