<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-xs-6">
      <%= f.text_field :school, :value => "#{current_user.school.name}", :placeholder => "School", class: "enjoy-css" %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :position, :placeholder => "Position", class: "enjoy-css" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.text_field :name, :value => "#{current_user.first_name} #{current_user.last_name}", :placeholder => "Name", class: "enjoy-css" %>
    </div>
    <div class="col-xs-6">
      <%= f.text_field :email, :value => "#{current_user.email}", :placeholder => "Email", class: "enjoy-css" %>
    </div>
  </div>
   <div class="row">
    <div class="col-xs-6">
      <%= f.text_field :phone, :placeholder => "Phone", class: "enjoy-css" %>
    </div>
  </div>

      <% Print.all.order(:name).each do |print| %>
        <%= check_box_tag("#{print.id}", {:checked => @project.prints.include?(print) ? true : false}) %>
        <%= print.name %> - <span style="font-weight:bold;"><%= print.description %></span><br/>
        <span id="<%= print.id%>_after"></span>
      <% end %>
<br/>
  <div class="form-actions">
    <%= f.button :submit, "Continue" %>
  </div>

  <script>
  <% Print.all.each do |print| %> 

    $("#<%= print.id %>").change(function() {
      if (this.checked) {
        $("#<%= print.id %>_after").html("<%= escape_javascript(render 'project_print_fields', :id => print.id, :f => f) %>");
      } else {
        $("#<%= print.id %>_after").html("");
      }
    });

    if ($("#<%= print.id %>").is(':checked')) {
      $("#<%= print.id %>_after").html("<%= escape_javascript(render 'project_print_fields', :id => print.id, :f => f) %>");
    }
  <% end %>
</script>
<% end %>


