<h1>Listing projects</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Email</th>
      <th>Name</th>
      <th>Position</th>
      <th>Phone</th>
      <th>Delivery</th>
      <th>Flexible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.school %></td>
        <td><%= project.email %></td>
        <td><%= project.name %></td>
        <td><%= project.position %></td>
        <td><%= project.phone %></td>
        <td><%= project.delivery %></td>
        <td><%= project.flexible %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
