<h1>Listing dschools</h1>

<table>
  <thead>
    <tr>
      <th>Scode</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dschools.each do |dschool| %>
      <tr>
        <td><%= dschool.scode %></td>
        <td><%= dschool.name %></td>
        <td><%= link_to 'Show', dschool %></td>
        <td><%= link_to 'Edit', edit_dschool_path(dschool) %></td>
        <td><%= link_to 'Destroy', dschool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dschool', new_dschool_path %>
