<p id="notice"><%= notice %></p>

<p>
  <strong>Scode:</strong>
  <%= @dschool.scode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dschool.name %>
</p>

<%= link_to 'Edit', edit_dschool_path(@dschool) %> |
<%= link_to 'Back', dschools_path %>
