<%= simple_form_for [:admin, @school] do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.input :ca_code %>
      </div>
      <div class="col-sm-6">
        <%= f.input :cdscode %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :address %>
      </div>
      <div class="col-sm-6">
        <%= f.input :phone %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :principal %>
      </div>
      <div class="col-sm-6">
        <%= f.input :secretary %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= f.association :district, collection: District.all.order(:name) %>
      </div>
      <div class="col-sm-6">
        <%= f.association :city, collection: City.all.order(:name) %>
      </div>
    </div>


  <%= f.association :school_type, as: :radio_buttons %>

  <%= f.association :packages, as: :check_boxes, :label_method => lambda { |package| "#{package.name} - #{package.slug}" } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
