<style>

.enjoy-css {
  background-color: white !important;
  color: black !important;
  height: 20px !important;
  padding: 4px !important;
  border: 1px !important;
  width: 20% !important;
  border-radius: 2px !important;
}

</style>

<h1>Listing schools</h1>
<br>
<%= search_form_for [:admin, @search] do |f| %>
<div class="field">
  <%= f.label :name_cont, "Name contains" %>
  <%= f.text_field :name_cont %>
</div>
<div class="actions"><%= f.submit "Search" %></div>


<%= link_to "Export schools", export_admin_schools_path  %>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Route</th>
      <th>District ID</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
      <td width="30%" class="dotted" > <%= school.name %></td>
      <td width="10%" class="dotted" > <%= school.route %></td>
      <td width="10%" class="dotted" > <%= school.district_id %></td>
      </tr>
    <% end %>


