<style>
.enjoy-css {
  background-color: white !important;
  color: black !important;
  height: 20px !important;
  padding: 4px !important;
  border: 1px !important;
  width: 20% !important;
  border-radius: 2px !important;
}
</style>

<h1>Listing schools</h1>

<%= form_tag(admin_schools_path, :method => "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Schools", :class => "enjoy-css" %>
  <%= submit_tag "Search" %>

  </br>

<% end %>

<%= form_tag import_admin_schools_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Schools" %>
</br>

<% end %>
<%= link_to "Export schools", export_admin_schools_path  %>

</br>

<%= link_to 'New School', new_admin_school_path %>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
    <tr>
      <th colspan="4"></th>
    </tr>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.route %></td>
        <td><%= school.district_id %></td>
        <td><%= link_to 'Show', admin_school_path(school) %></td>
        <td><%= link_to 'Edit', edit_admin_school_path(school, q: params[:q]) %></td>
        <td><%= link_to 'Destroy', admin_school_path(school), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
