<style>
  
.mobile_index_form {
    width: 100%;
    margin: 237px 0px 0px 0px;
}

.mobile_large_font {
  font-size: 33px;
}

.btn-blue_mobile2 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 5px;
  color: #5392c8;
  background: #1abc9c;
  padding: 5px 8px 5px 8px;
  border: solid #000000 0px;
  text-decoration: none;
  text-align:center;
  color:#fff;
  font-size: 33px;
}

.container {
  width: 100%; !important
}    

.container-fluid {
  width: 100%; !important
}

.mobile_status_left {
  width: auto;
  float: left;
  margin: 0px 40px 0px 0px;
}

.mobile_status_right {
  width: auto;
}
  
</style>

<div class="mobile_index_form">
<span style ="font-size:60px"><b>Notes</b></span>

<br/>

<% @school_notes.each do |school| %>
  <span style ="font-size:50px"><b><%= school.name %></b></span><br/>
 
  <% school.notes.each do |note| %>
  
<div class="mobile_status_left">
  <div class="mobile_large_font">
    Status: <%= note.complete? ? 'Completed' : 'Incomplete' %>
  </div>
</div>

<div class="mobile_status_right">
  <%= link_to "View", note_path(school.id, note.id), class: "btn-blue_mobile2" %>
</div>  

  <br/>
  <hr>

  <div class="mobile_large_font">[<i><%= note.created_at.to_time %></i>]</div>
  <br/>  

    <div class="mobile_large_font"><%= note.note %></div>
 
  <br/>
  
  
    <div class="mobile_large_font"><strong>Response:</strong> <%= note.action %></div>
  <br/>
  
  <hr><hr>
  <% end %>

<% end %>
</div>