<h1>Notes</h1>

<% @school_notes.each do |school| %>
  <h4><%= school.name %></h4>
  <hr>
  <% school.notes.each do |note| %>
  <div class="row">
    <div class="col-sm-2">
      <%= note.created_at.to_time.try(:strftime, '%B %e %Y') %>
    </div>
    <div class="col-sm-8">
      <%= note.note %>
    </div>
    <div class="col-sm-2">
      Status: <%= note.complete? ? 'Completed' : 'Incomplete' %><br/>
      <%= link_to "View", note_path(school.id, note.id), class: "btn btn-primary" %>

    </div>
  </div><br/>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10"><strong>Response:</strong> <%= note.action %></div>
  </div><br/>
  <hr>
  <% end %>

<% end %>