<style>

.mobile_response_form {
    width: 100%;
    margin: 237px 0px 0px 0px;
}

.mobile_response {
  font-size: 52px;
  line-height: 60px;
  height: 300px;
}

.mobile_label_font3 {
  font-size: 40px;
}

.container {
  width: 100%; !important
}    

.container-fluid {
  width: 100%; !important
}

.mobile_large_font {
  font-size: 33px;
}

.check_box_mobile {
  font-size: 33px;
  line-height: 33px;
}

</style>

<div class="mobile_response_form">
<span style ="font-size:60px"><b>
  <%= @school_note.name %>
</b></span>
<hr>
<span style="font-size:40px">
  <%= @school_note.city.try(:name) %>: <%= @school_note.district.try(:name) %><br/>
  Address: <%= @school_note.address %><br/>
  Phone: <%= @school_note.phone %><br/>
  Principal: <%= @school_note.principal %><br/>
<form action="MAILTO:Ethanph89@gmail.com" method="post" enctype="text/plain">
  <input type="submit" value="Send email"><br/>
</form>
  Secretary: <%= @school_note.secretary %><br/>
<form action="MAILTO:Ethanph89@gmail.com" method="post" enctype="text/plain">
  <input type="submit" value="Send email">
</form>
</span>
<hr>

<span style ="font-size:60px"><b>
  Notes
</b></span>
<hr>

<%= form_for(@school_note, :url => updatenote_school_note_path) do |f| %>

<%= f.fields_for :notes, @note do |builder| %>

<div class="mobile_large_font">[<i><%= @note.created_at.to_time %></i>]</div>
  <br/>
<div class="mobile_large_font"><%= @note.note %></div>
  <br/>
<div class="mobile_large_font">Completed? <%= builder.check_box :complete, input_html: { class: 'check_box_mobile' } %></div><br/>
  <br/>

<span style ="font-size:33px"><b>Response:</b></span> <%= builder.text_area :action, class: "mobile_response" %>
 <br/>
<hr>
  <% end %>

  <br/>
<span class="mobile_label_font3">
  <%= link_to_add_fields "Add New Note to School", f, :notes %>
</span>
  <br/><br/>
<span style="font-size:40px">
  <%= f.submit "Save response" %>
</span>
  <br/><br/>
<% end %>
</div>
