<h4><%= @school_note.name %></h4>
<hr>
<%= @school_note.city.try(:name) %>: <%= @school_note.district.try(:name) %><br/>
Address: <%= @school_note.address %><br/>
Phone: <%= @school_note.phone %><br/>

Principal: <%= @school_note.principal %><br/>
Secretary: <%= @school_note.secretary %><br/>
<hr>

<h4>Notes</h4>

<%= form_for(@school_note, :url => updatenote_school_note_path) do |f| %>

<%= f.fields_for :notes, @note do |builder| %>
<div class="row">
    <div class="col-sm-2">
      <%= @note.created_at.to_time %>
    </div>
    <div class="col-sm-8">
      <%= @note.note %>
    </div>
    <div class="col-sm-2">
      Completed? <%= builder.check_box :complete %><br/>

    </div>
  </div><br/>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10"><strong>Response:</strong> <%= builder.text_area :action  %></div>
  </div><br/>
  <hr>
  <% end %>

  <br/>
  <%= f.submit "Save response" %>
<% end %>
