<h4><%= @school.name %></h4>
<hr>
<%= @school.city.try(:name) %>: <%= @school.district.try(:name) %><br/>
Address: <%= @school.address %><br/>
Phone: <%= @school.phone %><br/>

Principal: <%= @school.principal %><br/>
Secretary: <%= @school.secretary %><br/>
<hr>

<h4>Notes</h4>

<%= form_for(@school) do |f| %>
	<%= f.fields_for :notes do |builder| %>
	  <%= render 'note_fields', f: builder %>
	<% end %>
	  <%= link_to_add_fields "Add New Note", f, :notes %><br/>
	  <hr>
<%= f.submit %>
<% end %>
