<style>
	
.mobile_note_form {
    width: 100%;
    margin: 237px 0px 0px 0px;
}

.mobile_school_font {
	font-size: 30px;
}

.mobile_label_font {
	font-size: 35px;
}
.mobile_label_font2 {
	font-size: 35px;
}
	
</style>

<div class="mobile_note_form">
<h2><%= @school.name %></h2>
<hr>
<div class="mobile_school_font">
<%= @school.city.try(:name) %>: <%= @school.district.try(:name) %><br/>
Address: <%= @school.address %><br/>
Phone: <%= @school.phone %><br/>

Principal: <%= @school.principal %><br/>
Secretary: <%= @school.secretary %><br/>
</div>
<hr>

<h2>Notes</h2>

<%= form_for(@school, :url => updatenote_school_note_path(@school)) do |f| %>
	<%= f.fields_for :notes do |builder| %>
	  <%= render 'note_fields', f: builder %>
	<% end %>
	<span class="mobile_label_font2"><%= link_to_add_fields "Add New Note to School", f, :notes %></span><br/><br/>
	  <hr>
<span class="mobile_label_font2"><%= f.submit %></span>
<% end %>
</div>