<h4><%= @school_note.name %></h4>
<hr>
<%= @school_note.city.try(:name) %>: <%= @school_note.district.try(:name) %><br/>
Address: <%= @school_note.address %><br/>
Phone: <%= @school_note.phone %><br/>

Principal: <%= @school_note.principal %><br/>
Secretary: <%= @school_note.secretary %><br/>
<hr>

<h4>Projects</h4>

<%= form_for(@school_note) do |f| %>
  <%= f.fields_for :notes do |builder| %>
    <%= render 'note_fields', f: builder %>
  <% end %>
    <%= link_to_add_fields "Add New Project", f, :notes %>
<br/>
    <hr>
<%= f.submit %>
<% end %>
