<p id="notice"><%= notice %></p>

<p>
  <strong>Cdscode:</strong>
  <%= @school_note.cdscode %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school_note.name %>
</p>

<p>
  <strong>District:</strong>
  <%= @school_note.district_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @school_note.city_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school_note.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school_note.phone %>
</p>

<p>
  <strong>Principle:</strong>
  <%= @school_note.principle %>
</p>

<p>
  <strong>Secretary:</strong>
  <%= @school_note.secretary %>
</p>

<%= link_to 'Edit', edit_school_note_path(@school_note) %> |
<%= link_to 'Back', school_notes_path %>
