<h1>Shoob Photography</h1>
<h1>Contact</h1>
<p>

  From: <%= @contact.name %> <br/>
  User is a:<br/>
  <% if @contact.admin? %>
  Administrator<br/>
  <% end %>

  <% if @contact.teacher? %>
  Teacher<br/>
  <% end %>

  <% if @contact.parent? %>
  Parent:<br/>
  Student: <%= @contact.student %>, Grade: <%= @contact.grade %>, Teacher: <%= @contact.teacher_name %><br/>
  <% end %>
<br/>
 <hr>

 School: <br/><%= @contact.school %>  <br/>
 <hr>

  Address:<br/>
  <%= @contact.address %>, <%= @contact.city %><br/>
  <%= @contact.email %>, <%= @contact.phone %>
</p>
 <hr>

<p>

  <%= @contact.message %>
</p>