<h1>Shoob Photography</h1>
<h1>Receipt</h1>
<p>
  Order: <%= "#{@order.first_name.capitalize} #{@order.last_name.capitalize}" %>!
</p>
<div>
  <div>
    <b>Name:</b> <%= "#{@order.first_name} #{@order.last_name}" %>
  </div>
  <div>
    <b>Phone:</b> <%= @order.phone %>
  </div>
  <div>
    <b>Email:</b> <%= @order.email %>
  </div>

</div>
<br />
<div>
  <div>
    <b>Address:</b>
    <%= "#{@order.address} #{@order.city}, #{@order.state} #{@order.zip_code}" %>
  </div>
  <div>
    <b>Paid with:</b>
    <%= "#{@order.card_type.capitalize}" %>
  </div>

</div>
<p>
  <b>Order Number:</b>
  <%= @order.id %>
</p>

<p>
<table class="table">
  <tr>
    <td>Item</td>
  </tr>
<% @cart.items.each do |item| %>
  <tr>
  <td>
  <%= item.number %> <%= item.name %>: <%= number_to_currency item.price, :unit => "$" %>
  </td>
 
   </tr>
 <% end %>

 </table>
</p>

<h3>Total: <%= number_to_currency @order.price %></h3>
<br />
