<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @corder.cart_id %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @corder.ip_address %>
</p>

<p>
  <strong>First name:</strong>
  <%= @corder.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @corder.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @corder.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @corder.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @corder.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @corder.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @corder.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @corder.zip_code %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @corder.card_type %>
</p>

<p>
  <strong>Card expires on:</strong>
  <%= @corder.card_expires_on %>
</p>

<p>
  <strong>Price:</strong>
  <%= @corder.price %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @corder.shipping_address %>
</p>

<p>
  <strong>Shipping city:</strong>
  <%= @corder.shipping_city %>
</p>

<p>
  <strong>Shipping zip:</strong>
  <%= @corder.shipping_zip %>
</p>

<p>
  <strong>Shipping state:</strong>
  <%= @corder.shipping_state %>
</p>

<p>
  <strong>Processed:</strong>
  <%= @corder.processed %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @corder.notes %>
</p>

<%= link_to 'Edit', edit_corder_path(@corder) %> |
<%= link_to 'Back', corders_path %>
