<style>

tbody, .btn-primary {
  font-size: 11px; 
}

thead {
  font-size: 16px;
  text-align: center;
}

td {
  border: 1px;
  text-align: center;
}

</style>

<%= link_to "Back to dashboard", admin_dashboards_path, class: "btn-blue" %>

<%  bucket = AWS::S3::Bucket.new('shoobphoto') %>

<% s3object = AWS::S3::S3Object.new(bucket, "csvs/#{Export.last.file_path}") %>
      

<% @image_url = s3object.url_for(:read, :expires => 60.minutes, :use_ssl => true) %>

<div class="row">
<div class="col-sm-6">

<%= link_to 'Generate the latest CSV File of Orders', corder_export_path(Corder.first.id) %><br />

<% if Export.last.file_path.nil? %>
<a href="#" download class="btn btn-disabled btn-primary">The CSV is still being processed. Please refresh in a few minutes.</a>
<% else %>
<a href="<%= @image_url %>" download class="btn btn-primary">Download <%= Export.last.file_path %></a>
<% end %>
</div>
<div class="col-sm-6">
<%= form_tag('/corders/import/', multipart: true) do %>

  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>
</div>

<br/>

<table>
  <thead>
    <tr><b>
      <td></td> 
      <td>ID</td>
      <td>Date</td>
      <td>School</td>
      <td>First name</td>
      <td>Last name</td>
      <td>Email</td>
      <td>Address</td>
      <td>City</td>
      <td>State</td>
      <td>Zip code</td>
      <td>Price</td>
      <td>Shipping address</td>
      <td>Shipping city</td>
      <td>Shipping zip</td>
      <td>Shipping state</td>
      <td>Processed</td>
      <td colspan="3"></td>
    </b></tr>
  </thead>

  <tbody>
    <% @corders.each do |corder| %>
      <tr>
        <td><%= link_to "More info", corder_show_path(corder.id), remote: true, class: "btn btn-primary" %></td>
        <td><%= corder.id %></td>
        <td><%= corder.created_at %></td>
        <td><%= corder.schools %></td>
        <td><%= corder.first_name %></td>
        <td><%= corder.last_name %></td>
        <td><%= corder.email %></td>
        <td><%= corder.address %></td>
        <td><%= corder.city %></td>
        <td><%= corder.state %></td>
        <td><%= corder.zip_code %></td>
        <td><%= corder.price %></td>
        <td><%= corder.shipping_address %></td>
        <td><%= corder.shipping_city %></td>
        <td><%= corder.shipping_zip %></td>
        <td><%= corder.shipping_state %></td>
        <td id="corder_<%= corder.id %>">

          <% if corder.processed? %>
          <%= render :partial => 'processed', :locals => {:corder => corder} %>
          <% else %>
          <%= render :partial => 'unprocessed', :locals => {:corder => corder} %>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

