<%= simple_form_for @porder, :url => {:action => "confirm", class: "form-control"} do |f| %>
<%= f.hidden_field :project_id, :value => @project.id %>

<%= errors_for(@porder) %>

<% if !@free %>
  <div class="porder_prompt">
    <p>How would you like to pay for this project order?</p>
    <div class="option_holder" id="credit_card">
      Credit Card
    </div>
    <div class="option_holder" id="purchase_order">
      Purchase Order
    </div>
  </div>
<% end %>

<div class="purchase_order">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <h3>Purchase Order Information</h3>
        <hr >
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <%= f.text_field :purchase_order, class: "enjoy-css", :placeholder => "Purchase Order Number" %>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<div class="credit_info">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      	<h3>Credit Card Information</h3>
        <hr >
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <%= f.text_field :card_number, class: "enjoy-css", :placeholder => "Credit Card Number" %>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-xs-2">
      <%= f.text_field :card_verification, class: "enjoy-css", :placeholder => "CVC" %>
    </div>
    <div class="col-sm-3">
      <%= f.select :card_type, Order::CardTypes, id: "card_type" %>
    </div>
    <div class="col-sm-3">
        <%= f.date_select :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
    </div>
     <div class="col-sm-2"></div>
  </div>
            
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-xs-10">
      <h3>Billing Address</h3>
      <hr >
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
          <%= f.text_field :address, :placeholder => "Address", class: "enjoy-css", id: "billingaddress" %>
    </div>
    <div class="col-sm-2"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-3">
          <%= f.text_field :city, :placeholder => "City", class: "enjoy-css", id: "billingcity" %>
    </div>
    <div class="col-sm-2">
          <%= f.text_field :zip_code, :placeholder => "Zip Code", class: "enjoy-css", :type => :number, id: "billingzip" %>
    </div>
    <div class="col-sm-3">
          <%= f.select :state, options_for_select(us_states),{prompt: "State"}, id: "billingstate" %>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-xs-10">
    <% if !@free %>
      <h3>Shipping Address    &nbsp; <label for="ship_to_billing_address"> <input type="checkbox" name="ship_to_billing_address" id="ship_to_billing_address" /> Check if the billing address is the same as your shipping address</label></h3>
    <% else %>
      <h3>Shipping Address</h3>
    <% end %>
        <hr >
  </div>
</div>
      

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
        <%= f.text_field :shipping_address, :placeholder => "Address", class: "enjoy-css", id: "shippingaddress" %>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-3">
        <%= f.text_field :shipping_city, :placeholder => "City", class: "enjoy-css", id: "shippingcity" %>
  </div>
  <div class="col-sm-2">
        <%= f.text_field :shipping_zip, :placeholder => "Zip Code", class: "enjoy-css", :type => :number, id: "shippingzip" %>
  </div>
  <div class="col-sm-3">
        <%= f.select :shipping_state, options_for_select(us_states),{prompt: "State"}, id: "shippingstate" %>
  </div>
  <div class="col-sm-2"></div>
</div>

<br />

<div class="row">
<div class="col-sm-8">

</div>
<div class="col-sm-2">
  <strong>Total: <%= number_to_currency (@porder.price)  %></strong>


</div>
<div class="col-sm-2">
  <%= f.submit 'Confirm purchase', class: "btn btn-custom btn-loading" %>
  </div>
  </div>
<% end %>

<br />

<script type="text/javascript">
$(".credit_info").hide();
$(".purchase_order").hide();

$("#purchase_order").click(function() {
  $(".purchase_order").show();
  $(".porder_prompt").hide();
});

$("#credit_card").click(function() {
  $(".credit_info").show();
  $(".porder_prompt").hide();
});

$("input#ship_to_billing_address").click(function(){ 
if ($("input#ship_to_billing_address").is(':checked')) 
{ 
    // Checked, hide shipping address 
   $("#shipping_address_form_part").hide(500);
} 
$('#shippingaddress').val($('#billingaddress').val()); 
$('#shippingzip').val($('#billingzip').val());
$('#shippingstate').val($('#billingstate').val());  
$('#shippingcity').val($('#billingcity').val()); 
});
$(".btn-loading").on("click", function() {
  $('#myModal').modal('show');
  $("#modal-window").html("<%= escape_javascript(render partial: 'orders/loading') %>"); 
});
$(document).ready(function() { 
  $("#shippingstate").select2({
    theme: "bootstrap",
    width: '110%',
  });
  $("#billingstate").select2({
    theme: "bootstrap",
    width: '104%',
  });
  
  $("#gradedropdown").select2({
    theme: "bootstrap",
    width: '117%',
    minimumResultsForSearch: Infinity
  });

  $("#porder_card_type").select2({
    theme: "bootstrap",
    width: '100%',
    minimumResultsForSearch: Infinity
  });
  $("#porder_card_expires_on_1i").select2({
    theme: "bootstrap",
    width: '100%',
    minimumResultsForSearch: Infinity
  });

  $("#porder_card_expires_on_2i").select2({
    theme: "bootstrap",
    width: '100%',
    minimumResultsForSearch: Infinity
  });
    $('.select2-selection').css('border-radius','0px')
  $('.select2-selection').css('border','2px solid #9D9D9D')
  $('.select2-selection').css('font','normal 16px/normal "Trebuchet MS", Helvetica, sans-serif')
  $('.select2-selection').css('margin-bottom','20px') 
  $('.select2-selection').css('padding-top','9px')
  $('.select2-selection').css('height','44px')
  $('.select2-container').children().css('border-radius','0px')
});
</script>