<h1>Shoob Photography - Award List</h1>
<h3>Attached is a CSV file of the students</h3>
<p>
  Secretary's name: <%= @export.user.first_name %> <%= @export.user.last_name %>

</p>

<p>
  Secretary's email: <%= @export.user.email %> 

</p>
<p>
  School: <%= @export.school.name %>
</p>

<p>
  Additional data: <%= @export.data %>
</p>
<hr>

<% @export.awards.each do |award| %>
<p>
  Award title: <%= award.title %>
</p>

<p>
  Award abbreviation: <%= award.abbreviation %>
</p>


<p>
  Awarded for: <%= award.awarded_for %>
</p>

<p>
  Definition: <%= award.awarded_for %>
</p>

<p>
  Time Period: <%= award.time_period %>
</p>

<p>
  <% unless award.award_date.nil? %>
  Award date: <%= award.award_date.strftime("%B %d, %Y") %>
  <% end %>
</p>
<hr>

<% end %>

