<h1>Shoob Photography - Award List</h1>
<h3>Attached is a CSV file of the students</h3>
<p>
  Secretary's name: <%= @export.name %>
</p>
<p>
  School: <%= @export.school.name %>
</p>
<p>
  Award title: <%= @export.title %>
</p>

<p>
  Award date: <%= @export.date.strftime("%B %d, %Y") %>
</p>
<p>
  Delivery date: <%= @export.delivery.strftime("%B %d, %Y") %>
</p>

<p>
  Additional data: <%= @export.data %>
</p>