<h1>Shoob Photography</h1>
<h1>Award List</h1>
<p>
  Secretary's name: <%= @export.name %>
</p>
<p>
  School: <%= @export.school %>
</p>
<p>
  Award title: <%= @export.title %>
</p>

<p>
  Award title: <%= @export.title %>
</p>
<p>
  Award date: <%= @export.date.strftime("%B %d, %Y") %>
</p>
<p>
  Delivery date: <%= @export.delivery.strftime("%B %d, %Y") %>
</p>

<p>
  Additional data: <%= @export.data %>
</p>