<% bucket = AWS::S3::Bucket.new('shoobphoto') %>
 <% objects = bucket.objects.with_prefix('AutoCSV/output').collect(&:key).drop(1) %>

<% if objects.any? %>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  	Processing. Errors, if any, will appear below.<br/>
  	Success: <%= @auto.try(:success_count) %><br/>
  	Failed: <%= @auto.try(:failed_count) %>
</div>
<% else %>
<div class="alert alert-success" role="alert">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  CSV was transferred to the site successfully - updating student data. The progress is shown below.<br/>
  	Success: <%= @auto.try(:success_count) %><br/>
  	Failed: <%= @auto.try(:failed_count) %>
</div>
<% end %> 

<% if @auto.student_errors.any? %>
<div class="row">
	<div class="col-xs-6">
		<h3>Error</h3>
	</div>
	<div class="col-xs-6">
		<h3>Information</h3>
	</div>
</div>
	<% @auto.student_errors.each do |error| %>
		<div class="row">
			<div class="col-xs-6">
				<%= error.error_description %>
			</div>
			<div class="col-xs-6">
			<%= error.error_text %>
		</div>
	</div>
	<% end%>

<% end %><br/>



<script>
 $(document).ready(
         function() {
          setInterval(function() {
           	$.get('/autos/' + <%= @auto.id %>).success(function(data) { } )


        }, 10000);
    });
</script>





