<h1>Shoob Photography</h1>
<h1>Receipt</h1>
<p>
  Thank you for your order, <%= "#{@order.first_name.capitalize} #{@order.last_name.capitalize}" %>!
</p>
<div>
  <div>
    <b>Name:</b> <%= "#{@order.first_name} #{@order.last_name}" %>
  </div>
  <div>
    <b>Phone:</b> <%= @order.phone %>
  </div>
  <div>
    <b>Email:</b> <%= @order.email %>
  </div>

</div>
<br />
<% unless @order.free? %>
<div>
  <div>
    <b>Address:</b>
    <%= "#{@order.address} #{@order.city}, #{@order.state} #{@order.zip_code}" %>
  </div>
  <div>
    <b>Paid with:</b>
    <%= "#{@order.card_type}" %>
  </div>

</div>
<% end %>
<p>
  <b>Order Number:</b>
  <%= @order.id %>
</p>

<p>
<table class="table">
  <tr>
    <td>Student's name</td>
    <td>Package</td>
  </tr>
<% @cart.students.each do |student| %>
  <tr>
  <td>
  <%= student.first_name %> <%= student.last_name %>
  </td>
  <td>
  <% @cart.order_packages.where(:student_id => student.id).each do |o| %>
  <% o.options.each do |option| %>

      <%= number_to_currency(option.price, :unit => "$") %>  - <%= option.package.name %> - <%= option.name %><br/>

      <% o.extras.each do |extra| %>
        <%= number_to_currency(extra.prices.first.try(:price), :unit => "$") %> - <%= extra.name %> <br/>
      <% end %>

      <% if o.package.shippings.where(:school_id => student.school.id).any? %>
          + <%= number_to_currency(o.package.shippings.where(:school_id => student.school.id).first.price, :unit => "$") %> shipping
          <% elsif o.package.shippings.where(:school_id => nil).any? %>
          + <%= number_to_currency(o.package.shippings.where(:school_id => nil).first.price, :unit => "$") %> shipping
        <% end %>
      <hr>

      <ul>
        <% o.addon_sheets.each do |addon| %>
        <li>
          <% if option.without? %>
          <%= number_to_currency(addon.addon.price_without, :unit => "$") %>
          <% else %>
          <%= number_to_currency(addon.addon.price_with, :unit => "$") %> - 
          <% end %> 
          <%= addon.addon.name %>: <strong><%= addon.senior_image.url.downcase %></strong>
        </li>
        <% end %>
        </ul>
  <% end %>

  <% if o.try(:extra_poses) != 0 && o.try(:extra_poses) != nil %>
        + $<%= o.extra_poses*25 %>.00 (Extra Pose)
        <% end %>

        <% if o.sheets.any? %><br/><br/>
        <ul>

          <% ImageType.find(o.sheets.pluck(:image_type_id).uniq).each do |image_type| %>
          <% o.sheets.where(:image_type_id => image_type.id).each do |sheet| %>
          <li>(<%= ImageType.count_types(image_type.id) %>) <%= ImageType.name_out(image_type.id) %>: <%= sheet.senior_image.url.downcase %></li>
          <% end %>
          <% end %>
        </ul>
        <% unless o.senior_image_id.nil? %>
          <ul>
            <li>Yearbook Pose: <%= SeniorImage.find(o.senior_image_id).url.downcase %></li>
          </ul>
        <% end %>
        <% end %>



  <% end %>
  </td>
   </tr>
 <% end %>

 </table>
</p>

<h3>Total: <%= number_to_currency @order.price %></h3>
<br />
