
<div class="modal-dialog" id="lesson_resources">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Student Awards List</h4>
      </div>
      <div class="modal-body centered">
        <%= simple_form_for(@export_list, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" id="text">
  	<%= f.input :name, :label => "Secretary's Name" %>
  	<%= f.input :school %>
  	<%= f.input :title, :label => "Award Title" %>
    <div class="row">
      <div class="col-sm-6">
  	   <%= f.input :date, :label => "Award Date" %>
      </div>
      <div class="col-sm-6">
  	   <%= f.input :delivery, :label => "Delivery Date" %>
      </div>
    </div>
 	  <%= f.input :data, :label => "Additional Data (GPA, Character Trait, etc)" %>


  </div>

  



      <div class="form-actions">
      <div class="modal-footer">
    <%= f.button :submit, "Export list", class: "btn-export" %>
      </div>   
      </div>   
      <% end %>

    </div>
  </div>
</div>

<script>
   $(".btn-export").on("click", function() {
     $('#myModal').modal('hide');
   
   });
</script>
