<div class="row">
  <div class="col-sm-6">
<% unless @subcat.nil? %>
<h4 class="<%= @subcat.category.name.downcase %>" id="cat"><%= @subcat.name.upcase %></h4>
<% end %>
</div>

<%= form_tag(items_search_path(@cart.id), method: :get, remote: true) do %>
<div class="col-sm-4">
<%= text_field_tag :find, nil, placeholder: "Search", class: "form-control" %>
</div>
<div class="col-sm-2">
<%= submit_tag "Submit", class: "btn btn-primary" %>
</div>
<% end %>
</div>


<hr>
<div id="itemtable" class="animated fadeIn">

  <% @items.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |item| %>
    

      <div class="col-sm-4" id="preview">
        <%= link_to(items_preview_path(item.id, @cart.id), remote: true) do %>
        <div class="row">
        <div class="col-sm-3">
        <%= image_tag(item.thumb.url, class: "img img-rounded") %>
        </div>
         <div class="col-sm-9">
        <span class="grey"><%= item.number %></span><br/>
        <strong><%= item.name %></strong>
      </div>
    </div>
    <% end %>
      </div>
      
    <% end %>
  </div><br/>

  <% end %>


</div>