<% if is_mobile_request? %>
<div class="row">
  <div class="col-sm-8">
<% unless @subcat.nil? %>
<div class="grey small header" id="header"><%= link_to "Catalog Items", items_all_path(@cart.id), remote: true %> > <strong><%= @subcat.category.name %></strong> > <%= @subcat.name.titleize %></div>
<h4><%= @subcat.name.titleize %></h4>
<% else %>
<div class="grey small header" id="header">Catalog Items</div>
<% end %>
</div>
<div class="col-sm-4">
  Your Cart <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> (<span id="quantity"><%= @cart.items.count %>) <% if @cart.items.any? %><%= link_to "Checkout", items_quantity_path(@cart.cart_id), class: "checkout" %><% end %></span>

</div>


</div>


<hr>
<div id="itemtable" class="animated fadeIn">

  <% @items.each_slice(2) do |slice| %>
  <div class="row">
    <% slice.each do |item| %>
     

      <div class="col-sm-6" id="preview">
        <%= link_to(items_preview_path(item.id, @cart.id, :subcat_id => @subcat_id), remote: true) do %>

        <%= image_tag(item.main.url, class: "img-item") %><br/>
       
        <span class="grey"><%= item.number %></span><br/>
        <p class="item_title_mobile"><%= item.name %><br/>
        <%= item.price == 0 ? 'FREE' : "#{number_to_currency(item.price, :unit => "$")}" %> <%= 'per page' if item.per_page? %>
        </p>
    <% end %>
      </div>
      
    <% end %> 
  </div><br/>

  <% end %>


</div>
<% else %>
<div class="row">
  <div class="col-sm-8">
<% unless @subcat.nil? %>
<div class="grey small header" id="header"><%= link_to "Catalog Items", items_all_path(@cart.id), remote: true %> > <strong><%= @subcat.category.name %></strong> > <%= @subcat.name.titleize %></div>
<h4><%= @subcat.name.titleize %></h4>
<% else %>
<div class="grey small header" id="header">Catalog Items</div>
<% end %>
</div>
<div class="col-sm-4">
  Your Cart <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> (<span id="cart_quantity"><%= @cart.items.count %>) <% if @cart.items.any? %><%= link_to "Checkout", items_quantity_path(@cart.cart_id), class: "checkout" %><% end %></span> 

</div>


</div>


<hr>
<div id="itemtable" class="animated fadeIn">

  <% @items.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |item| %>
    

      <div class="col-sm-4" id="preview">
        <%= link_to(items_preview_path(item.id, @cart.id, :subcat_id => @subcat_id), remote: true) do %>

        <%= image_tag(item.main.url, class: "img-item") %><br/>
       
        <span class="grey"><%= item.number %></span><br/>
        <p class="item_title"><%= item.name %><br/>
        <%= item.price == 0 ? 'FREE' : "#{number_to_currency(item.price, :unit => "$")}" %> <%= 'per page' if item.per_page? %>
        </p>
    <% end %>
      </div>
      
    <% end %> 
  </div><br/>

  <% end %>


</div>
<% end %>