<div class="col-sm-3">
  <div class="title">Catalog Items</div>
<%= form_tag(items_search_path(@cart.id), method: :get, remote: true) do %>
<div class="row">
  <div class="col-sm-7">
<%= text_field_tag :find, nil, placeholder: "Search", class: "form-control" %>
</div>
<div class="col-sm-2">
<%= submit_tag "Submit", class: "btn btn-custom" %>
</div> 
</div>
<% end %><br/>
      <% Category.all.order(:name).each_with_index do |category, i| %>
        <span class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div role="tab" id="heading_<%= i %>">
      <h4 class="panel-title" id="category_name">
        <a class="category_name" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= i %>" aria-expanded="<%= @category.id == category.id ? true : false %>" aria-controls="collapse_<%= i %>">
          <%= category.name.upcase %>
        </a>
      </h4>
    </div>
    <div id="collapse_<%= i %>" class="panel-collapse collapse <%= "in" if @category.id == category.id %>" role="tabpanel" aria-labelledby="heading_<%= i %>">
      <div class="panel-body">
       <ul class="list-unstyled indent" id="subcat">
        <% category.subcategories.order(:name).each do |scategory| %>
        <li class="panel-title small">
          <p class="noline" id="category_name"><span id="<%= scategory.id %>"><%= link_to "#{scategory.name.titleize}", items_filter_path(@cart.id, scategory.id), remote: true, class: "blacka" %></span></p></li>
        <% end %>
        </ul>
      </div>
    </div>
</span>
      
      <% end %>
</div>

