<% unless @cart.nil? %>
<div class="modal-dialog" id="lesson_resources">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <br/>

      </div>
      <div class="modal-body" align="center">
    <div class="row">
      <div class="col-xs-5">
      <%= image_tag(@item.main.url, class: "img img-preview") %>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
          <%= link_to items_previous_path(@item.id, @cart.id, :subcat_id => @subcat_id), remote: true, class: "item-btn" do %>
          <span class="glyphicon glyphicon-chevron-left"></span> Prev
        <% end %>
      </div>
      <div class="col-sm-2">
              <%= link_to items_next_path(@item.id, @cart.id, :subcat_id => @subcat_id), remote: true, class: "item-btn" do %>
          <span class="glyphicon glyphicon-chevron-right"></span> Next
        <% end %>
      </div>
      <div class="col-sm-4"></div>
    </div>
    </div>
    <div class="col-xs-7">
      <p class="item_title_show">
        <%= @item.number %> - <%= @item.name %><br/>
        <span class="grey">
        <%= @item.price == 0 ? 'FREE' : "#{number_to_currency(@item.price, :unit => "$")}" %> <%= 'per page' if @item.per_page? %>
      </span>
        </p>
      </p>
          <br/><br/>

    <%= form_tag(add_item_path(@cart.id, @item.id), method: :get, remote: true) do %>
    <p class="item_title_show">Format
      <%= select_tag :format, options_for_select(["#{@item.format}", 'Instant Download', 'Both'].collect.with_index.to_a), id: "type_dropdown" %>
    </p>
    
    <p class="item_title_show">Qty
    <%= select_tag :quantity, options_for_select((1..10).step(1).collect.with_index.to_a), id: "quantity" %></p>
    
    <br/>
    <div align="left" id="<%= @item.id %>">
    <%= submit_tag "ADD TO CART", class: "btn-blue" %>
  </div>
    <% end %>
    </div>


    </div>
      

<br/>
<br/>



    </div>
  </div>
</div>
<% end %>

<script>

$(document).ready(function() { 
  $( "#type_dropdown" ).select2({
    theme: "bootstrap",
    width: '20%',
    height: '20px',
    minimumResultsForSearch: Infinity
});
   $( "#quantity" ).select2({
    theme: "bootstrap",
    width: '20%',
    height: '20px',
    minimumResultsForSearch: Infinity
});
  $('.select2-selection').css('border-radius','0px')
  $('.select2-selection').css('border','2px solid #9D9D9D')
  $('.select2-selection').css('font','normal 16px/normal "Trebuchet MS", Helvetica, sans-serif')
  $('.select2-selection').css('margin-bottom','20px') 
  $('.select2-selection').css('padding-top','9px')
  $('.select2-selection').css('height','44px')
  $('.select2-container').children().css('border-radius','0px')

 });


</script>