<div class="" id="table">
<table id="catalog">
  <thead>
    <th></th>
    <th>
      Item #
    </th>

    <th>
      Description 
    </th>

    <th>
      Price
    </th>
    <th>
      Preview
    </th>
    <th>
    </th>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td id="preview">
          <%= image_tag(item.thumb.url, class: "img img-rounded") %>
        </td>
        <td>
          <%= item.number %>
        </td>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= free(item.price) ? "Free" : "#{number_to_currency(item.price, :unit => "$")}" %> <%= "per page" if item.per_page? %>
        </td>
        <td>
          <%= link_to "Preview", item_path(item), remote: true, class: "btn btn-custom" %>
        </td>
        <td>
        <div id="<%= item.id %>">
        <% if item.cart_items.where(:cart_id => @cart.id).any? %>
          <%= link_to "Remove", items_remove_path(item, :cart_id => @cart.cart_id), remote: true, class: "btn btn-danger" %>
          <% else %>
          <%= link_to "Add to cart", items_add_path(item, :cart_id => @cart.cart_id), remote: true, class: "btn btn-primary" %>
        <% end %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table><br />
*Posters are 11x17 unless marked otherwise


</div>
<br/>
<div class="row">
<div class="col-sm-10"></div>
<div class="col-sm-2" align="right">
<%= link_to "Continue", items_quantity_path(@cart.cart_id), class: "btn btn-custom" %>
</div>
</div>