$('#<%= @item.id %>').html('<%= escape_javascript(render(:partial => 'remove', :locals => {:item => @item, :cart => @cart})) %>');
$('.notice').html('<p class="alert alert-info animated fadeInDown" align="center">You cart now has <%= pluralize(@cart.cart_items.count, "item") %>, totalling at <%= number_to_currency(@price, :unit => "$") %>.</p>');

$('#quantity').html('<%= escape_javascript(render(:partial => 'quantity', :locals => {:cart => @cart})) %>');
