<h1>Listing jtypes</h1>

<table>
  <thead>
    <tr>
      <th>Jobtype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jtypes.each do |jtype| %>
      <tr>
        <td><%= jtype.jobtype %></td>
        <td><%= link_to 'Show', jtype %></td>
        <td><%= link_to 'Edit', edit_jtype_path(jtype) %></td>
        <td><%= link_to 'Destroy', jtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jtype', new_jtype_path %>
