<%  bucket = AWS::S3::Bucket.new('shoobphoto') %>

<% s3object = AWS::S3::S3Object.new(bucket, "csvs/#{Missing.last.try(:file_path)}") %>
      

<% @image_url = s3object.url_for(:read, :expires => 60.minutes, :use_ssl => true) %>

<%= link_to 'Generate the latest CSV File of Missing Images', missing_admin_dashboards_path %><br />

<% if Missing.last.file_path.nil? %>
<a href="#" download class="btn btn-disabled btn-primary">The CSV is still being processed. Please refresh in a few minutes.</a>
<% else %>
<a href="<%= @image_url %>" download class="btn btn-primary">Download <%= Missing.last.file_path %></a>
<% end %>

<h4 align="center"> CSV Import Instructions </h4>
<div align="center">



Lay out the CSV with the first row headers. The headers need to be spelled exactly as the example, but the order does not matter.<br />

<%= image_tag("download_image.jpg", class: "img-rounded") %><br />
</div>


</ul>
<br />


<div align="left">
<%= form_tag import_admin_dashboards_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= 
	    collection_select(
	    :school,
	    :id,
	    School.where.not(school_type_id: nil).order(:name), 
	    :id, 
	    :name,
	    {:prompt => false}, {:class => "form-control"}) %>
  <%= submit_tag "Import", class: "btn btn-primary" %>
<% end %>
</div>