<%= simple_form_for [:admin, @user], html: {class: 'form-horizontal' } do |f| %>
<div class="form-inputs">
<%= f.input :first_name %>
<%= f.input :last_name %>

<%= f.input :email %>
<% unless action_name == "edit" %>
<%= f.input :password, id: "password" %>
<span id="show_password"></span>
<%= f.input :password_confirmation, id: "password_confirmation" %>
<span id="show_password_confirmation"></span>
<% end %>
<%= f.association :school, collection: School.all.order(:name), as: :select %><br/>
<%= f.input_field :school_admin, as: :boolean, inline_label: 'School Administrator' %><br/>
<%= f.input_field :principal, as: :boolean, inline_label: 'Principal' %><br/>
<%= f.input_field :teacher, as: :boolean, inline_label: 'Teacher' %><br/>
<%= f.input_field :parent, as: :boolean, inline_label: 'Parent' %><br/>
<%= f.input_field :secretary, as: :boolean, inline_label: 'Secretary' %><br/>
<%= f.input_field :developer, as: :boolean, inline_label: 'Developer' %><br/>
<%= f.input_field :photographer, as: :boolean, inline_label: 'Photographer' %><br/>
<%= f.input_field :employee, as: :boolean, inline_label: 'Employee' %><br/>
</div>
<%= f.submit %>

<% end %>

<script>

$( "#user_password" ).blur(function() {
	$( "#show_password" ).html(this.value);
});

$( "#user_password_confirmation" ).blur(function() {
	$( "#show_password_confirmation" ).html(this.value);
});
</script>