<%= link_to "New User", new_admin_user_path %> | 
<%= link_to "Import CSV", csv_admin_users_path %>
<table class="table table">
	<tr>
		<th>
			Name
		</th>
		<th>
			Email
		</th>
		<th>
			School
		</th>
		<th>
			Last Sign In
		</th>
		<th>
			Privilege
		</th>
		<th>
			Edit
		</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td>
			<%= user.first_name %> <%= user.last_name %>
		</td>
		<td>
			<%= user.email %>
		</td>
		<td>
			<%= user.school.name %>
		</td>
		<td>
			<%= user.current_sign_in_at %>
		</td>
		<td>
			<%= "Admin" if user.admin %> <%= "School Administrator" if user.school_admin %> <%= "Principal" if user.principal %> <%= "Secretary" if user.secretary %> <%= "Parent Yearbook Advisor" if user.parent %>
		</td>
		<td>
			<%= link_to 'Edit', edit_admin_user_path(user) %>
			</td
	</tr>
	<% end %>

</table>