<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
  <div class="form-inputs">
    <%= f.input :name %>

  </div>
  <%= f.input :quantity %>
  <%= f.input :image, as: :file %>
  <%= f.label :_destroy, "Remove Exra" %>
  <%= f.check_box :_destroy %>

  <%= f.simple_fields_for :prices do |builder| %>
          <%= render 'price_fields', f: builder %>
  <% end %>

  <div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8"> 
  <%= link_to_add_fields "Add Prices", f, :prices %>
 </div>
 </div>
</div>
</div>


