<%= simple_form_for [:admin, @extra_type] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>

    

     <%= f.simple_fields_for :extras do |builder| %>
        <%= render 'extra_fields', f: builder %>
      <% end %>

      <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-11">
            <%= link_to_add_fields "Add Extras", f, :extras %>
        </div>
      </div>

      <%= f.association :options, as: :check_boxes, :label_method => lambda { |option| "#{option.package.name}: #{option.package.slug} | #{option.slug}" } %>
      

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
 