<fieldset>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">Price (in $): <%= f.input :price, label: false %></div>
  
  
  <div class="col-sm-2">


  <%= f.label :_destroy, "Remove Price" %>
  <%= f.check_box :_destroy %>


  </div>
</div>

<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-3"><%= f.input :begin, :include_blank => true, as: :date %></div>
	<div class="col-sm-3"><%= f.input :enddate, :include_blank => true, as: :date %></div>
	<div class="col-sm-4"><%= f.input :school_id, :collection => School.all.order(:name), as: :select %></div>
  	
  

</div>
</fieldset>
