
<br/><br/><br/>
<footer>
<div class="footer_mobile" align="center">
	<%= link_to "About Us", new_contact_path %><br/>
	<%= link_to "Order Online", student_search_path %><br/>
	<a href="/school_resources">School Resources</a><br/>
	<%= link_to "Order Online", student_search_path %><br/>
	<%= link_to "Privacy Policy", contacts_path %><br/>
	<% if current_user %>
				<%= link_to "Logout", destroy_user_session_path, method: :delete %><br/>
			<% else %>
				<%= link_to "Employee Login", new_user_session_path %><br/>
			<% end%>


</div>

</footer>

<style>
footer {
    background-color: #5392c8 !important;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 300px;
    width: 100%;
    overflow:hidden;
    margin-top:0px;
    padding-top:0px;
}
</style>