<div id="content"><%= link_to image_tag("logo_main.png", class: "ribbon"), root_url %></div>

<nav class="navbar navbar-default" id="blue">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav" style="float:right;">
                <li><%= link_to "ORDER ONLINE", student_splash_path(:i => nil, :cart => nil)%></li>
                <li><%= link_to "SCHOOL RESOURCES", '/school_support' %></li>
                <li><%= link_to "ABOUT US", new_contact_path %></li>
           

                <li class="gold"> 
                    <% if current_user %>
                    <%= link_to dashboard_pages_path do %>
                    <span class="glyphicon glyphicon-user" style="color:white"></span> &nbsp; DASHBOARD
                    <% end %>
                    <% else %>
                    <%= link_to new_user_session_path do %>
                    <span class="glyphicon glyphicon-user" style="color:white"></span> &nbsp; LOGIN
                    <% end %>    

                    <% end %>
                </li>

            </ul> 

      
        </div>
  </div><!-- /.container-fluid -->
</nav>



<style>
body {
    padding: 0px;
    margin: 0 0 100px; /* bottom = footer height */
}
</style>