<%= simple_form_for([:admin, @print]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :name %>
  	<%= f.input :price %>
  	<%= f.input :price_description %>
  </div>

  <%= f.simple_fields_for :print_sizes do |builder| %>
          <%= render 'print_size_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields "Add Sizes", f, :print_sizes %>


  <%= f.simple_fields_for :print_styles do |builder| %>
          <%= render 'print_style_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields "Add Styles", f, :print_styles %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
